.updatedWorkflowBuilderContainer {
	width: 100vw;
	height: 100vh;

	.react-flow__node {
		padding: 10px;
		border-radius: 5px;

		&.input {
			background: #d4f0fd;
			border: 1px solid #95d5f4;
		}

		&.output {
			background: #e6f4e6;
			border: 1px solid #b7dcb7;
		}
	}

	.react-flow__edge-path {
		stroke: #b1b1b7;
		stroke-width: 2;
	}

	.react-flow__edge.animated path {
		stroke-dasharray: 5;
		animation: dashdraw 0.5s linear infinite;
	}

	@keyframes dashdraw {
		from {
			stroke-dashoffset: 10;
		}
	}
}
