.gmailWidgetContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
	.gmailWidgetTitle {
		color: var(--primary-font, #f2f2f3);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 550;
		line-height: normal;
	}
	.gmailContent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		.subject {
			display: flex;
			gap: 8px;
			align-self: stretch;
			flex-direction: column;

			.subjectTitle {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 550;
				line-height: normal;
			}
			.subjectInput {
				background-color: transparent;
				border: none;
				resize: none;
				align-self: stretch;
				padding: 12px;
				border-radius: 12px;
				border: 1px solid var(--stroke, #2c2d2e);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: var(--primary-font, #f2f2f3);
			}
		}

		.to {
			display: flex;
			gap: 8px;
			align-self: stretch;
			flex-direction: column;
			.toTitle {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 550;
				line-height: normal;
			}
			.toInput {
				background-color: transparent;
				border: none;
				resize: none;
				align-self: stretch;
				padding: 12px;
				border-radius: 12px;
				border: 1px solid var(--stroke, #2c2d2e);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: var(--primary-font, #f2f2f3);
			}
		}

		.body {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
			align-self: stretch;
			width: 100%;

			.bodyHeader {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 550;
			}

			.gmailWidgetBody {
				padding: 20px;
				border-radius: 16px;
				border: 1px solid var(--stroke, #2c2d2e);
				width: 100%;

				.textarea {
					width: 100%;
					background-color: transparent;
					border: none;
					resize: none;
					align-self: stretch;
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: italic;
					font-weight: 500;
					line-height: 24px;
				}
			}
		}
	}

	.buttonsContainer {
		display: flex;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		.eachButton {
			display: flex;
			padding: 12px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			flex: 1 0 0;
			border-radius: 8px;
			background: var(--card-over-card, #1f2123);
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
			svg {
				path {
					fill: var(--secondary-font);
				}
			}
		}
		.sendSvg {
			svg {
				path {
					fill: none !important;
					stroke: var(--secondary-font);
				}
			}
		}
	}
}
