.home-page-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	padding: 0px 32px 32px 32px;
	gap: 50px;
	.home-page-container-header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 32px;
		gap: 50px;
		width: 100%;
		.home-page-container-content {
			display: inline-flex;
			justify-content: space-between;
			align-items: center;
			gap: 24px;
			.home-page-container-content-item {
				color: var(--secondary-font-color, #797e86);
				font-family: var(--primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
				&.active {
					color: var(--primary-font-color, #f2f2f3);
				}
			}
			.home-page-container-content-item-divider {
				width: 1px;
				height: 16px;
				background: #2f3032;
			}
		}
		.home-page-welcome-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			.home-page-welcome-container-left {
				display: inline-flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				width: 100%;
				.home-page-welcome-container-left-text {
					display: flex;
					flex-direction: column;
					.home-page-header-title-text {
						color: var(--primary-font-color, #f2f2f3);
						font-family: Inter;
						font-size: 40px;
						font-style: normal;
						font-weight: 500;
						line-height: 43px; /* 107.5% */
					}
					.home-page-header-sub-title-text {
						color: var(--secondary-font-color, #797e86);
						font-family: Inter;
						font-size: 40px;
						font-style: normal;
						font-weight: 500;
						line-height: 43px;
					}
				}
				.home-page-welcome-container-left-text-options {
					display: flex;
					flex-direction: row;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					position: sticky;
					top: 0;
					.home-page-welcome-container-left-text-options-container {
						display: flex;
						flex-direction: row;
						gap: 16px;
						.home-page-welcome-container-left-text-option {
							color: var(--secondary-font-color, #797e86);
							font-family: Inter;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							display: flex;
							padding: 12px 16px;
							flex-direction: column;
							align-items: flex-start;
							gap: 12px;
							cursor: pointer;
							&.active {
								color: var(--primary-font-color, #f2f2f3);
							}
							.home-page-welcome-container-left-text-option-active-indicator {
								width: 100%;
								height: 2px;
								background: var(--primary-font-color, #f2f2f3);
							}
						}
					}
					.home-page-welcome-container-right {
						display: flex;
						flex-direction: row;
						padding-bottom: 15px;
						width: 268px;
						padding: 12px 16px;
						align-items: center;
						gap: 8px;
						border-radius: 50px;
						background: #202123;
						.search-bar-input {
							background: #202123;
							border: none;
							color: var(--secondary-font-color, #797e86);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}
			}
		}
	}
	.home-page-cards-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		gap: 18px;
		opacity: 0;
		transition: 300ms;
		.home-page-cards-container-card {
			display: flex;
			width: 268px;
			height: 286px;
			padding: 24px;
			gap: 8px;
			flex-direction: column;
			align-items: flex-start;
			flex-shrink: 0;
			border-radius: 24px;
			background: #171819;
			cursor: pointer;
			&:hover {
				background: #202123;
			}
			.home-page-cards-container-card-sub-title {
				color: #797e86;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.home-page-cards-container-card-title {
				color: #f2f2f3;
				font-family: Inter;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 133.333% */
			}
		}
	}
	.show-home-page-cards-container {
		opacity: 1;
	}

	.home-page-dashboard-container {
		display: flex;
		flex-direction: row;
		gap: 18px;
		position: relative;
		transform: translateY(100vh);
		transition: 300s;
		opacity: 0;
	}
	.show {
		transform: translateY(0);
		opacity: 1;
	}
}
