.initial-home-page-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 32px);
	position: relative;
	padding: 32px 32px 0 32px;
	gap: 40px;

	.quick-actions-container {
		position: fixed;
		top: 32px;
		right: 32px;
		z-index: 1000;
	}

	.home-page-container-header {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		flex-shrink: 0;
		background: var(--background-color);
		margin-top: 85px;

		.title-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;
			align-self: stretch;

			.title-text {
				display: flex;
				align-items: center;
				gap: 5px;
				.title-one {
					color: var(--primary-font);
					text-align: center;
					font-family: var(--secondary-font-family);
					font-size: 36px;
					font-style: normal;
					font-weight: 600;
					line-height: 45px; /* 125% */
					margin: 0px;
				}
				.title-two {
					color: var(--primary-button, #79ecc9);
					font-family: var(--secondary-font-family);

					font-size: 36px;
					font-style: normal;
					font-weight: 600;
					line-height: 45px;
					@media screen and (max-width: 425px) {
						font-size: 24px;
						letter-spacing: -0.72px;
					}
				}
			}

			.sub-text {
				color: var(--secondary-font, #7a7e85);
				text-align: center;
				font-family: var(--secondary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}

	.home-page-container-content {
		width: 100%;
		flex-grow: 1;
		overflow-y: auto;
	}
}

.tooltipValue {
	display: inline-flex;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
	color: var(--primary-font, #f2f2f3);
	font-family: var(--primary-font-family);
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.tooltip-wrapper {
	max-width: unset;
}

@media screen and (max-width: 425px) {
	.initial-home-page-container {
		.home-page-container-header {
			margin-top: 45px;
		}
	}
}

@media screen and (max-width: 710px){
	.initial-home-page-container {
		.home-page-container-header {
			.title-container {
				.title-text {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.initial-home-page-container {
		.home-page-container-header {
			margin-top: 85px !important;
		}
	}
}
