.initial-home-page-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 32px);
	position: relative;

	.quick-actions-container {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.home-page-container-header {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		flex-shrink: 0;
		background: var(--background-color, #0c0c0d);
		margin-top: 85px;

		.title-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			gap: 12px;

			.title-text {
				.title-one {
					color: var(--primary-font);
					text-align: center;
					font-family: var(--secondary-font-family);
					font-size: 35px;
					font-style: normal;
					font-weight: 600;
					line-height: 60px;
					letter-spacing: -1.59px;
					@media screen and (max-width: 425px) {
						font-size: 24px;
						letter-spacing: -0.72px;
					}
				}
				.title-two {
					color: var(--secondary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-align: center;
				}
			}

			.sub-text {
				color: var(--secondary-font, #7a7e85);
				text-align: center;
				font-family: var(--primary-font-family);
				font-size: 22px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				overflow: hidden;
			}
		}
		.chatbox-wrapper {
			height: 60px;
			width: 700px;
			// margin-top: -20px;
			border-radius: 16px;
			@media screen and (max-width: 425px) {
				width: 350px;
			}
			.chatbox-container {
				height: 100%;
				position: relative;

				.chatParentWrapper {
					bottom: unset;
					top: 0px;
				}

				.textArea {
					max-height: 34px !important;
				}
			}
		}

		.options-container {
			display: flex;
			gap: 6px;
			margin-top: 10px;
			@media screen and (max-width: 425px) {
				flex-wrap: wrap;
			}
			.option {
				display: flex;
				height: 37px;
				padding: 8px 16px;
				align-items: center;
				gap: 10px;
				border-radius: 100px;
				border: 1px solid var(--stroke, #202123);
				cursor: pointer;
				box-sizing: border-box;
				.option-label {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 21px; /* 150% */
					display: flex;
					gap: 4px;
					align-items: center;
					svg {
						color: var(--secondary-font);
					}
				}
				&.active {
					border: 1px solid var(--primary-button, #f2f2f3);
					.option-label {
						color: var(--primary-button);
						svg {
							color: var(--primary-button);
						}
					}
				}
				&:hover {
					.option-label {
						color: var(--primary-font);
						svg {
							color: var(--primary-font);
						}
					}
				}
			}
		}
	}

	.home-page-container-content {
		width: 100%;
		padding-top: 30px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.initial-home-page-container.minimized-animation .home-page-container-content {
	animation: height-minimize 0.5s linear forwards;
}

.initial-home-page-container.expanded-animation .home-page-container-content {
	animation: height-expand 0.5s linear forwards;
}

.initial-home-page-container.minimized-animation .sub-text {
	animation: text-minimize 0.5s linear forwards;
}

.initial-home-page-container.expanded-animation .sub-text {
	animation: text-expand 0.5s linear forwards;
}

.initial-home-page-container.minimized-animation .chatbox-wrapper {
	animation: chatbox-minimize 0.5s linear forwards;
	pointer-events: none;
	overflow: hidden;

	.chatbox-container {
		overflow: hidden;
	}
}

.initial-home-page-container.expanded-animation .chatbox-wrapper {
	animation: chatbox-expand 0.5s linear forwards, add-overflow 1s linear forwards;
	pointer-events: all;

	.chatbox-container {
		animation: add-overflow 1s linear forwards;
	}
}

.tooltipOption {
	display: flex;
	justify-content: center;
	padding: 12px 14px;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
	color: var(--primary-font, #f2f2f3);
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	align-self: stretch;
}

@keyframes height-minimize {
	from {
		height: calc(100vh - 295px);
	}
	to {
		height: calc(100vh - 220px);
	}
}

@keyframes height-expand {
	from {
		height: calc(100vh - 220px);
	}
	to {
		height: calc(100vh - 295px);
	}
}

@keyframes chatbox-minimize {
	from {
		height: 122px;
	}
	to {
		height: 47px;
	}
}

@keyframes chatbox-expand {
	from {
		height: 47px;
	}
	to {
		height: 122px;
	}
}

@keyframes add-overflow {
	0% {
		overflow: hidden;
	}
	100% {
		overflow: unset;
	}
}

@keyframes text-minimize {
	0% {
		height: 27px;
		margin-top: 0;
	}
	100% {
		height: 0;
		margin-top: -12px;
	}
}

@keyframes text-expand {
	0% {
		height: 0;
		margin-top: -12px;
	}
	100% {
		height: 27px;
		margin-top: 0;
	}
}

@media screen and (max-width: 1500px) {
	.initial-home-page-container {
		.home-page-container-header {
			margin-top: 0;
		}
	}
}
@media screen and (max-width: 425px) {
	.initial-home-page-container {
		.home-page-container-header {
			margin-top: 45px;
		}
	}
}
