.recentChatTooltip {
	display: flex;
	width: 250px;
	height: 400px;
	padding: 16px 14px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	border-radius: 16px;
	border: 1px solid var(--dividers, #1e1f20);
	background: var(--popup, #202123);
	position: relative;
	left: 103px;

	.chatList {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 527px;
		min-height: 0;
		gap: 4px;

		.chatHeaderTitle {
			color: var(--secondary-font, #94989e);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			flex-shrink: 0;
		}

		.emptyState {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;
			color: var(--secondary-font, #94989e);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.chatListWrapper {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: flex-start;
			height: fit-content;
			overflow-y: auto;
			overflow-x: hidden;

			.chatItem {
				display: flex;
				padding: 8px;
				align-items: center;
				gap: 10px;
				align-self: stretch;
				border-radius: 6px;
				cursor: pointer;
				width: 100%;
				min-width: 0;
				box-sizing: border-box;
				transition: background-color 0.2s ease;

				&:hover {
					background: var(--card, #242628);
				}
				&.active {
					background: var(--card);
				}

				.chatTitle {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					flex: 1;
					min-width: 0;
					color: var(--primary-font, #fff);
				}

				.activeChatIndicator {
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: var(--primary-button, #007bff);
				}
			}
		}
	}
}
