.verify-user-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 400px;
	width: 100%;
	height: 100%;
	justify-content: space-between; // Push terms to bottom
	margin-top: 0;

	.login-main-content {
		display: flex;
		flex-direction: column;
		gap: 40px;
		flex: 1; // Take available space
		justify-content: center; // Center vertically
	}

	.login-page-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		align-self: stretch;

		.login-page-title {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			.meetVeIndicator {
				display: flex;
				padding: 6px 16px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 100px;
				background: rgba(52, 160, 144, 0.1);
				color: #18181b;
				font-family: 'GeneralSans';
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: uppercase;
			}
			.title-one {
				color: var(--primary-font, #f2f2f3);
				text-align: center;
				font-family: var(--primary-font-family);
				font-size: 53px;
				font-style: normal;
				font-weight: 600;
				line-height: 60px; /* 113.208% */
				letter-spacing: -1.59px;
			}
			.titleContainer {
				display: flex;
				width: 620px;
				flex-direction: column;
				align-items: center;
				.title-two {
					color: var(--primary-font, #f2f2f3);
					text-align: center;
					font-family: 'Times New Roman';
					font-size: 48px;
					font-style: normal;
					font-weight: 400;
					line-height: 45px; /* 93.75% */

					.title-two-span {
						color: var(--primary-button);
					}
				}
				.title-three {
					color: #7f858f;
					font-family: Recoleta;
					font-size: 45px;
					font-style: normal;
					font-weight: 400;
					line-height: 50px;
				}
			}

			.login-page-subtitle {
				color: var(--secondary-font, #94989e);
				font-family: var(--primary-font-family);
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				width: 410px;
			}
		}

		.referral-message {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			.email-icon {
				width: 18px;
				height: 18px;
				stroke: var(--primary-button);
			}
			.referrer-name {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--secondary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}
	}
	.loginOptionsViewer {
		display: flex;
		padding: 14px 16px;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		align-self: stretch;
		border-radius: 10px;
		border: 1px solid var(--stroke, #2e2f30);
		// background: var(--card, #18191b);
		.eachLoginOption {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px;
			align-self: stretch;
			.eachOptionIcon {
				width: 40px;
				height: 40px;
				flex-shrink: 0;
				aspect-ratio: 1/1;
				border-radius: 6px;
				background: var(--card-over-card, #18191b);
				border: 1px solid var(--stroke, #2e2f30);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.eachOptionDetails {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 4px;
				flex: 1 0 0;
				.eachOptionTitle {
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
				.eachOptionDesc {
					color: var(--secondary-font, #94989e);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}

	.login-content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		align-self: stretch;

		.login-button-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 8px;
			align-self: stretch;
			.email-input-container-title {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.email-input-container {
				display: flex;
				align-items: flex-start;
				gap: 8px;
				align-self: stretch;
				.email-input {
					display: flex;
					padding: 14px 16px;
					align-items: center;
					gap: 10px;
					flex: 1 0 0;
					border-radius: 8px;
					background: rgba(255, 255, 255, 0.10);
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					&:focus {
						outline: 1px solid var(--secondary-font);
					}
				}
				.email-input-button {
					display: flex;
					width: 47px;
					height: 47px;
					justify-content: center;
					align-items: center;
					border-radius: 10px;
					background: var(--primary-button, #34ad9b);
					cursor: pointer;

					.arrow-icon {
						path {
							stroke: var(--primary-button-font, #fff) !important;
						}
					}

					&:disabled {
						opacity: 0.5;
						cursor: not-allowed;
					}
				}
			}
		}

		.service-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			.google-login-button {
				display: flex;
				height: 45px;
				padding: 14px 16px;
				justify-content: center;
				align-items: center;
				align-self: stretch;
				border-radius: 8px;
				background: var(--card, #18191b);
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				cursor: pointer;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				transition: all 0.3s ease;
				&:hover:not(:disabled) {
					background: var(--primary-button-hover, #34a0901a);
				}
				&:disabled {
					opacity: 0.5;
					cursor: not-allowed;
				}

				.google-logo-container {
					display: flex;
					align-items: center;
					gap: 12px;
					p {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}

		.or-divider {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 16px 0;
			width: 100%;
			position: relative;

			.or-text {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				background: var(--background-color, #18191b);
				padding: 0 24px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.line {
			width: 100%;
			height: 1px;
			background: var(--secondary-font, #94989e);
		}
	}

	.acknowledge-container {
		margin-top: auto; // Push to bottom
		padding-bottom: 1px; // Space from bottom edge
		color: var(--primary-font, #f2f2f3);
		.acknowledge-text {
			color: var(--secondary-font, #94989e);
			text-align: center;
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 22px; /* 169.231% */

			.acknowledge-text-link {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px;
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: auto;
				text-decoration-thickness: auto;
				text-underline-offset: auto;
				text-underline-position: from-font;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 500px) {
	.verify-user-container {
		.login-page-content {
			.login-page-title {
				.titleContainer {
					width: auto;
				}
			}
		}
	}
}
