.login-page-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-color);
	position: relative;

	.cookies-notice {
		min-width: 581.34px;
		min-height: 80px;
		max-height: 80px;
		position: absolute;
		bottom: 22px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 14px;
		border: 1px solid #333334;
		background: #191a1b;
		padding: 24px;
		display: flex;
		align-items: center;
		gap: 16px;
		z-index: 1;

		.cookie-container {
			display: flex;
			align-items: center;
			gap: 16px;

			.cookie-icon {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			p {
				color: #e8e8e8;
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;

				b {
					cursor: pointer;
				}
			}
		}

		.accept-button {
			outline: none;
			border: none;
			padding: 12px 18px;
			border-radius: 50px;
			background: #fff;
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
	}

	.left-container {
		width: 45%;
		height: 100%;
		padding: 36px;
		display: flex;
		justify-content: center;
		align-items: center;

		.stages-container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 60px;
			max-width: 346px;

			.logo-container {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 40px;
			}

			.login-page-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 12px;

				.login-page-subtitle {
					color: rgba(255, 255, 255, 0.56);
					text-align: center;
					font-family: Brasley;
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: 30px;
					text-align: left;
					width: 100%;

					.referrer-name {
						background: var(
							--Color-Code-AI,
							linear-gradient(94deg, #ca9bfe -2.06%, #fd749d 95.85%)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-family: Brasley;
						font-size: 20px;
						font-style: normal;
						font-weight: 500;
						line-height: 30px;
					}
				}

				.login-page-title {
					color: #fff;
					text-align: center;
					font-family: Brasley;
					font-size: 32px;
					font-style: normal;
					font-weight: 600;
					line-height: 36px;
					text-align: left;
					width: 100%;
				}
			}

			.login-page-title {
				width: 100%;
				color: #fff;
				font-family: Brasley;
				font-size: 32px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;

				span {
					color: rgba(255, 255, 255, 0.5);
					font-size: 32px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}

			.login-button-container {
				.google-login-button {
					margin-top: 80px;
					display: flex;
					width: 100%;
					height: 45px;
					padding: 14px 24px;
					justify-content: center;
					align-items: center;
					gap: 16px;
					border-radius: 60px;
					border: none;
					background: rgba(255, 255, 255, 0.05);
					color: rgba(255, 255, 255, 0.8);
					font-family: Brasley;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
					transition: all 0.3s ease;

					&:hover {
						background: white;
						color: rgba(0, 0, 0, 0.8);
					}
				}

				.or-divider {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 24px 0;
					gap: 24px;
					width: 100%;

					span {
						color: rgba(255, 255, 255, 0.5);
						font-family: Brasley;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					.line {
						width: 141.5px;
						height: 0.5px;
						background-color: rgba(91, 91, 91, 0.5);
					}
				}

				.email-input-container {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 45px;
					gap: 12px;
					border-radius: 60px;
					background: rgba(255, 255, 255, 0.05);

					input {
						padding: 14px 24px;
						width: 75%;
						border: none;
						background-color: transparent;
						color: #fff;
					}
					button {
						border-radius: 60px;
						background: rgba(255, 255, 255, 0.1);
						height: 45px;
						padding: 14px 24px;
						border: none;
						cursor: pointer;
						transition: all 0.3s ease;
						display: flex;
						align-items: center;
						justify-content: center;

						&:hover {
							background: white;
						}
					}
				}
			}

			.verification-code-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.back-btn-container {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 12px;
					transition: all 0.3s ease;

					span {
						color: rgba(255, 255, 255, 0.5);
						font-family: Brasley;
						font-size: 15px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						padding-top: 3px;
					}

					svg {
						cursor: pointer;
					}
				}

				.verification-code-title {
					margin-top: 24px;
					color: #fff;
					font-family: Brasley;
					font-size: 32px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}

				.verification-code-subtitle {
					margin-top: 24px;
					color: rgba(255, 255, 255, 0.5);
					font-family: Brasley;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 22px;
				}

				.open-email-container {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					margin-top: 32px;
					gap: 12px;

					p {
						color: rgba(255, 255, 255, 0.5);
						font-family: Brasley;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					.email-logo-container {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 12px;
						margin-bottom: 32px;

						svg {
							cursor: pointer;
						}
					}
				}

				.verification-code-input-container {
					margin-top: 24px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;

					input {
						&::selection {
							background-color: transparent;
						}
					}

					.otp-error-message {
						position: absolute;
						top: -24px;
						color: #ff7070;
						font-family: Brasley;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-align: right;
					}

					.otp-input-container {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 8px;
						flex-direction: column;

						.ant-otp {
							.ant-input {
								background-color: rgba(255, 255, 255, 0.05);
								border: none;
								outline: none;
								border-radius: 50%;
								padding: 20px;
								width: 50px;
								height: 50px;
								color: #fff;

								&::placeholder {
									color: #fff;
								}
							}
							.ant-input-otp-input::placeholder {
								content: '0';
							}
						}
					}
				}

				.verification-code-button {
					margin-top: 40px;
					border-radius: 60px;
					background: rgba(255, 255, 255, 0.05);
					border: none;
					transition: all 0.3s ease;
					width: 100%;
					height: 45px;
					padding: 14px 24px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;
					color: rgba(255, 255, 255, 0.5);
					font-family: Brasley;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					svg {
						margin-top: -3px;
					}

					.verify-code-text-container {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 12px;
					}
				}

				.resend-code-text {
					color: #fff;
					font-family: Brasley;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
					text-align: center;
					margin-top: 20px;
					width: 100%;

					&.disabled {
						opacity: 0.5;
						cursor: not-allowed;
					}
				}
			}
		}
	}

	.right-container {
		width: 55%;
		height: 100%;
		background: url('../../svg/login_page/bg-image-right-side-container.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.right-container-content {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 40px;

			.svg-grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				gap: 24px;
				width: 424px;
				transition: all 0.3s ease;

				.grid-item {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					.grid-item-content {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						padding: 28px;

						svg {
							width: 24px;
							height: 24px;
						}

						h1 {
							font-size: 20px;
						}
					}

					.grid-item-content-center {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							width: 57px;
						}
					}

					.shape {
						width: 200px;
						height: 200px;
					}
				}
			}
		}
	}
}

@media screen and (max-height: 760px) {
	.login-page-container {
		.left-container,
		.right-container {
			zoom: 0.8;
		}
	}
}

@media screen and (max-width: 960px) {
	.login-page-container {
		.left-container {
			width: 100%;
		}
		.right-container {
			display: none;
		}
	}
}

@media screen and (max-width: 581.34px) {
	.login-page-container {
		.cookies-notice {
			min-width: 90% !important;
			min-height: 146px !important;
			flex-direction: column;
		}
		.accept-button {
			width: 100%;
		}
	}
}
