.login-page-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.left-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 45%;
		height: 100%;
		padding: 180px 150px;

		.logo-container {
			position: absolute;
			top: 180px;
			left: 150px;

			svg {
				width: 48px;
			}
		}

		.login-page-title {
			max-width: 234px;
			width: 100%;
			color: #fff;
			font-family: Brasley;
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			span {
				color: rgba(255, 255, 255, 0.5);
				font-size: 32px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.login-button-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			transition: all 0.3s ease;

			.google-login-button {
				margin-top: 142px;
				display: flex;
				max-width: 346px;
				width: 100%;
				height: 45px;
				padding: 14px 24px;
				justify-content: center;
				align-items: center;
				gap: 16px;
				border-radius: 60px;
				border: none;
				background: rgba(255, 255, 255, 0.05);
				color: rgba(255, 255, 255, 0.8);
				font-family: Brasley;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					background: white;
					color: rgba(0, 0, 0, 0.8);
				}
			}

			.or-divider {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 24px 0;
				gap: 24px;
				max-width: 346px;
				width: 100%;

				span {
					color: rgba(255, 255, 255, 0.5);
					font-family: Brasley;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.line {
					width: 141.5px;
					height: 0.5px;
					background-color: rgba(91, 91, 91, 0.5);
				}
			}

			.email-input-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 346px;
				width: 100%;
				height: 45px;
				gap: 12px;
				border-radius: 60px;
				background: rgba(255, 255, 255, 0.05);

				input {
					padding: 14px 24px;
					width: 75%;
					border: none;
					background-color: transparent;
					color: #fff;
				}
				button {
					border-radius: 60px;
					background: rgba(255, 255, 255, 0.1);
					height: 45px;
					padding: 14px 24px;
					border: none;
					cursor: pointer;
					transition: all 0.3s ease;

					&:hover {
						background: white;
					}
				}
			}
		}

		.verification-code-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.back-btn-container {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 12px;
				transition: all 0.3s ease;

				span {
					color: rgba(255, 255, 255, 0.5);
					font-family: Brasley;
					font-size: 15px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					padding-top: 3px;
				}

				svg {
					cursor: pointer;
				}
			}

			.verification-code-title {
				margin-top: 24px;
				color: #fff;
				font-family: Brasley;
				font-size: 32px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}

			.verification-code-subtitle {
				margin-top: 24px;
				color: rgba(255, 255, 255, 0.5);
				font-family: Brasley;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.open-email-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				margin-top: 32px;
				gap: 12px;

				p {
					color: rgba(255, 255, 255, 0.5);
					font-family: Brasley;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.email-logo-container {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;

					svg {
						cursor: pointer;
					}
				}
			}

			.verification-code-input-container {
				margin-top: 24px;

				input {
					&::selection {
						background-color: transparent;
					}
				}

				.otp-error-message {
					color: #ff7070;
					font-family: Brasley;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-align: right;
					margin: 24px 0;
				}
			}

			.verification-code-button {
				margin-top: 24px;
				border-radius: 60px;
				background: rgba(255, 255, 255, 0.05);
				border: none;
				transition: all 0.3s ease;
				width: 100%;
				height: 45px;
				padding: 14px 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				color: rgba(255, 255, 255, 0.5);
				font-family: Brasley;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;

				svg {
					margin-top: -3px;
				}
			}

			.resend-code-text {
				color: #fff;
				font-family: Brasley;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
				text-align: center;
				margin-top: 72px;
				width: 100%;
			}
		}
	}

	.right-container {
		width: 55%;
		height: 100%;
		background: url('../../svg/login_page/bg-image-right-side-container.svg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.right-container-content {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 40px;

			.svg-grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				gap: 24px;
				width: 424px;
				transition: all 0.3s ease;

				.grid-item {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					.grid-item-content {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						padding: 28px 38px;

						svg {
							width: 24px;
							height: 24px;
						}
					}

					.grid-item-content-center {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							width: 57px;
						}
					}

					.shape {
						width: 200px;
						height: 200px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 810px) {
	.login-page-container {
		.left-container {
			.logo-container {
				position: static !important;
				margin-bottom: 48px;
			}
		}
		.right-container {
			display: none;
		}
	}
}

@media screen and (max-width: 920px) {
	.login-page-container {
		.svg-grid {
			scale: 0.5;
		}
	}
}
@media screen and (max-width: 980px) {
	.login-page-container {
		.login-button-container {
			scale: 0.75 !important;
			margin-left: -40px;
		}
	}
}
@media screen and (min-width: 1024px) {
	.login-page-container {
		.logo-container {
			svg {
				scale: 1.5;
			}
		}
		.login-page-title {
			scale: 1.5;
			padding-left: 30px;
		}
		.login-button-container {
			scale: 1.3;
			padding-left: 32px;
		}
	}
}
@media screen and (max-width: 1662px) {
	.login-page-container {
		.logo-container {
			left: 140px !important;
			top: 108px !important;
		}

		.login-button-container {
			scale: 1;
			padding-left: 0px;
		}
	}
}

// @media screen and (max-width: 1662px) {
// 	.login-page-container {
// 		.logo-container {
// 			left: 58px !important;
// 			top: 108px !important;
// 		}
// 	}
// }

@media screen and (max-width: 1220px) {
	.login-page-container {
		.logo-container {
			left: 60px !important;
		}

		.left-container {
			padding: 180px 56px;
		}
	}
}
