.wedding-day-timeline-generator-container {
	display: flex;
	width: 340px;
	height: 424px;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;

	border-radius: 24px;
	background: #171819;
	background: color(display-p3 0.0902 0.0941 0.098);

	.wedding-day-timeline-generator-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;

		.wedding-day-timeline-generator-header-text {
			color: #f2f2f3;
			color: color(display-p3 0.949 0.949 0.9529);
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.wedding-day-timeline-generator-options-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		.wedding-day-timeline-generator-option {
			color: var(--secondary-font, #787e87);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
		.active {
			color: var(--primary-font, #f2f2f3);
			color: var(--primary-font, color(display-p3 0.949 0.949 0.9529));
		}
	}

	.workflow-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		align-self: stretch;

		.workflow-inner-card {
			display: flex;
			justify-content: space-between;
			padding: 14px 16px;
			border-radius: 16px;
			align-items: center;
			align-self: stretch;
			background: #202123;
			background: color(display-p3 0.1255 0.1294 0.1373);
			.left-text {
				color: #797e86;
				color: color(display-p3 0.4784 0.4941 0.5216);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
			}
			.right-text {
				color: #f2f2f3;
				font-weight: 500;
				font-size: 1.1rem;
			}
		}
	}

	.files-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		flex: 1 0 0;
		align-self: stretch;
		.file {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			.left {
				width: 24px;
				height: 25.882px;
				border-radius: 6px;
				background: #414548;
				background: color(display-p3 0.258 0.2696 0.2813);
			}
			.right-text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2px;
				flex: 1 0 0;
				align-self: stretch;
				.title {
					align-self: stretch;
					color: #f2f2f3;
					color: color(display-p3 0.949 0.949 0.9529);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
				.file-text {
					align-self: stretch;
					color: #797e86;
					color: color(display-p3 0.4784 0.4941 0.5216);
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
	}
}

// .steps-tab-container {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 0.5rem;
// 	.steps-tab-item-content {
// 		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
// 		border-radius: 18px;
// 		padding: 0.8rem;
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		font-size: 0.8rem;
// 		align-items: center;

// 		.steps-tab-item-left-text {
// 			color: #797e86;
// 		}
// 		.steps-tab-item-right-text {
// 			color: #f2f2f3;
// 			font-weight: 500;
// 			font-size: 1.1rem;
// 		}
// 	}
// }

// .insight-tab-container {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 0.5rem;
// 	.insight-tab-item-content {
// 		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
// 		border-radius: 18px;
// 		padding: 0.8rem;
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		font-size: 0.8rem;
// 		align-items: center;

// 		.insight-tab-item-left-text {
// 			color: #797e86;
// 		}
// 		.insight-tab-item-right-text {
// 			color: #f2f2f3;
// 			font-weight: 500;
// 			font-size: 1.1rem;
// 		}
// 	}
// }

// .pending-actions-tab-container {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 0.5rem;
// 	.pending-actions-tab-item-content {
// 		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
// 		border-radius: 18px;
// 		padding: 0.8rem;
// 		display: flex;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		font-size: 0.8rem;
// 		align-items: center;

// 		.pending-actions-tab-item-left-text {
// 			color: #797e86;
// 		}
// 		.pending-actions-tab-item-right-text {
// 			color: #f2f2f3;
// 		}
// 	}
// }

// .files-tab-files-container {
// 	.files-tab-file {
// 		display: flex;
// 		flex-direction: row;
// 		gap: 1rem;

// 		.files-tab-file-info {
// 			font-size: 0.8rem;
// 			.file-info-title {
// 				color: #f2f2f3;
// 				line-height: 1.2rem;
// 			}
// 			.file-info-sub-text {
// 				color: #797e86;
// 			}
// 		}
// 	}
// }
