.actionSidebarComponents {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-self: stretch;
	height: 100%;
	border-left: 1px solid var(--stroke);
	background: var(--card);

	.actionSidebarComponentsHeader {
		display: flex;
		height: 52px;
		padding: 12px 24px 0px 24px;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;
		flex-shrink: 0;
		align-self: stretch;
		border-left: 1px solid var(--stroke);
		background: var(--card);
		margin-bottom: 12px;
	}

	.actionSideBarSearchbarContainer {
		display: flex;
		padding: 12px 24px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 12px;
		align-self: stretch;

		.actionSidebarSearch {
			display: flex;
			padding: 0px 12px;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			border-radius: 12px;
			border: 1px solid var(--stroke);

			.actionSideBarSearchInput {
				flex: 1;
				height: 100%;
				background-color: transparent;
				border: none;
				outline: none;
				color: var(--secondary-font);

				/* Body/Body - 12 px */
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}

	.actionsListContainer {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px 24px;
		margin-top: 16px;

		.actionListItem {
			display: flex;
			// width: 312px;
			height: 44px;
			padding: 12px;
			align-items: center;
			gap: 12px;
			border-radius: 12px;
			border: 1px solid var(--stroke);
			color: var(--primary-font);

			/* Body/Body - 12 px */
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
	}
}
