.onboardingContainer {
	background-color: var(--background-color);
	height: 100vh;
	width: 100%;

	.onboarding-page-container {
		height: 100%;
		width: 100%;
		display: flex;

		.onboarding-child-container {
			display: flex;
			flex-direction: column;
			width: 100%;
			min-height: 100vh;
		}

		.main-content-container {
			display: flex;
			flex-direction: column;

			.header-container {
				display: flex;
				width: 100%;
				padding: 32px;
				justify-content: space-between;
				align-items: center;
				flex-shrink: 0;
			}

			.content-container {
				flex-grow: 1;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;

				.stages-container {
					width: 100%;
					max-width: 455px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 50px;
				}
			}
		}

		.description-section {
			background-color: var(--primary-dark);
			padding: 13px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.onboardingContainer {
		.onboarding-page-container {
			.main-content-container {
				padding: 20px 20px 20px;
				.header-container {
					padding: 0;
					padding-bottom: 20px;
				}
			}

			.description-section {
				display: none;
			}
		}
	}
}
