.onboardingContainer {
	width: 100vw;
	height: 100vh;
	background: var(--background-color, #0c0c0d);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 120px;

	.gradientContainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate(-37%, -43%);
		z-index: 0;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.mainContent {
		width: 100%;
		max-width: 1200px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		gap: 120px;
		opacity: 0;
		transition: opacity 0.5s ease-in; // useEffect to animate fade in on opacity: 1;

		& > * {
			height: 100%;
		}

		.leftSection {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.progressBar {
				display: flex;
				gap: 6px;

				.progressStep {
					width: 10px;
					height: 6px;
					border-radius: 100px;
					background: var(--stroke, #2c2d2e);
					transition: width 0.3s ease-in, background 0.3s ease-in;

					&.active {
						width: 40px;
						background: var(--primary-button);
					}
				}
			}
		}

		.rightSection {
			width: 50%;
			padding: 60px;
			border-radius: 24px;
			background: var(--card, #171819);

			.aboutVe {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
			}
		}
	}
}

@media (max-width: 1243px) {
	.onboardingContainer {
		.mainContent {
			.leftSection {
				width: 50%;
			}

			.rightSection {
				display: none;
			}
		}
	}
}

@media (max-width: 1022px) {
	.onboardingContainer {
		.mainContent {
			.leftSection {
				width: 60%;
			}
		}
	}
}

@media (max-width: 891px) {
	.onboardingContainer {
		.mainContent {
			.leftSection {
				width: 70%;
			}
		}
	}
}

@media (max-width: 800px) {
	.onboardingContainer {
		.mainContent {
			.leftSection {
				width: 100%;
			}
		}
	}
}

@media (max-width: 700px) {
	.onboardingContainer {
		padding: 36px;
	}
}
