.onboarding-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	background: linear-gradient(180deg, #0e0f0f 0%, #19191b 100%);
	will-change: transform, opacity;
	opacity: 0;

	.left-container {
		width: 45%;
		height: 100%;
		position: relative;

		.progress-bar-container {
			width: 100%;
			height: 10px;
			border-radius: 10px;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px;
			top: 10px;
			gap: 3px;

			.progress-bar {
				height: 3px;
				border-radius: 2px;
			}
		}

		.ai-intro {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: relative;

			.step1,
			.step2 {
				color: #fff;
				font-family: Brasley;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			h2 {
				padding: 24px 36px;
				color: rgba(255, 255, 255, 0.6);
				font-family: Brasley;
				font-size: 32px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.username-input-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 346px;
				width: 100%;
				height: 45px;
				gap: 12px;
				border-radius: 60px;
				background: rgba(255, 255, 255, 0.05);
				position: absolute;

				input {
					padding: 14px 24px;
					width: 75%;
					border: none;
					background-color: transparent;
					color: #fff;
					font-family: 'Inter';
					font-size: 14px;
					font-weight: 400;
					text-transform: capitalize;
				}

				.next-button {
					border-radius: 60px;
					background: rgba(255, 255, 255, 0.1);
					height: 45px;
					padding: 14px 24px;
					border: none;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						background: white;
					}
				}
			}

			.workspace-handle-name-container {
				input.workspace-handle-name-input {
					text-transform: lowercase;
					color: #fff;
					font-family: Brasley;
					font-size: 16px;
					font-weight: 400;
					text-transform: lowercase;

					&::placeholder {
						text-transform: lowercase;
					}
				}

				&::after {
					content: '.ve.ai';
					position: absolute;
					right: 72px;
					top: 50%;
					transform: translateY(-50%);
					color: rgba(255, 255, 255, 0.5);
					font-size: 12px;
					font-family: Brasley;
					font-weight: 400;
					pointer-events: none;
				}
			}

			.workspace-type-container {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 24px;
				margin-top: 24px;

				.workspace-type-option {
					width: 150px;
					padding: 24px;
					border-radius: 22px;
					border: 1px solid rgba(255, 255, 255, 0.1);
					background: rgba(255, 255, 255, 0);
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: all 0.3s ease;

					h1 {
						font-size: 16px;
						font-weight: 400;
						text-transform: capitalize;
					}

					&:hover {
						border: 1px solid #fff;
						background: rgba(255, 255, 255, 0.1);
						box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2),
							0px -47px 13px 0px rgba(0, 0, 0, 0),
							0px -30px 12px 0px rgba(0, 0, 0, 0.01),
							0px -17px 10px 0px rgba(0, 0, 0, 0.05),
							0px -8px 8px 0px rgba(0, 0, 0, 0.09),
							0px -2px 4px 0px rgba(0, 0, 0, 0.1);
					}
				}
			}

			.profession-grid-container {
				width: 100%;
				max-width: 600px;
				padding: 20px;

				.profession-grid {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 36px;
					width: 100%;

					.profession-option {
						padding: 24px;
						border-radius: 22px;
						border: 1px solid rgba(255, 255, 255, 0.1);
						background: rgba(255, 255, 255, 0);
						cursor: pointer;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 0.3s ease;
						text-align: center;

						h1 {
							font-size: 16px;
							font-weight: 400;
							text-transform: capitalize;
							padding: 0;
						}

						&:hover {
							border: 1px solid #fff;
							background: rgba(255, 255, 255, 0.1);
							box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2),
								0px -47px 13px 0px rgba(0, 0, 0, 0),
								0px -30px 12px 0px rgba(0, 0, 0, 0.01),
								0px -17px 10px 0px rgba(0, 0, 0, 0.05),
								0px -8px 8px 0px rgba(0, 0, 0, 0.09),
								0px -2px 4px 0px rgba(0, 0, 0, 0.1);
						}
					}
				}
			}
		}
	}

	.right-container {
		width: 55%;
		height: 100%;
		background: url('../../svg/onboarding/bg-image-right-side-container.svg');
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;

		.right-container-content {
			width: 80%;
			height: 80%;
			max-width: 531px;
			max-height: 730px;
			border-radius: 32px;
			border: 1px solid rgba(87, 87, 87, 0.5);
			background: rgb(34 34 34 / 15%);
			box-shadow: 154px 225px 76px 0px rgb(0 0 0 / 1%), 98px 144px 70px 0px rgb(0 0 0 / 6%),
				55px 81px 59px 0px rgb(0 0 0 / 20%), 25px 36px 44px 0px rgba(0, 0, 0, 0.34),
				6px 9px 24px 0px rgba(0, 0, 0, 0.39);
			backdrop-filter: blur(10px);
		}
	}
}

@media screen and (max-width: 1024px) {
	.onboarding-container {
		.left-container {
			width: 100%;
			padding: 24px;

			.ai-intro {
				h1 {
					font-size: 24px;
				}

				h2 {
					font-size: 14px;
				}

				.workspace-type-container {
					flex-direction: column;
				}
			}
		}

		.right-container {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.onboarding-container {
		.left-container {
			.ai-intro {
				.profession-grid-container {
					max-width: 100% !important;
					padding: 24px;

					.profession-grid {
						display: flex !important;
						flex-direction: column;
					}
				}
			}
		}
	}
}
