.image-library {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	.il-h {
		display: flex;
		height: 52px;
		align-items: center;
		span {
			font-size: 18px;
			margin-left: auto;
			cursor: pointer;
			svg {
				path {
					fill: #a0a0a0;
				}
			}
		}
	}
	.il-b {
		display: flex;
		justify-content: center;
		.ilb-body {
			width: 609px;

			height: calc(100vh - 124px);
			display: flex;
			gap: 24px;
			flex-direction: column;
			.ilbb-tabs {
				height: 52px;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					color: #000;
					cursor: pointer;
					font-family: 'Inter Medium';
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					padding: 10px;
				}
				a.active {
					border-bottom: 2px solid #000;
				}
			}
			.ilbb-images {
				height: calc(100vh - 180px);
				overflow-y: scroll;
				.page_loading {
					height: calc(100vh - 180px);
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					a {
						font-family: 'Inter';
						color: #333;
						font-size: 13px;
						display: flex;
						flex-direction: row;
						gap: 12px;
						align-items: center;
					}
					.loader {
						width: 24px;
						height: 24px;
						border: 2px solid #ccc;
						border-bottom-color: #333;
						border-radius: 50%;
						display: inline-block;
						box-sizing: border-box;
						animation: rotation 1s linear infinite;
					}

					@keyframes rotation {
						0% {
							transform: rotate(0deg);
						}
						100% {
							transform: rotate(360deg);
						}
					}
				}
			}
		}
	}
}
.grid-item {
	margin-bottom: 4px;
	overflow: hidden; /* Hide overflow to keep the zoom effect contained */
	position: relative;
	display: table;
	img {
		width: 100%;
		height: 100%;
		transition: transform 1s;
		position: absolute;
		z-index: 1;
	}
	.gi-overlay {
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: #000;
			font-family: 'Inter Medium';
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			border-radius: 8px;
			background: #f1f1f1;
			padding: 9px 18px;
		}
		.delete {
			background-color: #f1f1f1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			border-radius: 100px;
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	&:hover {
		.gi-overlay {
			opacity: 1;
		}
		img {
			transform: scale(1.1);
		}
	}
}
.uploadeImageContainer {
	display: flex;
	flex-direction: column;
	gap: 9px;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 140px;
	border: 1px dashed #9bc9ff;
	border-radius: 8px;
	background-color: #f2f8ff;
	p {
		color: #141524;
		font-size: 12px;
		font-weight: 600;
	}
	.uploadeLogo {
		width: 24px;
		svg {
			path {
				fill: #3f8ae2;
			}
		}
	}
}

.ilbb-image-loader {
	height: 400px !important;
}
