
.toggleSwitch {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  
  .knob {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(224, 224, 224, 0.10);
    position: relative;
    transition: background-color 0.3s;
  
    &::before {
      content: '';
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: rgba(228, 229, 230, 0.64);
      position: absolute;
      top: 1px;
      left: 1px;
      transition: transform 0.3s;
    }
   
    &.active {
      background-color:#6055EC;
      
  
      &::before {
        transform: translateX(20px);
        background-color: white;
      }
    }
  }
  