.filterConditionDropdown {
	display: flex;
	flex-direction: column;
	background-color: var(--popup);
	padding: 10px 0;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	min-width: 180px;
	max-width: 200px;
	max-height: 220px;
	overflow-y: auto;

	.filterConditionDropdownItem {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 4px 10px;
		color: var(--primary-font);

		.filterConditionDropdownItemSelected {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
		}

		&:hover {
			background-color: var(--card-over-card-hover);
		}
	}
}
