.headerEditDropdownContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: var(--popup);

	.headerEditDropdownItem {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 4px;
		border-radius: 10px;
		background-color: var(--popup);

		.headerEditDropdownItemIcon {
			width: 16px;
			height: 16px;
		}

		.headerEditDropdownItemInput {
			border: 1px solid var(--stroke);
			border-radius: 10px;
			outline: none;
			background-color: transparent;
			font-size: 14px;
			font-weight: 500;
			color: var(--primary-font) !important;
			height: 32px;
			text-indent: 10px;
		}

		.headerEditDropdownItemText {
			font-size: 14px;
			font-weight: 500;
			color: var(--primary-font);
		}
	}
}
