.authParentContainer {
	width: 100vw;
	height: 100vh;
	background: var(--background-color, #0c0c0d);
	display: flex;
	flex-direction: column;

	.childrenContainer {
		flex: 1;
		// padding: 1.5rem 6rem 3rem 6rem;
		background: var(--background-color, #0c0c0d);
		margin-top: 5rem;
		width: 100%;
		max-width: 1200px;
		margin: auto;
	}
}
