.sidebar-chats-drawer {
	left: 250px;

	.ant-drawer-content-wrapper {
		.ant-drawer-header {
			.ant-drawer-header-close-only {
				display: none;
			}
		}

		.ant-drawer-body {
			background-color: #202123;
			padding: 0px;
			border-left: 0.5px solid rgb(51, 51, 52);

			.chats-drawer-container {
				.header {
					padding: 24px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.title {
						overflow: hidden;
						color: #e8e8e8;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
					}

					.cta-container {
						cursor: pointer;
					}
				}

				.chats-container {
					display: flex;
					flex-direction: column;

					.chat-container {
						display: flex;
						justify-content: space-between;
						align-items: flex-start;
						border-bottom: 0.5px solid rgb(51, 51, 52);
						padding: 14px 20px;

						.chat-title {
							width: 85%;
							color: #e8e8e8;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						.chat-timestamp {
							text-align: right;
							width: 15%;
							color: #939393;
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
			}
		}
	}
}
