$themes: (
	light: (
		bg: #fcfbfa,
		//background color
		sideBarBg: #fff,
		fg: #ffffff,
		dropDownBG: #383838,
		dropDownColor: #e4e5e6,
		dropDownDelete: #f8532b,
		dropDownHoverBG: #272727,
		proposalCardBorderLeft: 10px solid #e4e5e6,
		proposalCardBorderLeftTransparent: 10px solid #fcfbfa,
		//forground color
		primaryColor: #333333,
		primaryColorInverted: #333333,
		secondaryColor: #707070,
		tertiaryColor: #707070,
		extraColor: #84868c,
		bgSecondary: #ffffff,
		accentText: #0b8793,
		accentButtonBg: #696ff3,
		accentButtonColor: #ffffff,
		themeGreen: #2f9b2c,
		themeRed: #f8532b,
		themeGrey: #d6d6d5,
		themeYellow: #ffbb6c,
		projectCreateBtnBg: linear-gradient(90deg, #020447 0%, #615c8a 100%),
		projectCreateBtnBgHover: linear-gradient(90deg, #615c8a 0%, #020447 100%),
		projectCreateBtnText: #ffffff,
		infoIcn: #b0b0b0,
		tableHeader: #1c0144,
		tableHeaderShadow: #8687a5,
		createNoteColor: #8687a5,
		tableBorderBtm: transparent,
		tableHeaderBorderBtm: none,
		tabText: #f5f5f5,
		tabHover: #0b8793,
		searchBorder: rgba(255, 255, 255, 0.25),
		searchBackground: rgba(255, 255, 255, 0.05),
		searchIcn: #fff,
		searchPlaceholder: rgba(255, 255, 255, 0.4),
		filterBorder: #f5f5f5,
		stared: #ffbf00,
		unstared: #d6d6d5,
		tableheaderBorder: rgba(0, 0, 0, 0.05),
		tableRowHoverBg: #f5f5f5,
		tableRowHoverOutline: none,
		tableRowHoverBxShadow: none,
		tableTail: #e3e3e3,
		createProjectbg: #020447,
		createProjectBorder: #191a56,
		suggestionBg: #1c1e5a,
		createProjectInputBorder: #8687a5,
		rightModalBgFade: none,
		rightModalBg: #fff,
		rightModalDetailHeader: #1c0144,
		detailCountText: #b3b3b3,
		detailCardBorder: #e5e5e5,
		detailRemBg: #f5f5f5,
		remOverdueBg: #fae9ec,
		remOverdueColor: #ea5660,
		remUpcomingBg: #e5e5e5,
		remUpcomingColor: #333333,
		remTodayBg: #e5eaf9,
		remTodayColor: #4d75d6,
		detailCardDiv: #c4c4c4,
		detailCardRowBg: rgba(245, 245, 245, 0.5),
		detailFooterDiv: #c4c4c4,
		projSideBarBg: linear-gradient(180deg, #020447 0%, #38395e 100%),
		projSideBarDiv: rgba(136, 123, 157, 0.3),
		projSideBarActive: #534e7c,
		projSideBarDisplay: inline,
		projSideBarHeight: inline,
		filterTextColor: #ffffff,
		filterActiveBg: #090b4a,
		deliverableStatusBorder: #0c0e4b,
		deliverableCardActiveBorder: #534e7c,
		crewCircleBorder: #aaa,
		deliverableCardBorder: #eceff4,
		paymentsCardHeaderBg: linear-gradient(90deg, #e5e5e5 0%, #c5c3c3 100%),
		paymentsCompletedCardHeaderBg: linear-gradient(90deg, #2f9b2c 0%, #1f6f1d 100%),
		paymentCardRowBorder: #b0b0b0,
		paymentCardHover: #f5f5f5,
		paymentCardRowColor: #000000,
		overviewDetailsCardPadding: 12px,
		overviewDetailsCardInfoRow: 0px 0px 12px 0px,
		overviewDetailsCardClientRow: 0px,
		overviewTodayRow: #534e7c,
		whiteToB2d: #ffffff,
		timelineThemeRed: #d2222d,
		timelineTodayBg: #dbdffd,
		timelineTodayBg2: #9ba3eb,
		timelineTodayBg3: #646fd4,
		timelineTodayBg4: #242f9b,
		none: none,
		lightBlueSame: #534e7c,
		e5Same: #e5e5e5,
		timelineCardEmptyBg: #e5e5e5,
		moreItemText: #707070,
		primaryWrapperText: #b0b0b0,
		primaryCheckBorder: #8687a5,
		noteAddColor: #212354,
		noteTypingBg: #dee5f7,
		loadingBarBg: transparent,
		loadingBarInnerBg: linear-gradient(270deg, #080a4a 0%, #989aec 102.19%),
		projThemeBg: #e5e5e5,
		whiteToLightWhite: #ffffff,
		selectOptionHover: #f5f5f5,
		themeSelectBoxShadow: transparent,
		emptyProjectCreateColor: #2153cc,
		emptyProjectCreateBg: transparent,
		emptyProjectCreateBorder: #2153cc,
		insightsItemBorder: transparent,
		insightsItemColor: #2153cc,
		insightsItemBg: #dee5f7,
		insightsEmptyBg: #e3e3e3,
		insightsTableHeadBg: #e3e3e3,
		leftBarHeaderBg: #ffffff,
		leftBarHeaderDownColor: #707070,
		leftBarHeaderExpandArrowColor: #949494,
		leftBarHeaderExpandArrowBg: #ffffff,
		leftBarHeaderItemHover: rgba(51, 51, 51, 0.1),
		leftBarProfilebg: rgba(112, 112, 112, 0.15),
		leftBarHeaderToggleHeadBg: #fafafa,
		profileUserDetailBg: #fcfbfa,
		profileCardBoxShadow: 0px 8px 20px rgba(83, 55, 158, 0.2),
		profileRoleToggleBg: #e5e5e5,
		productivityTableHeaderBg: #e5e5e5,
		productivityStarBg: #5437a1,
		productivityProposalTableHeaderBg: #c7c1db,
		galleryCreateBtn: #5437a1,
		galleryCreateBtnHover: linear-gradient(180deg, #9256d9 100%, #5f55ec 0%),
		searchBarBg: #e5e5e5,
		templateCardBg: #fff,
		univLoader: linear-gradient(to right, #ffffff 8%, #e5e5e5 18%, #ffffff 33%),
		proposalTableHeader: #c7c1db,
		proposalTableDraft: #e5e5e5,
		proposalTableRowBorder: 0px 1px 0px rgba(0, 0, 0, 0.05),
		createProposalHeader: #c7c1db,
		userTableFilterActive: #5437a1,
		projectSubFilterBox: inset 0px 4px 4px rgba(0, 0, 0, 0.1),
		leftBarProfileiconFill: #333333,
		settingsInputBg: #ffffff,
		settingsInputDisabledBg: #f5f5f5,
		settingsInputDisabledBorder: rgba(228, 229, 230, 0.1),
		subscriptionStorageBarBg: #f5f5f5,
		brandLogoContainerBorder: rgba(0, 0, 0, 0.2),
		financesFirstStatsBorder: #e1ddec,
		calendarBorder: '1px solid #e5e5e5',
		financesDropdownActive: #503697,
		financesDropdownItemColor: #ffffff,
		financesDropdownContainerBg: #21293e,
		financesDropdownBox: 0px 0px 40px rgba(32, 32, 32, 0.4),
		financeAmountCellColor: #a545c1,
		financeCreatedByColor: #333333,
		financeTableRowHover: transparent,
		financeTableIcnColor: #333333,
		proposalsActionHover: #f5f5f5,
		proposalsDropdownShadow: 0px 4px 20px rgba(83, 55, 158, 0.2),
		createProposalRightDescColor: #2153cc,
		createProposalDropDownActiveBg: #5437a1,
		createProposalDropDownActiveBorder: #ffffff,
		createProposalInactiveDropdownItemColor: #81838b,
		createProposalActiveDropItemSvg: #e4e5e6,
		createProposalInactiveBtnBg: #e5e5e5,
		proposalRejectHoverBorder: #707070,
		financesFilterBorder: #141627,
		financesFilterIcnFill: #5437a1,
		tableHeaderBG: #e5e5e5,
		responsePopUp: #fff,
		teamSideBarBG: #f5f5f5,
		proposalPopUpBg: #fcfbfa,
		proposalPopUpInputBorderColor: #d6d6d5,
		proposalPopUpGrayBtnBg: #e5e5e5,
		templateCreateListAHover: #f5f5f5,
		proposalListTableListRowBorder: #d6d6d5,
		createProjectBgNew: #fcfbfa,
		newAccentColor: $themev4Color,
		createProjectSummaryBg: #f5f5f5,
		createProjectSelectIndicatorColor: #707070,
		createProjectSuggestionBg: #e5e5e5,
		createProjectSummaryBorder: #d6d6d5,
		summaryItemBG: #f5f5f5,
		summaryItemShadow: none,
		shootAddPopupHeaderBg: #e5e5e5,
		shootAddPopupMoreIcn: #b0b0b0,
		shootAddPopupBottomBoxShadow: 0px -2px 0px rgba(0, 0, 0, 0.12),
		shootAddPopupBottomCancelBg: #e5e5e5,
		leftBarBoxShadow: 0px 4px 20px rgba(0, 0, 0, 0.125),
		projectLeftBarItemBg: #e5e5e5,
		projectLeftBarOverdueTextColor: #f5f5f5,
		tableCrewCircleText: #333333,
		huemnSearchBgInitial: #e5e5e5,
		huemnSearchIcnInitial: #707070,
		huemnSearchInputText: #e4e5e6,
		huemnSearchInputPlaceHolder: #b0b0b0,
		formShareHeaderBg: #e5e5e5,
		formShareMobileContainerBg:
			'linear-gradient(0deg, #E2DDD5, #E2DDD5), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 19.14%)',
		formShareMobileSpeakerBg: #fcfbfa,
		formShareMobileHeaderBg: #e5e5e5,
		formInsightsDotItemBg: rgba(255, 255, 255, 0.5),
		formInsifhtsDotItemCircleBorder: #d9d9d9,
		formInsightsDotItemBtmCircleBg: rgba(51, 51, 51, 0.4),
		pageNavBarBoxShadow: 0px -1px 0px rgba(0, 0, 0, 0.12),
		financesDividerLineBg: 0px 1px 0px #d6d6d5,
		financesMyExpensesBg: #c6cdd7,
		financesVendorPmtsBg: #d5d9e0,
		financesYellowTextColor: #ffb865,
		financesItemHover: #b0b0b0,
		overviewCircleUpcomingBg: #e5e5e5,
		overviewCardTextBg: #ffffff,
		subHeaderCardBg: #e5e5e5,
		permissionToggleHeadBg: #f5f5f5,
		permissionToggleBg: #b0b0b0,
		custTransparent: transparent,
		uploadBrandLogoToggleBg: #e5e5e5,
		waterMarkEditModalBg: #f5f5f5,
		watermarkSelectedDefaultBg: #232323,
		layoutSettingsBorderColor: $themev4Color,
		redToRed: #ca5a4f,
		inputErrorColor: #f8532b,
		brandDropDownBoxShadow: 0px 0px 4px rgba(0, 0, 0, 0.12),
		financesLeftBarBoxShadow: 1px 0px 0px #e5e5e5,
		huemnFilterLeftBorder: #333333,
		huemnFilterLeftBg: #272727,
		huemnFilterLeftHover: #1e1e1e,
		huemnFilterRightHover: #1e1e1e,
		profitLossTableBoxShadow: 2px 0px 4px rgba(0, 0, 0, 0.15),
		projectLayoutBorder: #b0b0b0,
		subscriptionNewBg: #d9d9d9,
		subscriptionNewUncheckColor: #707070,
		subscriptionNewGradient:
			linear-gradient(270deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%),
		app-bg: #f7f7f7,
		real-app-bg: #171719,
		logo-nav-bar: #333333,
		sidebar-background: #ffffff,
		sidebar-img-bg: '',
		nav-hover-active: #f7f7f7,
		nav-drop-down-hover: rgba(0, 0, 0, 0.24),
		nav-bar-subscription-card-bg: rgba(245, 245, 247, 1),
		nav-bar-subscription-card-text: rgba(51, 51, 51, 1),
		nav-bar-bottom-action-card-bg: rgba(229, 229, 229, 1),
		nav-bar-bottom-action-card-secondary-text: rgb(51, 51, 1),
		admin-tag: rgba(176, 176, 176, 1),
		action-card-item-hover: rgba(0, 0, 0, 0.08),
		header-search-border: rgba(235, 235, 235, 1),
		info-btn: rgba(255, 191, 0, 0.8),
		info-btn-color: rgba(51, 51, 51, 1),
		filter-btn-bg: #fff,
		sort-btn-border: #000,
		header-filter-active: rgba(18, 18, 18, 1),
		filter-drop-down-bg: rgba(245, 245, 247, 1),
		filter-dropdown-item-hover: rgba(232, 232, 232, 1),
		sort-right-bg: rgba(250, 250, 250, 1),
		advanced-filter-bg: rgba(18, 18, 18, 1),
		advanced-filter-color: rgba(228, 229, 230, 1),
		advanced-filter-clear-bg: rgba(255, 255, 255, 1),
		advanced-filter-clear-color: rgba(112, 112, 112, 1),
		table-header-bg: rgba(242, 242, 242, 1),
		table-thead-color: rgba(48, 48, 48, 1),
		table-trow-bg: rgba(255, 255, 255, 1),
		table-row-border: rgba(242, 242, 242, 1),
		collab-circle: rgba(163, 163, 163, 1),
	),

	dark: (
		app-bg: #121212,
		real-app-bg: #171719,
		logo-nav-bar: #fff,
		sidebar-background: #333,
		sidebar-img-bg: url('../../../public/sidebar.png'),
		nav-hover-active: rgba(0, 0, 0, 0.25),
		nav-drop-down-hover: #000,
		nav-bar-subscription-card-bg: rgba(51, 51, 51, 1),
		nav-bar-subscription-card-text: rgba(228, 229, 230, 1),
		nav-bar-bottom-action-card-bg: rgba(19, 19, 19, 1),
		nav-bar-bottom-action-card-secondary-text: rgb(160, 161, 163),
		admin-tag: rgba(255, 255, 255, 0.2),
		action-card-item-hover: rgba(42, 42, 42, 1),
		header-search-border: rgba(46, 46, 46, 1),
		info-btn: rgba(255, 191, 0, 0.25),
		info-btn-color: #917fdb,
		filter-btn-bg: #232323,
		sort-btn-border: #2e2e2e,
		header-filter-active: rgba(228, 229, 230, 1),
		filter-drop-down-bg: #434343,
		filter-dropdown-item-hover: #1e1e1e,
		sort-right-bg: #2d2d2d,
		advanced-filter-bg: #e4e5e6,
		advanced-filter-color: #121212,
		advanced-filter-clear-bg: #1e1e1e,
		advanced-filter-clear-color: #707070,
		table-header-bg: #2d2d2d,
		table-thead-color: #888,
		table-trow-bg: #1e1e1e,
		table-row-border: #121212,
		collab-circle: #4f4f4f,
		bg: #121212,
		sideBarBg: #383838,
		sideBarRealBG: #131417,
		fg: #21293e,
		dropDownBG: #f5f5f5,
		dropDownColor: #333333,
		dropDownDelete: #f8532b,
		dropDownHoverBG: #e4e5e6,
		proposalCardBorderLeft: 10px solid #333333,
		proposalCardBorderLeftTransparent: 10px solid #121212,
		primaryColor: #e4e5e6,
		primaryColorInverted: #f5f5f5,
		secondaryColor: #b0b0b0,
		tertiaryColor: #a2a2a2,
		extraColor: #84868c,
		bgSecondary: #1a2238,
		accentText: #696ff3,
		accentButtonBg: #696ff3,
		accentButtonColor: #ffffff,
		themeGreen: #479a5f,
		themeRed: #ca5a4f,
		themeGrey: #333333,
		themeYellow: #ffbf00,
		projectCreateBtnBg: #696ff3,
		projectCreateBtnBgHover: #696ff3,
		projectCreateBtnText: #ffffff,
		infoIcn: #81838b,
		tableHeader: #1a2238,
		tableHeaderShadow: transparent,
		createNoteColor: #81838b,
		tableBorderBtm: #151b2d,
		tableHeaderBorderBtm: #151b2d,
		tabText: #e4e5e6,
		tabHover: #696ff3,
		searchBorder: none,
		searchBackground: #151b2d,
		searchIcn: #e4e5e6,
		searchPlaceholder: #81838b,
		filterBorder: #81838b,
		stared: #696ff3,
		unstared: #333333,
		tableheaderBorder: #151b2d,
		tableRowHoverBg: #1e1e1e,
		tableRowHoverOutline: #696ff3,
		tableRowHoverBxShadow: rgba(0, 0, 0, 0.05),
		tableTail: #1a2238,
		createProjectbg: #151b2d,
		createProjectBorder: #21293e,
		suggestionBg: #21293e,
		createProjectInputBorder: #21293e,
		rightModalBgFade: rgba(0, 0, 0, 0.7),
		rightModalBg: #151b2d,
		rightModalDetailHeader: #21293e,
		detailCountText: #81838b,
		detailCardBorder: transparent,
		detailRemBg: #1a2238,
		remOverdueBg: #151b2d,
		remOverdueColor: #ca5a4f,
		remUpcomingBg: #151b2d,
		remUpcomingColor: #81838b,
		remTodayBg: #151b2d,
		remTodayColor: #696ff3,
		detailCardDiv: #81838b,
		detailCardRowBg: #1a2238,
		detailFooterDiv: transparent,
		projSideBarBg: #21293e,
		projSideBarDiv: transparent,
		projSideBarActive: linear-gradient(0deg, #151b2d, #151b2d),
		projSideBarDisplay: none,
		filterTextColor: #e4e5e6,
		filterActiveBg: #696ff3,
		deliverableStatusBorder: #81838b,
		deliverableCardActiveBorder: #696ff3,
		crewCircleBorder: #151b2d,
		deliverableCardBorder: #151b2d,
		paymentsCardHeaderBg: #81838b,
		paymentsCompletedCardHeaderBg: #72cbae,
		paymentCardRowBorder: #151b2d,
		paymentCardHover: rgba(105, 111, 243, 0.2),
		paymentCardRowColor: #e4e5e6,
		overviewDetailsCardPadding: 0px,
		overviewDetailsCardInfoRow: 12px,
		overviewDetailsCardClientRow: 0px 12px 12px 12px,
		overviewTodayRow: rgba(105, 111, 243, 0.2),
		whiteToB2d: #151b2d,
		timelineThemeRed: #ca5a4f,
		timelineTodayBg: #dbdffd,
		timelineTodayBg2: #9ba3eb,
		timelineTodayBg3: #646fd4,
		timelineTodayBg4: #242f9b,
		none: none,
		lightBlueSame: #534e7c,
		e5Same: #e5e5e5,
		timelineCardEmptyBg: #1a2238,
		moreItemText: #151b2d,
		primaryWrapperText: #595f6e,
		primaryCheckBorder: #595f6e,
		noteAddColor: #e4e5e6,
		noteTypingBg: #2f3762,
		loadingBarBg: #20283c,
		loadingBarInnerBg: linear-gradient(270deg, #20283c 0%, #696ff3 102.19%),
		projThemeBg: #21293e,
		whiteToLightWhite: #f5f5f5,
		selectOptionHover: #e5e5e5,
		themeSelectBoxShadow: rgba(0, 0, 0, 0.08),
		emptyProjectCreateColor: #ffffff,
		emptyProjectCreateBg: #696ff3,
		emptyProjectCreateBorder: #696ff3,
		insightsItemBorder: #21293e,
		insightsItemColor: #ffffff,
		insightsItemBg: #696ff3,
		insightsEmptyBg: #21293e,
		insightsTableHeadBg: #151b2d,
		leftBarHeaderBg: #383838,
		leftBarHeaderDownColor: #a7a7a6,
		leftBarHeaderExpandArrowColor: #b0b0b0,
		leftBarHeaderExpandArrowBg: #000000,
		leftBarHeaderItemHover: rgba(255, 255, 255, 0.1),
		leftBarProfilebg: rgba(255, 255, 255, 0.15),
		leftBarHeaderToggleHeadBg: #a7a7a6,
		profileUserDetailBg: #141627,
		profileCardBoxShadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
		profileRoleToggleBg: #141627,
		productivityTableHeaderBg: #171f34,
		productivityStarBg: #e4e5e6,
		productivityProposalTableHeaderBg: #2e3150,
		galleryCreateBtn: #5437a1,
		galleryCreateBtnHover: linear-gradient(180deg, #9256d9 100%, #5f55ec 0%),
		searchBarBg: #1e1e1e,
		templateCardBg: #21293e,
		univLoader: linear-gradient(to right, #21293e 8%, #21293e 18%, #21293e 33%),
		proposalTableHeader: #2e3150,
		proposalTableDraft: #141627,
		proposalTableRowBorder: 0px 1px 0px rgba(0, 0, 0, 0.05),
		createProposalHeader: #2e3150,
		userTableFilterActive: #b6550f,
		projectSubFilterBox: none,
		leftBarProfileiconFill: #a7a7a6,
		settingsInputBg: #141627,
		settingsInputDisabledBg: #21293e,
		settingsInputDisabledBorder: #81838b,
		subscriptionStorageBarBg: #141627,
		brandLogoContainerBorder: #81838b,
		financesFirstStatsBorder: #141627,
		calendarBorder: 1px solid #000,
		financesDropdownActive: #f5f5f5,
		financesDropdownItemColor: #333333,
		financesDropdownContainerBg: #ffffff,
		financesDropdownBox: 0px 2px 8px rgba(0, 0, 0, 0.2),
		financeAmountCellColor: #d99dff,
		financeCreatedByColor: #141627,
		financeTableRowHover: #5437a1,
		financeTableIcnColor: #e5e5e5,
		proposalsActionHover: #2e3150,
		proposalsDropdownShadow: 0px 0px 40px rgba(0, 0, 0, 0.4),
		createProposalRightDescColor: #755be0,
		createProposalDropDownActiveBg: #f5f5f5,
		createProposalDropDownActiveBorder: #5437a1,
		createProposalInactiveDropdownItemColor: #707070,
		createProposalActiveDropItemSvg: #333333,
		createProposalInactiveBtnBg: #534f5f,
		proposalRejectHoverBorder: #5437a1,
		financesFilterBorder: #d9d9d9,
		financesFilterIcnFill: #ffffff,
		tableHeaderBG: #272727,
		responsePopUp: #383838,
		teamSideBarBG: #333333,
		proposalPopUpBg: #383838,
		proposalPopUpInputBorderColor: #707070,
		proposalPopUpGrayBtnBg: #232323,
		templateCreateListAHover: #2e2e2e,
		proposalListTableListRowBorder: #272727,
		createProjectBgNew: #383838,
		newAccentColor: $themev4Color,
		createProjectSummaryBg: #272727,
		createProjectSelectIndicatorColor: #898989,
		createProjectSuggestionBg: #1e1e1e,
		createProjectSummaryBorder: #383838,
		summaryItemBG: #272727,
		summaryItemShadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
		shootAddPopupHeaderBg: #272727,
		shootAddPopupMoreIcn: #707070,
		shootAddPopupBottomBoxShadow: 0px -2px 0px #272727,
		shootAddPopupBottomCancelBg: #232323,
		leftBarBoxShadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
		projectLeftBarBg: #121212,
		projectLeftBarOverdueTextColor: #121212,
		tableCrewCircleText: #ffffff,
		huemnSearchBgInitial: #232323,
		huemnSearchIcnInitial: #e4e5e6,
		huemnSearchInputText: #232323,
		huemnSearchInputPlaceHolder: #707070,
		formShareHeaderBg: #1e1e1e,
		formShareMobileContainerBg:
			'linear-gradient(0deg, #272727, #272727), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 19.14%)',
		formShareMobileHeaderBg: #383838,
		formShareMobileSpeakerBg: #272727,
		formInsightsDotItemBg: rgba(112, 112, 112, 0.5),
		formInsifhtsDotItemCircleBorder: #707070,
		formInsightsDotItemBtmCircleBg: #707070,
		pageNavBarBoxShadow: 0px -1px 0px rgba(255, 255, 255, 0.2),
		financesDividerLineBg: 0px 1px 0px rgba(255, 255, 255, 0.08),
		financesMyExpensesBg: #264760,
		financesVendorPmtsBg: #4a6d88,
		financesYellowTextColor: #eab73e,
		financesItemHover: #383838,
		overviewCircleUpcomingBg: #303030,
		overviewCardTextBg: #121212,
		subHeaderCardBg: #333333,
		permissionToggleHeadBg: #ffffff,
		permissionToggleBg: #232323,
		custTransparent: transparent,
		uploadBrandLogoToggleBg: #121212,
		waterMarkEditModalBg: #383838,
		watermarkSelectedDefaultBg: #e5e5e5,
		layoutSettingsBorderColor: #e4e5e6,
		redToRed: #ca5a4f,
		inputErrorColor: #f8532b,
		brandDropDownBoxShadow: 0px 0px 4px rgba(0, 0, 0, 0.7),
		financesLeftBarBoxShadow: none,
		huemnFilterLeftBorder: #d5d5d5,
		huemnFilterLeftBg: #f5f5f5,
		huemnFilterLeftHover: #e5e5e5,
		huemnFilterRightHover: #f5f5f5,
		profitLossTableBoxShadow: 2px 0px 4px rgba(0, 0, 0, 0.5),
		projectLayoutBorder: #555555,
		subscriptionNewBg: #121212,
		subscriptionNewUncheckColor: #9c9c9c,
		subscriptionNewGradient:
			linear-gradient(270deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%),
	),
);
