// Global css variables
:root {
	// fallback colors if theme attribute is not set
	--background-color: linear-gradient(180deg, #0e0f0f 0%, #131315 100%);
	--accent-color: #6254f5;
	--white: #e8e8e8;
	--black-shade-1: #091215;
	--black-shade-2: #171819;
	--black-shade-3: #202123;
	--black-shade-4: #1c1d1f;
	--primary-font-color: #e8e8e8;
	--secondary-font-color: #7c7c84;
	--success-green: #009c2e;
	--error-red: #d1243f;
	--pending-orange: #fa9d27;
	--primary-font-family: 'Inter';
	--landing-page-font-family: 'Manrope';
	--onboarding-font-family: 'Brasley';
}

// dark theme global css variables
[theme='dark'] {
	--background-color: rgba(12, 12, 13, 1);
	--card: rgba(23, 24, 25, 1);
	--card-hover: rgba(32, 33, 35, 1);
	--popup: rgba(32, 33, 35, 1);
	--navbar-bg: rgba(32, 33, 35, 1);
	--card-over-card: rgba(32, 33, 35, 1);
	--card-over-card-hover: rgba(39, 40, 43, 1);
	--stroke: rgba(51, 51, 52, 1);
	--stroke-hover: rgba(66, 69, 72, 1);
	--stroke-active: rgba(32, 33, 35, 1);
	--primary-font: rgba(242, 242, 243, 1);
	--secondary-font: rgba(122, 126, 133, 1);
	--right-bar: rgba(23, 24, 25, 1);
}

// light theme global css variables
[theme='light'] {
	--background-color: rgba(242, 242, 243, 1);
	--card: rgba(250, 250, 250, 1);
	--card-hover: rgba(242, 242, 243, 1);
	--popup: rgba(242, 242, 243, 1);
	--navbar-bg: rgba(250, 250, 250, 1);
	--card-over-card: rgba(242, 242, 243, 1);
	--card-over-card-hover: rgba(228, 228, 231, 1);
	--stroke: rgba(202, 203, 206, 1);
	--stroke-hover: rgba(123, 125, 132, 1);
	--stroke-active: rgba(242, 242, 243, 1);
	--stroke-disabled: rgba(242, 242, 243, 1);
	--primary-font: rgba(12, 12, 13, 1);
	--secondary-font: rgba(149, 152, 157, 1);
	--right-bar: rgba(250, 250, 250, 1);
}
