.user-message-renderer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 100%;
	gap: 10px;

	.uploaded-images-container {
		width: 100%;
		max-width: 70%;
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 6px;

		.uploaded-image {
			width: 128px;
			height: 128px;
			cursor: pointer;
			border-radius: 8px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				background-position: center;
				object-fit: cover;
			}
		}

		.count-one {
			width: 100%;
			max-width: 55%;
			height: fit-content;
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
		}
	}

	.uploaded-files-container {
		display: flex;
		flex-direction: row-reverse;
		display: flex;
		align-items: center;
		gap: 12px;
		// overflow-x: auto;
		flex-wrap: wrap;
		width: fit-content;
		max-width: 100%;

		scrollbar-width: none !important; /* Firefox */
		-ms-overflow-style: none !important; /* IE and Edge */
		&::-webkit-scrollbar {
			display: none !important; /* Chrome, Safari, Opera */
		}

		.uploaded-file {
			display: flex;
			max-width: 280px;
			padding: 10px 12px;
			align-items: center;
			white-space: nowrap;
			gap: 12px;
			border-radius: 12px;
			border: 1px solid var(--stroke, #2c2d2e);
			position: relative;

			.file-type-icon {
				align-items: center;
				display: flex;
				height: 38px;
				justify-content: center;
				width: 38px;
				padding: 9px;
				background: var(--card-over-card);
				border-radius: 6px;
				svg {
					width: 100%;
					height: 100%;
				}
			}

			.uploaded-file-info {
				display: flex;
				height: 40px;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				flex: 1 0 0;

				.uploaded-file-name {
					max-width: 200px;
					display: flex;
					gap: 6px;

					.file-title {
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 100%;
						color: var(--primary-font, #f2f2f3);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 20px;
					}
				}

				.file-source-type {
					align-self: stretch;
					color: var(--secondary-font, #94989e);
					font-family: var(--chat-primary-font-family);
					text-transform: uppercase;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: 18px;
				}
			}
		}
	}

	.user-message-wrapper {
		width: fit-content;
		max-width: 520px;
		.user-message {
			width: 100%;

			.user-message-renderer-container {
				background: var(--chat-box);
				border-radius: 24px;
				color: var(--primary-font);
				font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
					Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol,
					var(--chat-primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				overflow-wrap: anywhere;
				padding: 12px 16px;
				white-space: pre-wrap;
				width: 100%;
				word-break: normal;
			}
		}
	}

	.expand-btn {
		width: fit-content;
		.btn-text {
			color: var(--primary-button);
			cursor: pointer;
			font-size: 0.75rem;
			line-height: 1rem;
		}
	}

	.user-edit-query-input-box-container {
		display: flex;
		max-height: 400px;
		width: 100%;
		padding: 16px;
		flex-direction: column;
		gap: 12px;
		align-self: center;
		border-radius: 16px;
		background-color: var(--card);

		textarea {
			width: 100%;
			min-height: 24px;
			max-height: 320px;
			border: none;
			outline: none;
			background: transparent;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			resize: none;
		}

		.user-editQuery-actionBtnContainer {
			display: flex;
			justify-content: flex-end;
			gap: 12px;

			.cancelBtn {
				background-color: #212121;
				border-color: #ffffff26;
				border-width: 1px;
				color: #ececec;

				align-items: center;
				border-color: transparent;
				border-radius: 9999px;
				border-width: 1px;
				display: inline-flex;
				flex-shrink: 0;
				font-size: 0.875rem;
				font-weight: 500;
				justify-content: center;
				line-height: 1.25rem;
				min-height: 38px;
				padding: 0.5rem 0.875rem;
				pointer-events: auto;
				cursor: pointer;
			}
			.sendBtn {
				border-width: 1px;
				color: #111;
				// background-color: #79ecc9;
				background: var(--primary-button);
				align-items: center;
				border-color: transparent;
				border-radius: 9999px;
				border-width: 1px;
				display: inline-flex;
				flex-shrink: 0;
				font-size: 0.875rem;
				font-weight: 500;
				justify-content: center;
				line-height: 1.25rem;
				min-height: 38px;
				padding: 0.5rem 0.875rem;
				pointer-events: auto;
				cursor: pointer;
			}
		}
	}

	.hover-actions-container {
		display: flex;
		gap: 16px;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		opacity: 0;
		margin-right: 5px;
		transition: all 0.1s ease-out;

		.icon-container {
			width: 16px;
			height: 16px;
			cursor: pointer;
			position: relative;
		}
	}
}
.user-message-renderer-wrapper:hover {
	.hover-actions-container {
		opacity: 1;
	}
}
.user-hover-icons-tooltip {
	background-color: var(--card-over-card-hover);
	color: var(--primary-font);
	padding: 10px;
	border-radius: 10px;
	font-family: var(--chat-primary-font-family);
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.chat-preview-image-container {
	.ant-image-preview-mask {
		background-color: var(--backdrop);
	}
	.ant-image-preview-wrap {
		z-index: 1080 !important;
	}
}
