.markdown-custom-content {
	color: var(--primary-font);
	font-family: var(--chat-primary-font-family);
	--font-size: 16px;
	width: 100%;

	.span {
		color: var(--primary-font);
		font-family: var(--chat-primary-font-family);
		font-size: calc(var(--font-size) * 1);
		font-weight: 400;
		line-height: 28px;
		// letter-spacing: 0.2px;
	}

	.markdown-image-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: fit-content;
		height: fit-content;

		.img {
			width: 100%;
			height: auto;
		}
	}

	.code {
		font-size: inherit;
		color: var(--primary-font);
		font-family: var(--chat-primary-font-family);
		line-height: calc(var(--font-size) * 1.75);
		font-weight: 400;
		background-color: var(--stroke);
		padding: 0.15em 0.3em;
		border-radius: 0.4em;
		// box-decoration-break: clone;
		// -webkit-box-decoration-break: clone;
	}

	.h1,
	.h2,
	.h3 {
		.strong {
			font-weight: inherit !important;
		}
	}

	.h1 {
		color: var(--primary-font);
		font-size: 24px; /* 26px */
		// letter-spacing: 0.2px;
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin: 20px 0; /* 12px */
		line-height: 32px; /* 32px */
	}

	.h2 {
		color: var(--primary-font);
		font-size: 24px; /* 22px */
		// letter-spacing: 0.2px;
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin: 18px 0; /* 16px */
		line-height: 32px; /* 28px */
	}

	.h3 {
		color: var(--primary-font);
		font-size: 20px; /* 20px */
		// letter-spacing: 0.2px;
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin: 24px 0 8px 0 !important; /* 16px */
		line-height: 28px; /* 24px */
	}

	.h4,
	.h5 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1.125); /* 18px */
		line-height: calc(var(--font-size) * 1.375); /* 22px */
		// letter-spacing: 0.2px;
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin: calc(var(--font-size) * 1) 0; /* 16px */
	}

	.h6 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1); /* 16px */
		line-height: calc(var(--font-size) * 1.5625); /* 25px */
		// letter-spacing: 0.2px;
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin: calc(var(--font-size) * 1) 0; /* 16px */
	}

	.p {
		color: var(--primary-font);
		// color: var(--chat-secondary-font);
		font-family: var(--chat-primary-font-family);
		font-size: calc(var(--font-size) * 1);
		font-weight: 400;
		// letter-spacing: 0.2px;
		line-height: 28px;
		margin: 16px 0 !important;
	}

	.pre {
		padding: calc(var(--font-size) * 1); /* 1px */
		overflow: auto;
		font-size: calc(var(--font-size) * 0.85);
		line-height: 1.45;
		background-color: var(--card-over-card);
		border-radius: calc(var(--font-size) * 1); //0.375
		// letter-spacing: 0.2px;
		font-family: var(--chat-primary-font-family);
		margin: 16px 0;

		.code {
			background-color: transparent;
			padding: 0;
		}
	}

	.pre:has(.markdown-code-wrapper) {
		padding: 0;
	}

	hr {
		margin: 20px 0;
		border: 0;
		border-top: 1px solid var(--stroke);
	}

	.ol,
	.ul {
		list-style-position: outside;
		margin-bottom: 16px; /* 8px */
		margin-top: 8px;
		font-size: calc(var(--font-size) * 0.9375);
		line-height: 28px;
		font-family: var(--chat-primary-font-family);
		padding-left: 22px; /* 24px */

		.p {
			margin: 0 !important;
		}
	}

	.ol {
		list-style-type: decimal;
		.li {
			&::marker {
				font-size: calc(var(--font-size) * 1);
				color: var(--primary-font);
				font-weight: 600;
			}
		}
	}

	.ul {
		list-style-type: disc;
		.ul {
			list-style-type: circle;
		}
		.li {
			&::marker {
				font-size: calc(var(--font-size) * 1);
				color: var(--primary-font);
				margin-right: 5px;
			}
		}
	}

	.li {
		color: var(--primary-font);
		font-family: var(--chat-primary-font-family);
		// letter-spacing: 0.2px;
		font-weight: 400;
		line-height: 28px;
		font-size: calc(var(--font-size) * 1);
		margin: 5px 0;
		padding-left: 3px;
	}

	.strong {
		color: var(--primary-font);
		font-weight: 600;
		font-family: var(--chat-primary-font-family);
		// letter-spacing: 0.2px;
		line-height: 28px;
	}

	.iframe-wrapper {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
		position: relative;
		margin: calc(var(--font-size) * 0.5) 0; /* 8px */

		.iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid var(--stroke);
			border-radius: calc(var(--font-size) * 0.375); /* 6px */
		}
	}

	.a {
		color: var(--info);
		font-size: inherit;
		line-height: calc(var(--font-size) * 1.5);
		// letter-spacing: 0.2px;
		font-weight: 400;
		font-family: var(--chat-primary-font-family);
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}
	.markdown-code-wrapper {
		display: flex;
		flex-direction: column;
		border-radius: calc(var(--font-size) * 1);
		overflow: hidden;
		border: 1px solid var(--stroke);
		background-color: var(--card);

		.code-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: calc(var(--font-size) * 1);
			background-color: var(--card-over-card-hover);
			.copy-code-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparent;
				border: none;
				cursor: pointer;
				padding: 0;
				align-self: flex-end;
				height: 18px;
				width: 18px;

				svg {
					path {
						fill: var(--primary-font);
					}
				}
			}
			.code-language {
				font-size: 14px;
				color: var(--primary-font);
				font-family: var(--chat-primary-font-family);
				font-weight: 400;
				line-height: 1.5;
				// letter-spacing: 0.2px;
			}
		}
	}
	.table-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin: calc(var(--font-size) * 0.625) 0;

		.copy-table-btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
			height: 18px;
			padding: 0;
			align-self: flex-end;
		}
		.table-container {
			max-width: 100%;
			overflow-x: auto;
			border-radius: calc(var(--font-size) * 1);
			border: 1px solid var(--stroke);

			&::-webkit-scrollbar {
				height: calc(var(--font-size) * 0.375); /* 6px */
			}

			&::-webkit-scrollbar-track {
				background: var(--card);
				border-radius: calc(var(--font-size) * 0.1875); /* 3px */
			}

			&::-webkit-scrollbar-thumb {
				background: var(--card);
				border-radius: calc(var(--font-size) * 0.1875); /* 3px */

				&:hover {
					background: var(--card-hover);
				}
			}

			.table {
				border-collapse: separate;
				border-spacing: 0;
				width: 100%;

				th,
				td {
					border: none;
					color: var(--primary-font);
					font-size: calc(var(--font-size) * 0.875); /* 14px */
					line-height: calc(var(--font-size) * 1.25); /* 20px */
					font-weight: 400;
					font-family: var(--chat-primary-font-family);
					padding: calc(var(--font-size) * 0.5) calc(var(--font-size) * 1.25); /* 8px 20px */
				}

				th {
					text-align: left;
					background-color: var(--right-bar);
					font-size: calc(var(--font-size) * 0.9375); /* 15px */
					padding: calc(var(--font-size) * 0.875) calc(var(--font-size) * 1.25); /* 14px 20px */
					border-bottom: 1px solid var(--stroke);
				}

				tr:first-child {
					td {
						padding-top: calc(var(--font-size) * 1); /* 16px */
					}
				}
			}
		}
	}

	//this will remove margin of first child
	> :first-child {
		margin-top: 0 !important;
	}

	//this will remove margin of last child
	> :last-child {
		margin-bottom: 0 !important;
	}
}

.markdown-custom-animate {
	.li {
		opacity: 0;
		animation: chat-fade-in 0.8s ease-in-out forwards;
	}

	.chat-fade-in {
		opacity: 0;
		animation: chat-fade-in 0.8s ease-in-out forwards;
	}

	hr {
		opacity: 0;
		animation: chat-fade-in 0.8s ease-in-out forwards;
	}
}

@keyframes chat-fade-in {
	to {
		opacity: 1;
	}
}
