.user-message-renderer-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 100%;
	gap: 10px;

	.uploaded-images-container {
		width: fit-content;
		max-width: 530px;
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: 6px;
		height: 128px;

		.uploaded-image {
			width: 128px;
			height: 128px;
			cursor: pointer;
			border-radius: 8px;
		}
	}

	.user-message-wrapper {
		width: fit-content;
		max-width: 520px;
		.user-message {
			width: 100%;

			.user-message-renderer-container {
				background: var(--chat-box);
				border-radius: 24px;
				color: var(--primary-font);
				font-family: var(--chat-primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				overflow-wrap: anywhere;
				padding: 12px 16px;
				white-space: pre-wrap;
				width: 100%;
				word-break: normal;
				letter-spacing: 0.2px;
			}
		}
	}

	.expand-btn {
		width: fit-content;
		.btn-text {
			color: var(--primary-button);
			cursor: pointer;
			font-size: 0.75rem;
			line-height: 1rem;
		}
	}

	.user-edit-query-input-box-container {
		display: flex;
		max-height: 400px;
		width: 700px;
		padding: 16px;
		flex-direction: column;
		gap: 12px;
		align-self: center;
		border-radius: 16px;
		background-color: var(--card);

		textarea {
			width: 100%;
			min-height: 24px;
			max-height: 320px;
			border: none;
			outline: none;
			background: transparent;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			resize: none;
		}

		.user-editQuery-actionBtnContainer {
			display: flex;
			justify-content: flex-end;
			gap: 12px;

			.cancelBtn {
				background-color: #212121;
				border-color: #ffffff26;
				border-width: 1px;
				color: #ececec;

				align-items: center;
				border-color: transparent;
				border-radius: 9999px;
				border-width: 1px;
				display: inline-flex;
				flex-shrink: 0;
				font-size: 0.875rem;
				font-weight: 500;
				justify-content: center;
				line-height: 1.25rem;
				min-height: 38px;
				padding: 0.5rem 0.875rem;
				pointer-events: auto;
				cursor: pointer;
			}
			.sendBtn {
				border-width: 1px;
				color: #111;
				background-color: #cfff48;
				align-items: center;
				border-color: transparent;
				border-radius: 9999px;
				border-width: 1px;
				display: inline-flex;
				flex-shrink: 0;
				font-size: 0.875rem;
				font-weight: 500;
				justify-content: center;
				line-height: 1.25rem;
				min-height: 38px;
				padding: 0.5rem 0.875rem;
				pointer-events: auto;
				cursor: pointer;
			}
		}
	}

	.hover-actions-container {
		display: flex;
		gap: 18px;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		visibility: hidden;

		.icon-container {
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
	}
}
.user-message-renderer-wrapper:hover {
	.hover-actions-container {
		visibility: visible;
	}
}
.user-hover-icons-tooltip {
	background-color: var(--card-over-card-hover);
	color: var(--primary-font);
	padding: 10px;
	border-radius: 10px;
	font-family: var(--chat-primary-font-family);
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.chat-preview-image-container {
	.ant-image-preview-mask {
		background-color: var(--backdrop);
	}
	.ant-image-preview-wrap {
		z-index: 1080 !important;
	}
}
