.markdown-custom-content {
	color: var(--primary-font);
	font-family: var(--chat-primary-font-family);
	--font-size: 16px;

	span {
		font-family: var(--chat-primary-font-family);
		font-size: calc(var(--font-size) * 0.9375);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		color: var(--chat-secondary-font);
		line-height: calc(var(--font-size) * 1.5);
	}

	.markdown-image-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: fit-content;
		height: fit-content;

		.img {
			width: 100%;
			height: auto;
		}
	}

	.h1,
	.h2 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1.75);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 700;
		font-family: var(--chat-primary-font-family);
		margin-top: calc(var(--font-size) * 0.75); /* 24px */
		margin-bottom: calc(var(--font-size) * 0.5); /* 8px */
		line-height: calc(var(--font-size) * 2.25);
	}

	.h3 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin-bottom: calc(var(--font-size) * 0.5); /* 8px */
		margin-top: calc(var(--font-size) * 1.5); /* 24px */
		line-height: calc(var(--font-size) * 2);
	}

	.h4 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1.375);
		line-height: calc(var(--font-size) * 2);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin-bottom: calc(var(--font-size) * 0.5); /* 8px */
		margin-top: calc(var(--font-size) * 1.5); /* 24px */
	}

	.h5 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 1.125);
		line-height: calc(var(--font-size) * 1.75);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin-bottom: calc(var(--font-size) * 0.5); /* 8px */
		margin-top: calc(var(--font-size) * 1.5); /* 24px */
	}

	.h6 {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 0.9375);
		line-height: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin-bottom: calc(var(--font-size) * 0.5); /* 8px */
		margin-top: calc(var(--font-size) * 1.5); /* 24px */
	}

	.p {
		color: var(--chat-secondary-font);
		font-size: calc(var(--font-size) * 0.9375);
		line-height: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		margin-bottom: calc(var(--font-size) * 1);
	}

	.pre {
		padding: calc(var(--font-size) * 0.0625); /* 1px */
		overflow: auto;
		font-size: calc(var(--font-size) * 0.85);
		line-height: 1.45;
		background-color: var(--card);
		border-radius: calc(var(--font-size) * 0.375); /* 6px */
		font-family: var(--chat-primary-font-family);
	}

	hr {
		margin: calc(var(--font-size) * 0.5) 0;
		border: 0;
		border-top: 1px solid var(--chat-secondary-font);
	}

	.ol,
	.ul {
		list-style-position: outside;
		margin-bottom: calc(var(--font-size) * 0.0625); /* 1px likely a typo? */
		font-size: calc(var(--font-size) * 0.9375);
		line-height: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		padding-left: calc(var(--font-size) * 2.25);
	}

	.li {
		list-style-type: disc;
		color: var(--chat-secondary-font);
		font-family: var(--chat-primary-font-family);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		line-height: calc(var(--font-size) * 1.5);
		font-size: calc(var(--font-size) * 0.9375);
		margin-bottom: calc(var(--font-size) * 0.625);
	}

	.li::marker {
		font-size: calc(var(--font-size) * 1.25);
	}

	.span {
		color: var(--chat-secondary-font);
		letter-spacing: calc(var(--font-size) * -0.02);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
	}

	.strong {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 0.875);
		line-height: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 700;
		font-family: var(--chat-primary-font-family);
	}

	.iframe-wrapper {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
		position: relative;
		margin: calc(var(--font-size) * 0.5) 0; /* 8px */

		.iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid var(--stroke);
			border-radius: calc(var(--font-size) * 0.375); /* 6px */
		}
	}

	.a {
		color: var(--primary-font);
		font-size: calc(var(--font-size) * 0.9375);
		line-height: calc(var(--font-size) * 1.5);
		letter-spacing: calc(var(--font-size) * 0.0125);
		font-weight: 500;
		font-family: var(--chat-primary-font-family);
		text-decoration: underline;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 5px;
	}
	.table-wrapper {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin: calc(var(--font-size) * 0.625) 0;

		.copy-table-btn {
			width: fit-content;
			background-color: transparent;
			border: none;
			cursor: pointer;
			height: 18px;
			width: 100%;
			text-align: right;
		}
		.table-container {
			max-width: 100%;
			overflow-x: auto;
			border-radius: calc(var(--font-size) * 1);
			border: 1px solid var(--stroke);

			&::-webkit-scrollbar {
				height: calc(var(--font-size) * 0.375); /* 6px */
			}

			&::-webkit-scrollbar-track {
				background: var(--card);
				border-radius: calc(var(--font-size) * 0.1875); /* 3px */
			}

			&::-webkit-scrollbar-thumb {
				background: var(--card);
				border-radius: calc(var(--font-size) * 0.1875); /* 3px */

				&:hover {
					background: var(--card-hover);
				}
			}

			.table {
				border-collapse: separate;
				border-spacing: 0;
				width: 100%;

				th,
				td {
					border: none;
					color: var(--primary-font);
					font-size: calc(var(--font-size) * 0.875); /* 14px */
					line-height: calc(var(--font-size) * 1.25); /* 20px */
					letter-spacing: calc(var(--font-size) * 0.0125); /* 0.2px */
					font-weight: 500;
					font-family: var(--chat-primary-font-family);
					padding: calc(var(--font-size) * 0.5) calc(var(--font-size) * 1.25); /* 8px 20px */
				}

				th {
					text-align: left;
					background-color: var(--right-bar);
					font-size: calc(var(--font-size) * 0.9375); /* 15px */
					padding: calc(var(--font-size) * 0.875) calc(var(--font-size) * 1.25); /* 14px 20px */
					border-bottom: 1px solid var(--stroke);
				}

				tr:first-child {
					td {
						padding-top: calc(var(--font-size) * 1); /* 16px */
					}
				}
			}
		}
	}
}
