.FullScreenSidebar {
	padding: 20px;
	display: flex;
	height: 93vh;
	position: relative;
	transition: all 0.5s;
	z-index: 1000;
	&.opened {
		height: 100dvh !important;
		position: relative;
		margin-top: -60px !important;
		margin-left: -32px !important;
		padding: 0 !important;
		margin-right: 10px !important;
		transition: all 0.7s;
		// border: 1px solid rgba(255, 255, 255, 0.1);
	}

	&.no-submodules:not(.opened) {
		height: 25dvh !important;
	}
	&.has-submodules {
		height: 93dvh !important;
	}
	.sidebarComponent {
		min-height: 100%;
		background: #202123;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: width 0.5s;
		overflow-y: auto;
		transition: all 0.5s ease-in-out;
		z-index: 1;

		&.open {
			border-radius: 0px !important;
			height: 100dvh !important;
			width: 250px !important;
		}

		.closedSideBarComponent {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			min-height: inherit;
			padding: 10px 10px 18px 10px;
			border-radius: inherit;
			z-index: 1;
			border: none !important;

			.hoverStateIconsClosed {
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				svg {
					transition: all 0.5s;
				}
				&.selected {
					background: #89ac4f;
				}
			}

			.openWorkFlowContainer {
				width: 41px;
				height: 41px;
				border-radius: 50%;
				fill: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0.11) -9.68%,
					rgba(0, 0, 0, 0.05) 98.65%
				);
				box-shadow: 2px 2px 4px 0px #151515 inset, -2px -2px 4px 0px #212121 inset;
				filter: drop-shadow(1px 1px 2px rgba(14, 14, 14, 0.7));
				position: relative;
				cursor: pointer;

				.gradientCirlce {
					width: 41px;
					height: 41px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
					// mix-blend-mode: lighten;
					box-shadow: none;

					.svgDiv {
						position: absolute;
						inset: 0;
					}

					&:hover {
						background: #1d1d1d;
						border: none;
					}
				}
			}
			.ClosedIconsContainer {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.iconContainer {
					cursor: pointer;
					transition: background-color 0.3s;
					text-align: center;
					height: 23px;
					width: 23px;

					&.selected {
						background-color: #89ac4f !important;
						border-radius: 50%;
						padding: 12px;
					}
				}
			}

			.TabOptions {
				display: flex;
				flex-direction: column;
				gap: 24px;
				.plusIconHover {
					svg {
						rotate: 180deg;
					}
				}

				.activeWorkspaceDiv {
					width: 30px;
					height: 30px;
					border-radius: 100px;
					background: #cdc29d;
					cursor: pointer;

					img {
						width: 100%;
						height: 100%;
						border-radius: 100px;
					}
				}
			}

			.dropDownMenuContainer {
				position: absolute;
				left: 40px;
				transform: translateY(-13px);

				.closedDropDownMenu {
					display: flex;
					flex-direction: column;
					width: inherit;
					border-radius: 10px;
					border: 1px solid rgba(100, 100, 100, 0.16);
					background: #151515;
					padding: 0px 0px;
					overflow: hidden;

					> div {
						color: #e4e5e6;
						text-overflow: ellipsis;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;
						letter-spacing: -0.3px;
						padding: 12px 24px;
						cursor: pointer;
						transition: all 0.3s;
						&:hover {
							background: #5d43fb;
						}
					}
				}
			}
		}
		.raindropEffect {
			position: absolute;
			top: 5%;
			left: 90%;
			width: 220px;
			height: 145px;
			background: #202123;
			border-radius: 24px;
			transform-origin: left;
			animation: flowEffect 0.6s ease-out forwards;
		}
		@keyframes flowEffect {
			0% {
				transform: translateY(-50%) translateX(-30%) scale(0);
				opacity: 0;
			}
			50% {
				transform: translateY(-50%) translateX(5%) scale(1);
				opacity: 1;
			}
			100% {
				transform: translateY(-50%) translateX(5%) scale(1);
				opacity: 1;
			}
		}

		.openSideBarComponent {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: 100vh;
			width: 250px;
			border-radius: inherit;
			transition: height 0.8s ease;
			padding-bottom: 28px;
			.allmodulesList,
			.bottomOptionsList {
				.creditsLeft {
					width: 218px;
					padding: 16px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					background: #2e2f33;
					border-radius: 12px;
					margin-top: 10px;
					&:hover {
						background: #2e2f33;
						opacity: 0.5;
					}
				}
				.singleModuleItem {
					width: 218px;
					display: flex;
					justify-content: space-between;
					gap: 14px;
					align-items: center;
					padding: 12px 16px;
					position: relative;
					// transition: margin 0.2s ease;
					p {
						color: #e8e8e8;
						text-align: right;
						font-family: 'Inter';
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					&:hover {
						border-radius: var(--Radius-lg, 24px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
					.downArrow {
						transition: transform 0.4s ease;
						&.rotate {
							transform: rotate(180deg);
						}
					}
					.dropdownMenu {
						z-index: 10;
						width: 100%;
						position: absolute;
						top: 100%;
						left: 0;
						transition: opacity 0.5s ease;

						.subItem {
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 10px;
							width: 100%;
							font-size: 14px;
							margin-top: 2px;
							color: #e8e8e8;
							padding: 10px;
							// gap: 5px;
							&:hover {
								background: var(
									--ve-ai-dark-theme-text-field-stroke-pop-up,
									#2c2d2e
								);
								border-radius: var(--Radius-lg, 24px);
							}
							&:active {
								background: #2e2f33;
								border-radius: 12px;
							}
						}
					}

					.dropdownItem {
						padding: 10px;
						color: #e4e5e6;
						cursor: pointer;

						&:hover {
							background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
							border-radius: var(--Radius-lg, 24px);
						}
					}
				}

				.activeListModule,
				.activeListModule:hover {
					border-radius: 100px;
					background: #2e2f33;
					cursor: pointer;
					p {
						color: #e4e5e6;
					}
				}
			}
			.AichatDiv {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 218px;
				padding: 12px 16px;
				cursor: 'pointer';
				.downArrow.rotate {
					transform: rotate(180deg);
				}
			}
			.aiChatsSubmodules {
				.subModule {
					padding: 12px 16px;
				}
				.subModule:hover {
					background: #2e2f33;
					border-radius: 100px;
				}
			}

			.topOptionsList {
				width: 218px;
				display: flex;
				flex-direction: column;
				gap: 14px;
				.veAiLogoDiv {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 218px;
					.workspaceDetailsDiv {
						display: flex;
						align-items: center;
						padding: 32px 20px;
						gap: 12px;
						img {
							width: 18px;
							height: 18px;
							border-radius: 50%;
						}

						h6 {
							color: #e8e8e8;
							text-align: right;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							// max-width: 120px; // Adjust this value as needed
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				.singleModuleItem {
					width: 218px;
					display: flex;
					justify-content: flex-start;
					gap: 14px;
					align-items: center;
					padding: 12px 12px;
					p {
						color: #e8e8e8;
						text-align: right;
						font-family: 'Inter';
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: -0.3px;
					}

					&:hover {
						border-radius: var(--Radius-lg, 24px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
				}
			}

			.bottomOptionsList {
				.planExpiresDiv {
					display: flex;
					width: 218px;
					padding: 16px;
					align-items: center;
					gap: 136px;
					border-radius: 12px;
					background: #2e2f33;
					.planExpiresTitle {
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-size: 14px;
						font-weight: 500;
						line-height: normal;
					}
					&:hover {
						background: #2e2f33;
						opacity: 0.5;
					}
				}
				.planExpiredDiv {
					display: flex;
					width: 218px;
					height: 150px;
					padding: 20px;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					flex-shrink: 0;
					border-radius: 12px;
					background: #2e2f33;
					.planExpiredTitle {
						font-family: Inter;
						font-size: 20px;
						font-style: normal;
						font-weight: 500;
						line-height: 22px;
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					.renewNowDiv {
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					&:hover {
						background: #2e2f33;
						opacity: 0.5;
					}
				}
				.logoutItem,
				.logoutItem:hover {
					p {
						color: #cc5756cc;
					}
				}
				.currentWorkspaceDiv {
					display: flex;
					justify-content: space-between;
					align-items: center;
					// flex: 1 0 0;
					cursor: pointer;
					// padding: 2px;
					width: 218px;

					.detailsDiv {
						display: flex;
						padding: 12px 16px;
						justify-content: space-between;
						align-items: center;
						align-self: stretch;
						width: 100%;
					}
				}
			}
		}

		.workspaceListComponent {
			padding: 24px;
			display: flex;
			flex-direction: column;
			gap: 21px;
			overflow-y: auto;
			max-height: 94vh;

			.backContinaer {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				h6 {
					color: #e8e8e8;
					text-align: right;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					letter-spacing: -0.3px;
				}
			}

			.workspaceList {
				display: flex;
				flex-direction: column;
				gap: 4px;
				width: 100%;

				.singleWorkspace {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 218px;
					padding: 12px 16px;
					.workSpaceCircle {
						width: 18px;
						height: 18px;
						border-radius: 50%;
						background: #1d1d1d;
						display: flex;
						align-items: center;
						justify-content: center;
						background: #2b2b2b;
						cursor: pointer;

						p {
							color: #e8e8e8;
							text-align: flex-start;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							letter-spacing: -0.3px;
						}

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
						}

						.no-logo {
							width: 50%;
							height: 50%;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							color: #c3c0c0;
							font-family: Inter;
							font-size: 25px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							text-transform: uppercase;
							letter-spacing: 2px;
						}
					}

					h6 {
						color: #7d7d7d;
						text-align: flex-start;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					&:hover {
						border-radius: var(--Radius-lg, 24px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
				}

				.activeWorkspace {
					position: relative;
					.workSpaceCircle {
						background: #6055ec;

						p {
							color: #e4e5e6;
						}
					}

					h6 {
						color: #e4e5e6;
					}

					.activeWorkspaceCheck {
						position: absolute;
						right: 0;
					}
				}
			}
		}
	}
}

.sidebar__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 500;
}

@keyframes sidebarEntrance {
	0% {
		transform: translateY(100%) rotate(100deg);
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	.FullScreenSidebar {
		height: 25px !important;
		border-radius: 0px !important;
		border: none !important;
		background-color: transparent !important;
		padding: 0px !important;
		margin: 0px !important;
		position: absolute;
		top: 30px;
		left: 10px;

		&.opened {
			height: 100dvh !important;
			margin-top: 0px !important;
			margin-left: 0px !important;
			position: absolute;
			top: 0;
			left: 0;
		}

		.sidebarComponent {
			background-color: transparent !important;
			border: none !important;
			padding: 0px !important;
			margin: 0px !important;
			&.open {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
				height: 100dvh !important;
				border: 1px solid rgba(255, 255, 255, 0.1) !important;
				background: #1d1d1d !important;
			}
			.chatDetailPanel {
				margin-left: 0px !important;
			}
		}
	}
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
	.FullScreenSidebar {
		&.no-submodules:not(.opened) {
			height: 35dvh !important;
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 2280px) {
	.FullScreenSidebar {
		&.no-submodules:not(.opened) {
			height: 30dvh !important;
		}
	}
}
