.FullScreenSidebar {
	// padding: 20px;
	// display: flex;
	// height: 93vh;
	// position: relative;
	z-index: 1000;
	transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	&.opened {
		height: 100dvh !important;
		position: relative;
		margin-top: -60px !important;
		margin-left: -32px !important;
		padding: 0 !important;
		margin-right: 10px !important;
		transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
		// border: 1px solid rgba(255, 255, 255, 0.1);
	}

	// &.no-submodules:not(.opened) {
	// 	height: 93dvh !important;
	// }
	// &.has-submodules {
	// 	height: 93dvh !important;
	// }
	.sidebarComponent {
		// min-height: 100%;
		// background: #202123;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: auto;
		transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 1;
		scrollbar-width: none; // Hide Firefox scrollbar
		-ms-overflow-style: none; // Hide IE scrollbarf
		&::-webkit-scrollbar {
			display: none; // Hide Chrome/Safari/Opera scrollbar
		}
		&.open {
			border-radius: 0px !important;
			height: 100dvh !important;
			width: 250px !important;
			transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
		}
		// .closedSideBarComponent {
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: space-between;
		// 	align-items: center;
		// 	min-height: inherit;
		// 	width: 56px;
		// 	padding: 7px 7px 24px 7px;
		// 	border-radius: inherit;
		// 	z-index: 1;
		// 	border: none !important;

		// 	.hoverStateIconsClosed {
		// 		display: flex;
		// 		flex-direction: column;
		// 		gap: 10px;
		// 		align-items: center;
		// 		justify-content: center;
		// 		cursor: pointer;
		// 		transform: rotate(0deg); // Initial state
		// 		transition: transform 0.4s ease; // Smooth transition for both directions

		// 		&.plusIconHover {
		// 			transform: rotate(180deg);
		// 		}

		// 		svg {
		// 			transition: all 0.5s;
		// 		}
		// 		&.selected {
		// 			background: #89ac4f;
		// 		}
		// 	}

		// 	.openWorkFlowContainer {
		// 		width: 41px;
		// 		height: 41px;
		// 		border-radius: 50%;
		// 		fill: linear-gradient(
		// 			180deg,
		// 			rgba(255, 255, 255, 0.11) -9.68%,
		// 			rgba(0, 0, 0, 0.05) 98.65%
		// 		);
		// 		// box-shadow: 2px 2px 4px 0px #151515 inset, -2px -2px 4px 0px #212121 inset;
		// 		// filter: drop-shadow(1px 1px 2px rgba(14, 14, 14, 0.7));
		// 		position: relative;
		// 		cursor: pointer;

		// 		.gradientCirlce {
		// 			width: 41px;
		// 			height: 41px;
		// 			border-radius: 50%;
		// 			display: flex;
		// 			justify-content: center;
		// 			align-items: center;
		// 			position: relative;
		// 			background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
		// 			// mix-blend-mode: lighten;
		// 			// box-shadow: none;

		// 			// .svgDiv {
		// 			// 	position: absolute;
		// 			// 	inset: 0;
		// 			// }

		// 			&:hover {
		// 				background: #202123;
		// 				border: none;
		// 			}
		// 		}
		// 	}
		// 	.ClosedIconsContainer {
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: center;
		// 		align-items: center;
		// 		gap: 24px;

		// 		.iconContainer {
		// 			cursor: pointer;
		// 			transition: background-color 0.3s;
		// 			text-align: center;
		// 			height: 23px;
		// 			width: 23px;

		// 			// &.selected {
		// 			// 	background-color: #89ac4f !important;
		// 			// 	border-radius: 50%;
		// 			// 	padding: 12px;
		// 			// }
		// 		}
		// 	}

		// 	.TabOptions {
		// 		display: flex;
		// 		flex-direction: column;
		// 		width: 100%;
		// 		// align-items: center;

		// 		.activeWorkspaceDiv {
		// 			width: 30px;
		// 			height: 30px;
		// 			border-radius: 100px;
		// 			background: #cdc29d;
		// 			cursor: pointer;

		// 			img {
		// 				width: 100%;
		// 				height: 100%;
		// 				border-radius: 100px;
		// 			}
		// 		}
		// 		.sidebarClosingSvg {
		// 			cursor: pointer;
		// 			align-self: center;
		// 			justify-self: center;
		// 			height: 20px;
		// 			width: 20px;
		// 		}
		// 	}
		// }

		.sidebarWorkspace {
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			width: 218px;
			margin-bottom: 27px;
			.singleModuleItem {
				.logoutItem {
					margin-top: 4px;
					&:hover {
						background-color: #2e2f33;
						border-radius: 100px;
					}
				}
			}
		}
		.openSideBarComponent {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			background: #202123;
			height: 100vh;
			width: 250px;
			border-radius: inherit;
			transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
			padding-bottom: 28px;
			overflow-x: hidden !important;
			.allmodulesList,
			.bottomOptionsList {
				.creditsLeft {
					width: 218px;
					padding: 16px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					background: #2e2f33;
					border-radius: 12px;
					margin-top: 10px;
					margin-bottom: 10px;
					overflow-x: hidden !important;
					// &:hover {
					//  background: #2e2f33;
					//  opacity: 0.5;
					// }
				}
				.singleModuleItem {
					width: 218px;
					display: flex;
					justify-content: space-between;
					gap: 14px;
					align-items: center;
					padding: 12px 16px;
					position: relative;
					transition: margin 0.2s ease;
					p {
						color: #e8e8e8;
						text-align: right;
						font-family: 'Inter';
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					&:hover {
						border-radius: var(--Radius-lg, 24px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2e2f33);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
					.downArrow {
						transition: transform 0.4s ease;
						&.rotate {
							transform: rotate(180deg);
						}
					}
					.dropdownMenu {
						z-index: 10;
						width: 100%;
						position: absolute;
						top: 100%;
						left: 0;
						transition: opacity 0.5s ease;

						.subItem {
							display: flex;
							align-items: center;
							justify-content: space-between;
							gap: 10px;
							width: 194px;
							font-size: 14px;
							margin-top: 2px;
							color: #f2f2f3;
							padding: 10px 10px 10px 24px;
							overflow-x: hidden;
							margin-left: 20px;
							height: 35px;
							&:hover {
								background: #2e2f33;
								border-radius: var(--Radius-lg, 24px);
							}
							.subitem-content {
								display: flex;
								align-items: center;
								gap: 8px;
								.vertical-line {
									padding: 0px 0px !important;
									height: 20px;
									width: 2px;
									background-color: #6f6f70; /* Default color */
									transition: background-color 0.2s ease;
								}
							}
						}
						.subItem.active {
							background: #2e2f33;
							border-radius: var(--Radius-lg, 24px);
						}
					}

					.dropdownItem {
						padding: 10px;
						color: #e4e5e6;
						cursor: pointer;

						&:hover {
							background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
							border-radius: var(--Radius-lg, 24px);
						}
					}
				}

				.activeListModule,
				.activeListModule:hover {
					border-radius: 100px;
					background: #2e2f33;
					cursor: pointer;
					p {
						color: #e4e5e6;
					}
				}
			}
			.AichatDiv {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 218px;
				padding: 8px 12px;
				cursor: 'pointer';
				.downArrow.rotate {
					transform: rotate(180deg);
				}
			}
			.aiChatsSubmodules {
				.subModule {
					padding: 12px 16px;
				}
				.subModule:hover {
					background: #2e2f33;
					border-radius: 100px;
				}
			}

			.topOptionsList {
				width: 238px;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 90vh !important;
				overflow-y: scroll;
				overflow-x: hidden !important;
				-ms-overflow-style: none;
				scrollbar-width: none;
				&::-webkit-scrollbar {
					display: none;
				}
				.topOptionsList::-webkit-scrollbar {
					display: none;
				}
				.veAiLogoDiv {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 240px;
					margin-left: 0px;
					padding: 24px 16px;
					.workspaceDetailsDiv {
						display: flex;
						align-items: center;
						gap: 12px;
						img {
							width: 24px;
							height: 24px;
							border-radius: 50%;
						}

						h6 {
							color: #e8e8e8;
							text-align: right;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							// max-width: 120px; // Adjust this value as needed
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				.singleModuleItem {
					width: 218px;
					display: flex;
					justify-content: space-between;
					gap: 14px;
					align-items: center;
					padding: 12px 16px;
					p {
						color: #e8e8e8;
						text-align: right;
						font-family: 'Inter';
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: -0.3px;
					}

					&.hover {
						border-radius: var(--Radius-lg, 24px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2c2d2e);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
				}
			}

			.bottomOptionsList {
				.planExpiresDiv {
					display: flex;
					flex-direction: column;
					width: 218px;
					padding: 16px;
					align-items: center;
					gap: 20px;
					border-radius: 12px;
					background: #2e2f33;
					.planExpiresTitle {
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-size: 14px;
						font-weight: 500;
						line-height: normal;
					}
					.renewNowDiv {
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						text-align: end;
						font-weight: 400;
						line-height: normal;
						border-radius: 100px;
						border: 1px solid rgba(195, 157, 248, 0.7);
						padding: 12px;
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					// &:hover {
					//  background: #2e2f33;
					//  opacity: 0.5;
					// }
				}
				.planExpiredDiv {
					display: flex;
					width: 218px;
					padding: 16px;
					gap: 20px;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					flex-shrink: 0;
					border-radius: 12px;
					background: #2e2f33;
					.planExpiredTitle {
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					.renewNowDiv {
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						border-radius: 100px;
						border: 1px solid rgba(195, 157, 248, 0.7);
						padding: 12px;
						background: var(
							--AI-Color-Code,
							linear-gradient(
								94deg,
								rgba(195, 157, 248, 0) -2.07%,
								#c39df8 -2.06%,
								#ec7c9d 95.85%
							)
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
					// &:hover {
					//  background: #2e2f33;
					//  opacity: 0.5;
					// }
				}
				.logoutItem,
				.logoutItem:hover {
					p {
						color: #cc5756cc;
					}
				}
				.commonBottomSection {
					width: 218px;
					display: flex;
					flex-direction: column;
					gap: 4px;
					.currentWorkspaceDiv {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-start;
						cursor: pointer;
						width: 218px;

						.currentWorkspaceDetails {
							display: flex;
							flex-direction: row;
							padding: 12px 16px;
							justify-content: space-between;
							align-items: flex-start;
							align-self: stretch;
							width: 218px;
							cursor: pointer;
						}
					}
					.logoutItem:hover,
					.workspace-active .logoutItem:hover {
						background-color: #2c2d2e;
						border-radius: 100px;
					}
				}
			}
			.openSideBarComponent::-webkit-scrollbar {
				display: none; /* Chrome, Safari and Opera */
				width: 0;
			}
		}

		.workspaceListComponent {
			padding: 8px;
			display: flex;
			flex-direction: column;
			gap: 4px;
			overflow-y: auto;
			max-height: 95vh;
			overflow-x: hidden;
			margin-right: 10px;
			width: 228px;
			background: #202123;
			border: none;
			position: relative;
			z-index: 999;
			border-radius: 16px;
			-ms-overflow-style: none; // Hide scrollbar IE
			scrollbar-width: none; // Hide scrollbar Firefox
			&::-webkit-scrollbar {
				display: none; // Hide scrollbar Chrome/Safari/Opera
			}
			.workspaceListHeader {
				position: sticky;
				top: 0;
				gap: 4px;
				z-index: 2;
				display: flex;
				flex-direction: column;
				.searchContainer {
					display: flex;
					position: relative;
					align-items: center;
					padding-left: 12px;
					border-radius: 12px;
					background: #2e2f33;
					border: none;
				}
			}
			.backContinaer {
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				padding: 12px;
				h6 {
					color: #e8e8e8;
					text-align: right;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
			.searchWorkspace {
				width: 100%;
				padding: 12px;
				border-radius: 12px;
				background: #2e2f33;
				border: none;
				color: #939393;
				font-size: 14px;
				font-weight: 500;
				line-height: normal;
			}

			.workspaceList {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				gap: 4px;
				width: 100%;
				overflow-y: auto;
				overflow-x: hidden;
				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none !important;
					scrollbar-width: none !important;
				}
				.singleWorkspace:first-child {
					margin-top: 12px;
				}
				.singleWorkspace {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width: 212px;
					padding: 8px 12px;
					align-items: center;
					.workspaceName {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.workSpaceCircle {
						width: 24px;
						height: 24px;
						border-radius: 50%;
						// background: #1d1d1d;
						display: flex;
						align-items: center;
						justify-content: center;
						// background: #2b2b2b;
						cursor: pointer;

						p {
							color: #e8e8e8;
							text-align: flex-start;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
						}

						.no-logo {
							width: 24px;
							height: 24px;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							color: white;
							font-family: Inter;
							font-size: 13px;
							font-style: normal;
							font-weight: bolder;
							line-height: normal;
							text-transform: uppercase;
							background-color: #38393e;
						}
					}

					h6 {
						color: #e8e8e8;
						text-align: flex-start;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					&:hover {
						border-radius: var(--Radius-lg, 12px);
						background: var(--ve-ai-dark-theme-text-field-stroke-pop-up, #2e2f33);
						cursor: pointer;
						p {
							color: #e4e5e6;
						}
					}
					.detailedDiv {
						width: 218px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-start;
						align-self: stretch;
						cursor: pointer;
						padding: 12px 16px;
					}
				}

				.activeWorkspace {
					position: relative;
					background-color: #2e2f33; /* Or your preferred color */
					border-radius: 12px;
					.workSpaceCircle {
						// background: #6055ec;

						p {
							color: #e4e5e6;
						}
					}

					h6 {
						color: #e4e5e6;
					}

					.activeWorkspaceCheck {
						position: absolute;
						right: 0;
					}
				}
				.workspaceListFooter {
					position: sticky;
					bottom: -0%;
					width: 100%;
					background: #202123;
					z-index: 2;
					padding: 0px;
					display: flex;
					flex-direction: column;
					gap: 4px;
				}
			}
		}
	}
}

// .workSpaceOverlay {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background-color: #0a0a0b;
// 	opacity: 0.5;
// 	width: 100%;
// 	height: 100%
// 	cursor: pointer;
// 	z-index: 500;
// }

@keyframes sidebarEntrance {
	0% {
		transform: translateY(100%) rotate(100deg);
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	.FullScreenSidebar {
		height: 25px !important;
		border-radius: 0px !important;
		border: none !important;
		background-color: transparent !important;
		padding: 0px !important;
		margin: 0px !important;
		position: absolute;
		top: 30px;
		left: 10px;

		&.opened {
			height: 100dvh !important;
			margin-top: 0px !important;
			margin-left: 0px !important;
			position: absolute;
			top: 0;
			left: 0;
		}

		.sidebarComponent {
			background-color: transparent !important;
			border: none !important;
			padding: 0px !important;
			margin: 0px !important;
			&.open {
				border-top-left-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
				height: 100dvh !important;
				border: 1px solid rgba(255, 255, 255, 0.1) !important;
				background: #1d1d1d !important;
				width: 100vw !important;
			}
			.openSideBarComponent {
				width: 100vw !important;
				.topOptionsList {
					width: 100vw !important;
					.veAiLogoDiv {
						width: 100vw !important;
						padding: 32px 32px 32px 20px;
					}
				}
				.singleModuleItem {
					width: 100vw !important;
				}
				.bottomOptionsList {
					width: 90vw !important;
					.planExpiresDiv {
						width: 90vw !important;
					}
					.creditsLeft {
						width: 90vw !important;
					}
					.planExpiredDiv {
						width: 90vw !important;
					}
				}
			}
			.chatDetailPanel {
				position: relative;
				margin-left: 0px !important;
			}
			.AichatDiv {
				width: 90vw !important;
			}
			.commonBottomSection {
				display: flex;
				flex-direction: column;
				gap: 4px;
				.currentWorkspaceDiv {
					width: 90vw !important;
					display: flex;

					.currentWorkspaceDetails {
						width: 90vw !important;
						padding: 12px 16px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						overflow-x: hidden;
					}
				}
				.logoutItem {
					width: 90vw !important;
					padding: 12px 16px;
				}
			}
			.sidebarWorkspace {
				width: 90vw !important;
				margin-bottom: 27px !important;
				overflow-y: hidden !important;
				.workspaceListComponent {
					width: 90vw !important;
					.workspaceList {
						width: 80vw !important;

						.singleWorkspace {
							width: 80vw !important;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
	.FullScreenSidebar {
		&.no-submodules:not(.opened) {
			height: 93dvh !important;
		}
	}
}

@media screen and (min-width: 1600px) and (max-width: 2280px) {
	.FullScreenSidebar {
		&.no-submodules:not(.opened) {
			height: 93dvh !important;
		}
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: scaleY(0);
	}
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

.closedDropDownMenu {
	display: flex;
	flex-direction: column;
	width: inherit;
	border-radius: 16px;
	background: #202123;
	align-items: flex-start;
	// padding: 8px;
	overflow: hidden;
	gap: 4px;
	> div {
		color: #e4e5e6;
		text-overflow: ellipsis;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		padding: 20px;
		align-self: stretch;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			background: #6055ec;
		}
	}
}

.sideBartoolTipContainer {
	.ant-tooltip-content {
		left: 20px;
		background-color: transparent;
	}
}
