.dynamic-widget {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: fit-content;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 12px 24px !important;
	height: 46px;
	flex-shrink: 0;
	z-index: 9998;

	.dynamic-widget-mini {
		width: 314px;
		height: 46px;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 0px 0px 12px 12px;
		border-right: 1px solid var(--stroke);
		border-bottom: 1px solid var(--stroke);
		border-left: 1px solid var(--stroke);
		background: var(--card);
		perspective: 1000px;

		.dynamic-widget-title {
			position: relative;
			width: 100%;
			height: 34px;
			text-overflow: ellipsis;

			.dynamic-widget-prompt {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				transform-style: preserve-3d;
				backface-visibility: hidden;
				padding: 0 16px;

				.dynamic-widget-prompt-icon {
					// width: 20px;
					// height: 20px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;

					svg {
						width: 100%;
						height: 100%;
					}
				}

				.dynamic-widget-prompt-icon-spin {
					animation: spin 1s linear infinite;
				}

				.dynamic-widget-prompt-title {
					color: var(--primary-font, #f2f2f3);
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
