.rt {
	border-radius: 0px !important;
	border: none !important;
}
.rt-border {
	border-radius: 10px !important;
	border: none !important;
}
.rt-semi-border {
	border-radius: 15px !important;
	border: none !important;
}
.rt-rounded-border {
	border-radius: 100px !important;
	border: none !important;
}
.bt-border {
	border-style: solid;
	border-radius: 0px;
}
.border-lt {
	border-style: solid;
	border-radius: 10px;
}
.border-semi {
	border-style: solid;
	border-radius: 15px;
}
.border-rounded {
	border-style: solid;
	border-radius: 100px;
}
.button {
	padding: 2px;
}
