.container {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid #b6b6b6;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 24px;

	.heading {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		width: 100%;

		.tickIcon {
			width: 20px;
			height: 20px;
			aspect-ratio: 1/1;
		}

		.headingTitle {
			color: var(--primary-button, #79ecc9);
			font-family: var(--primary-font-family);
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	.crossIcon {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 23.333px;
		height: 23.333px;
		flex-shrink: 0;
		aspect-ratio: 23.33/23.33;
		cursor: pointer;
	}

	.title {
		color: var(--background-color, #121212);
		text-align: center;
		font-family: var(--primary-font-family);
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		align-self: stretch;
	}

	.stepsContainer {
		margin: 32px 0;
		display: flex;
		gap: 32px;

		.stepContainer {
			width: 300px;
			display: flex;
			flex-direction: column;
			gap: 12px;
			position: relative;

			.stepNumber {
				position: absolute;
				top: -22px;
				left: 18px;
				z-index: 1;
				width: 42px;
				height: 42px;
				background-color: var(--primary-button, #79ecc9);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--stroke, #2c2d2e);
				font-family: var(--primary-font-family);
				font-size: 24px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.previewImg {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 4px;
			}

			.description {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					width: 160px;
					color: var(--background-color, #121212);
					text-align: center;
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					a {
						color: var(--info, #5089f9);
					}
				}
			}
		}
	}

	.downloadAgainLink {
		color: var(--background-color, #121212);
		text-align: center;
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;

		a {
			color: var(--info, #5089f9);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
	}
}
