# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cursorrules

/dist-electron

.env
secrets/
package-mac-signed.sh

sync.sh
bundle-visualizer.html
script.sh
notarize_for_intel.sh

**/node_modules

build-and-notarize.sh

*.md
*.sh

notchdrop-addon/build
notchdrop-addon/build_swift
notchdrop-addon/dist