# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cursorrules

# Visual Studio / IDE files
.vs/
*.slnx.sqlite
*.vsidx
*.user
*.suo
*.userosscache
*.sln.docstates

/dist-electron

.env
secrets/

bundle-visualizer.html

**/node_modules

notchdrop-addon/build
notchdrop-addon/build_swift
notchdrop-addon/dist
notchdrop-addon/bin

# Ignore all markdown files
**/*.md

# Ignore all sh files
**/*.sh

# But allow specific markdown files
!CLAUDE.md
!AGENTS.md
!README.md
!notchdrop-addon/build.sh

@img

notchdrop-addon/.build
.cursor
Package.resolved
.claude/
CLAUDE.md

.vscode