@font-face {
	font-family: 'Calson';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype'),
		url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Calson';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype'),
		url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Calson';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype'),
		url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Calson';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype'),
		url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Calson';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype'),
		url('TNY_Adobe_Caslon_Pro_Regular.ttf') format('truetype');
}
