.aiInstructionsParentContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	height: 100%;

	.instructionsHeaderContainer {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		.instructionsHeader {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			.lineone {
				color: #fff;
				color: color(display-p3 1 1 1);
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.linetwo {
				color: #797e86;
				color: color(display-p3 0.4784 0.4941 0.5216);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}

		.addInstruction {
			border-radius: 100px;
			border: 1px solid #333334;
			border: 1px solid color(display-p3 0.2 0.2 0.2039);

			display: flex;
			padding: 12px 16px;
			justify-content: center;
			align-items: center;
			gap: 16px;

			color: #f2f2f3;
			color: color(display-p3 0.949 0.949 0.9529);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
	}

	.instructionsListContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex-grow: 1;
		overflow: scroll;
		position: relative;

		.header {
			border-radius: 6px;
			background: var(--Popup, #202123);
			background: var(--Popup, color(display-p3 0.1255 0.1294 0.1373));
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding: 12px;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			flex-shrink: 0;

			span:nth-child(2) {
				justify-self: center;
			}

			span:last-child {
				text-align: right;
			}

			overflow: hidden;
			color: #f2f2f3;
			color: color(display-p3 0.949 0.949 0.9529);
			text-overflow: ellipsis;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			position: sticky;
			top: 0;
		}

		.instructionItem {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding: 12px;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			border-radius: 6px;

			span {
				display: flex;
				align-items: center;
				gap: 8px;

				svg {
					width: 12px;
					height: 12px;
					margin-top: 4px;
					cursor: pointer;
					opacity: 0;
				}

				&:hover {
					svg {
						opacity: 1;
					}
				}
			}

			span:nth-child(2) {
				justify-self: center;
				justify-content: center;
			}

			span:last-child,
			.aiToggleSwitch {
				justify-self: end;
				justify-content: flex-end;
				width: 100%;
			}

			overflow: hidden;
			color: #f2f2f3;
			color: color(display-p3 0.949 0.949 0.9529);
			text-overflow: ellipsis;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.emptyState {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 40px 0;
			gap: 8px;
			width: 100%;

			p {
				margin: 0;
				color: #7c7c84;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-align: center;

				&:first-child {
					color: #f2f2f3;
					font-weight: 500;
				}
			}
		}
	}
}

.instructionItemSkeleton {
	margin-bottom: 8px;

	.react-loading-skeleton {
		background-color: rgba(255, 255, 255, 0.1);

		&::after {
			background-image: linear-gradient(
				90deg,
				rgba(255, 255, 255, 0.1),
				rgba(255, 255, 255, 0.2),
				rgba(255, 255, 255, 0.1)
			);
		}
	}
}

.aiToggleSwitch {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100px;
}
