.ambient-ai-wrapper {
	width: 100%;

	.ambient-ai-container {
		// margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(100vh - 32px);
		position: relative;
		width: 100%;
		transition: width 0.3s ease-in-out;

		&.active {
			width: calc(100% - 700px);
		}

		.ambient-ai-container-content {
			width: 100%;
			flex-grow: 1;
			overflow-y: auto;
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.tooltipValue {
	display: inline-flex;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
	color: var(--primary-font, #f2f2f3);
	font-family: var(--primary-font-family);
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.tooltip-wrapper {
	max-width: unset;
}

@media screen and (max-width: 425px) {
	.ambient-ai-container {
		.ambient-ai-container-content {
			margin-top: 45px;
		}
	}
}

@media screen and (max-width: 710px) {
	.ambient-ai-container {
		.ambient-ai-container-content {
			.title-container {
				.title-text {
					flex-direction: column;
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.ambient-ai-container {
		.ambient-ai-container-content {
			transform: scale(0.9);
		}
	}

	.ambient-ai-container.active {
		width: calc(100% - 450px) !important;
	}
}
