.viewportControlsContainer {
	position: absolute;
	bottom: 24px;
	left: 24px;
	display: inline-flex;
	padding: 6px;
	align-items: center;
	gap: 16px;
	border-radius: 8px;
	border: 1px solid var(--stroke);
	background: var(--background-color);
	z-index: 1;

	.zoomControls {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 6px;
		background: var(--card);
		height: 34px;
		padding: 0 8px;

		.zoomOutBtn,
		.zoomInBtn {
			border: none;
			outline: none;
			background: transparent;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				width: 18px;
				height: 18px;
			}
		}

		.zoomLevelText {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			width: 40px;
			text-align: center;
		}
	}

	.rearrangeBtn {
		display: flex;
		padding: 8px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 6px;
		background: var(--card);
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.rearrangeTooltipContainer {
	border-radius: 10px;
	background: var(--primary-font);
	padding: 6px 10px;

	.rearrangeTooltipText {
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.26px;
	}
}
