.ExitWithoutPublishingModal {
	display: flex;
	width: 420px;
	padding: 32px;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	border-radius: 24px;
	background: var(--popup);
	.modalSubTextContaiener {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		align-self: stretch;

		.modalSubHeaderText {
			color: var(--primary-font);
			text-align: center;
			font-family: var(--primary-font-family);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px; /* 130% */
		}
		.modalSubText {
			color: var(--secondary-font);
			text-align: center;
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 142.857% */
		}
	}
	.actionBtnContainer {
		display: flex;
		align-items: center;
		margin-top: 24px;

		.backtoEdit {
			display: flex;
			padding: var(--Spacing-space-8, 16px) 24px;
			justify-content: center;
			align-items: center;
			gap: var(--Spacing-space-8, 16px);
			border-radius: 100px;
			border: 1px solid var(--stroke);
			background: var(--card);
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; /* 123.077% */
			letter-spacing: 0.26px;
			cursor: pointer;
		}
		.exitWithoutUpdate {
			display: flex;
			padding: var(--Spacing-space-8, 16px) 24px;
			justify-content: center;
			align-items: center;
			gap: var(--Spacing-space-8, 16px);
			flex: 1 0 0;
			border-radius: 100px;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; /* 123.077% */
			letter-spacing: 0.26px;
			cursor: pointer;
		}
	}
}
