.renameWorkflowModalParentContainer {
	display: flex;
	width: 480px;
	height: 284px;
	padding: 40px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 32px;
	background: var(--popup);

	.renameWorkflowModalHeader {
		display: flex;
		align-items: flex-start;
		gap: 4px;
		align-self: stretch;

		.headerTitle {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px; /* 144.444% */
			flex: 1;
		}

		.closeBtnWrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			padding: 4px;
		}
	}

	.inputActionContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
		flex: 1 0 0;
		align-self: stretch;
		.inputActionContainerLabel {
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 11px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px; /* 145.455% */
			margin-left: 14px;
		}
		.inputActionContainerLabelInput {
			display: flex;
			padding: 11px 14px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			background-color: transparent;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; /* 185.714% */
		}
		.errorMessage {
			overflow: hidden;
			color: var(--error);
			text-overflow: ellipsis;
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px; /* 114.286% */
			letter-spacing: -0.3px;
		}
	}
	.actionBtnContainer {
		display: flex;
		align-items: center;
		gap: 24px;

		.saveBtn {
			display: flex;
			padding: var(--Spacing-space-8, 16px) 24px;
			justify-content: center;
			align-items: center;
			gap: 16px;
			border-radius: 100px;
			background-color: var(--primary-button);
			color: var(--primary-button-font);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; /* 123.077% */
			letter-spacing: 0.26px;
			cursor: pointer;
		}

		.cancelBtn {
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; /* 123.077% */
			letter-spacing: 0.26px;
			padding: 24px;
			cursor: pointer;
		}
	}
}
