.updatedWorkflowBuilderContainer {
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);

	.updatedBuilderHeaderContainer {
		display: flex;
		height: 80px;
		padding: 16px 40px;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		border-bottom: 1px solid var(--stroke);
		background: var(--background-color);

		.previousStepText {
			color: var(--primary-font);

			/* Body/Body Text - 14 Px */
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
		}

		.workflowBuilderHeadingTag {
			display: flex;
			align-items: center;
			gap: 12px;
			border-radius: 6px;
			background: var(--card);
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			padding: 8px 12px;
		}

		.headerActionsContainer {
			display: flex;
			align-items: center;
			gap: 12px;

			.publishBtn {
				display: flex;
				height: 46px;
				padding: 14px 24px;
				justify-content: center;
				align-items: center;
				gap: 6px;
				border-radius: 59px;
				background: var(--primary-font);
				color: var(--primary-button-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
			}
		}
	}

	@keyframes dashdraw {
		from {
			stroke-dashoffset: 10;
		}
	}
}
