.agent-details-wrappe-container {
	display: flex;
	padding: 16px 17px;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	align-self: stretch;
	height: 100%;
	.agent-activity-section-container {
		border-radius: 12px;
		background: var(--card, #1b1c1d);
		width: 40%;
		height: 100%;
		.agent-activity-section {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			gap: 12px;
			.activity-title {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.activity-group {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 12px;

				// &.current-group {
				// }
				// &.older-group {
				// }

				.activity-group-header {
					display: flex;
					align-items: center;
					gap: 8px;
					margin-bottom: 4px;

					.dot-current {
						width: 6px;
						height: 6px;
						background-color: var(--primary-button, #79ecc9);
						border-radius: 50%;
					}
					.group-label {
						overflow: hidden;
						color: var(--primary-font, #f2f2f3);
						text-overflow: ellipsis;
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						&.older {
							overflow: hidden;
							color: var(--secondary-font, #7a7e85);
							text-overflow: ellipsis;
							font-family: var(--primary-font-family);
							font-size: 13px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

				.activity-card {
					display: flex;
					padding: 14px 16px;
					flex-direction: column;
					justify-content: center;
					align-self: stretch;
					cursor: pointer;

					&.current {
						border-radius: 8px;
						border: 0.5px solid var(--primary-button, #79ecc9);
						background: var(--card-hover, #212326);
					}
					&.older {
						border-radius: 8px;
						border: 1px solid var(--stroke, #2c2d2e);
					}

					.activity-card-content {
						display: flex;
						flex-direction: column;
						gap: 8px;
					}
					.activity-title-main {
						overflow: hidden;
						color: var(--primary-font, #f2f2f3);
						text-overflow: ellipsis;
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 22px; /* 157.143% */
					}
					.activity-desc {
						overflow: hidden;
						color: var(--primary-font, #f2f2f3);
						text-overflow: ellipsis;
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 22px; /* 169.231% */
					}
					.activity-time {
						overflow: hidden;
						color: var(--primary-font, #f2f2f3);
						text-overflow: ellipsis;
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 22px; /* 169.231% */
						text-align: end;
					}
				}
			}

			.activities-spinner-wrapper {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 32px 0;
			}
			.activities-empty-message {
				width: 100%;
				text-align: center;
				color: #7a7e85;
				padding: 32px 0;
				font-size: 16px;
				font-family: var(--primary-font-family);
			}

			// .activity-divider {
			// 	width: 100%;
			// 	height: 1px;
			// 	background: #232428;
			// 	margin: 18px 0 8px 0;
			// }
		}
	}
	.agent-details-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-grow: 1;
		padding-bottom: 385px;
		width: 60%;
		border-radius: 12px;
		background: var(--card, #1b1c1d);
		height: 100%;

		.agent-details-wrapper {
			height: fit-content;
			max-width: 570px;
			width: 100%;
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			top: 120px;

			.agent-details-content {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.member-access {
					padding: 12px 16px;
					align-items: center;
					gap: 16px;
					border-radius: 100px;
					border-radius: 100px;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: fit-content;

					.member-access-text {
						font-family: var(--secondary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						background: var(--ai-color-code);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						display: inline-block;
					}

					&::before {
						content: '';
						position: absolute;
						inset: 0;
						padding: 1px; /* Border thickness */
						background: var(--ai-color-code);
						border-radius: inherit;
						mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
						mask-composite: exclude;
						-webkit-mask: linear-gradient(white 0 0) content-box,
							linear-gradient(white 0 0);
						-webkit-mask-composite: xor;
					}
				}

				h2 {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 40px;
					font-style: normal;
					font-weight: 500;
					line-height: 44px; /* 110% */

					.agent-name {
						color: var(--primary-button);
						font-family: var(--primary-font-family);
						font-size: 40px;
						font-style: italic;
						font-weight: 500;
						line-height: 44px;
					}
				}

				.handle-wrapper,
				.description-wrapper {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}

				.add-to-start-button {
					display: flex;
					width: 128px;
					padding: 14px;
					justify-content: center;
					align-items: center;
					gap: 6px;

					border-radius: 100px;
					background: var(--card);
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}

		.chat-box-wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1002;
		}
	}
}
