.ElasticSearchContainer {
	width: 100%;
	height: 100%;
	padding: 0 32px;

	.title {
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}
