.actions-modal {
	display: flex;
	width: 520px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	border-radius: 32px;
	background: var(--popup);
	max-height: 80dvh;
	overflow-y: auto;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		flex: 1 0 0;
		width: 100%;

		h2 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		svg {
			cursor: pointer;
		}
	}

	&-inputs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
	}

	&-description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 3px;
		align-self: stretch;

		h2 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		p {
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		align-self: stretch;

		&-delete-button {
			all: unset;
			cursor: pointer;
			svg {
				width: 24px;
				height: 24px;
				path {
					stroke: var(--stroke) !important;
				}
			}

			&:hover {
				svg {
					path {
						stroke: var(--error) !important;
					}
					filter: drop-shadow(0px 0px 1px var(--error));
				}
			}
		}
	}

	.actionsTabContainer {
		width: 100%;
		.actionTabs {
			display: flex;
			align-items: flex-start;
			gap: 24px;
		}
		.actionTab {
			display: flex;
			padding: 12px 0px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			cursor: pointer;
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.active {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			border-bottom: 1px solid var(--stroke);
		}
	}

	.addVariablesContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;

		.header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			h2 {
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			p {
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.variablesContent {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;
			padding: 12px;
			border-radius: 14px;
			border: 1px solid var(--stroke);
			background: var(--card-over-card);
			max-height: 250px;
			overflow-y: auto;

			.variableRow {
				display: flex;
				align-items: center;
				gap: 12px;
				align-self: stretch;

				.variableInput {
					flex: 1;
					display: flex;
					height: 44px;
					padding: 12px;
					align-items: center;
					gap: 8px;
					border-radius: 14px;
					border: 1px solid var(--stroke);
					background: var(--card-over-card);
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					&::placeholder {
						color: var(--secondary-font);
					}
				}

				.variableType {
					width: 117px;

					.method-dropdown {
						display: flex;
						width: 117px;
						height: 44px;
						padding: 12px;
						justify-content: space-between;
						align-items: center;
						align-self: stretch;
						border-radius: 14px;
						border: 1px solid var(--stroke);
						background: var(--card-over-card);
						color: var(--secondary-font);
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;

						svg {
							width: 16px;
							height: 16px;
							path {
								stroke: var(--secondary-font);
							}
							&.open {
								transform: rotate(180deg);
							}
							transition: transform 0.2s ease-in-out;
						}
					}

					.actions-dropdown {
						margin-top: 4px;
						background: var(--card-over-card);
						border-radius: 14px;
						padding: 6px;
						width: 117px;

						&-item {
							padding: 6px;
							color: var(--primary-font);
							font-size: 12px;
							border-radius: 6px;
							cursor: pointer;
							width: 100%;
							display: flex;
							align-items: center;

							&:hover {
								background: var(--card-over-card-hover);
							}
						}
					}
				}

				.deleteVariable {
					all: unset;
					display: flex;
					justify-content: center;
					align-items: center;
					background: var(--card-over-card);
					cursor: pointer;

					.trash {
						width: 18px;
						height: 18px;
						path {
							stroke: var(--stroke) !important;
						}
						&:hover path {
							stroke: var(--error) !important;
						}
					}
				}
			}

			.emptyState {
				display: flex;
				padding: 12px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 4px;
				align-self: stretch;
				border-radius: 14px;
				border: 1px dashed var(--stroke);
				background: var(--card-over-card);

				p {
					color: var(--secondary-font);
					text-align: center;
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					margin: 0;
				}
			}

			.addVariableButton {
				display: flex;
				padding: 6px 12px;
				justify-content: center;
				align-items: center;
				gap: 6px;
				border-radius: 8px;
				background: var(--card-over-card);
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				border: none;
				cursor: pointer;

				&:hover {
					background: var(--card-over-card-hover);
				}

				svg {
					width: 16px;
					height: 16px;
					path {
						stroke: var(--primary-font);
					}
				}
			}
		}
	}
}

.actions-dropdown {
	display: flex;
	padding: 6px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 14px;
	background: var(--card-over-card);
	min-width: 117px;

	&-item {
		display: flex;
		width: 100%;
		padding: 6px 12px;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		border-radius: 6px;
		background: var(--card-over-card);
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;

		&:hover {
			background: var(--card-over-card-hover);
		}
	}
}

// Endpoint Tab
.endpointTabContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	width: 100%;

	.addUrlContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		align-self: stretch;
		position: relative;

		.url {
			display: flex;
			padding: 12px;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			border-radius: 14px;
			border: 1px solid var(--stroke);
			background: var(--card-over-card);
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			&::placeholder {
				color: var(--secondary-font);
			}
		}

		.variableSuggestions {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			max-height: 200px;
			overflow-y: auto;
			background: var(--card-over-card);
			border: 1px solid var(--stroke);
			border-radius: 8px;
			margin-top: 4px;
			z-index: 1000;

			.variableSuggestion {
				padding: 8px 12px;
				color: var(--primary-font);
				cursor: pointer;
				transition: background-color 0.2s ease;
				font-size: 12px;

				&:hover {
					background: var(--card-over-card-hover);
				}
			}
		}

		.urlMethodCotainer {
			display: flex;
			align-items: flex-start;
			gap: 25px;

			.method {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 8px;
				flex: 1 0 0;

				&-label {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				&-dropdown {
					display: flex;
					width: 117px;
					height: 44px;
					padding: 12px;
					justify-content: space-between;
					align-items: center;
					align-self: stretch;
					border-radius: 14px;
					border: 1px solid var(--stroke);
					background: var(--card-over-card);
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;

					svg {
						width: 16px;
						height: 16px;
						path {
							stroke: var(--secondary-font);
						}
						&.open {
							transform: rotate(180deg);
						}
						transition: transform 0.2s ease-in-out;
					}
				}
			}
		}
	}
}

.headersTabContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	width: 100%;
	border: 1px solid var(--stroke);
	padding: 12px;
	border-radius: 14px;
	max-height: 250px;

	.headersContent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		max-height: 200px;
		overflow-y: auto;
		padding-right: 4px;
	}

	.headerLabels {
		display: flex;
		align-items: center;
		gap: 12px;
		align-self: stretch;
		padding: 0 6px;
		margin-bottom: 8px;

		div {
			flex: 1;
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-weight: 500;
			line-height: normal;

			&:last-child {
				flex: 0 0 24px; // Width of delete button
			}
		}
	}

	.headerRow {
		display: flex;
		align-items: center;
		gap: 12px;
		align-self: stretch;

		.headerInputs {
			flex: 1;
			display: flex;
			align-items: center;
			gap: 12px;

			.headerInput {
				flex: 1;
				display: flex;
				height: 44px;
				padding: 12px;
				align-items: center;
				gap: 8px;
				border-radius: 14px;
				border: 1px solid var(--stroke);
				background: var(--card-over-card);
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;

				&::placeholder {
					color: var(--secondary-font);
				}
			}
		}

		.deleteHeader {
			all: unset;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			cursor: pointer;

			.trash {
				width: 20px;
				height: 20px;
				path {
					stroke: var(--error) !important;
				}
			}
		}
	}

	.addHeaderButton {
		display: flex;
		padding: 6px 12px;
		justify-content: center;
		align-items: center;
		gap: 6px;
		border-radius: 8px;
		background: var(--card-over-card);
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		border: none;
		cursor: pointer;
		margin-top: 8px;

		&:hover {
			background: var(--card-over-card-hover);
		}

		svg {
			width: 16px;
			height: 16px;
			path {
				stroke: var(--primary-font);
			}
		}
	}

	.emptyState {
		display: flex;
		padding: 12px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
		align-self: stretch;
		border-radius: 14px;
		border: 1px dashed var(--stroke);
		background: var(--card-over-card);

		p {
			color: var(--secondary-font);
			text-align: center;
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin: 0;
		}
	}
}

.bodyTabContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
	position: relative;

	div {
		color: var(--secondary-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-weight: 500;
		line-height: normal;
	}

	.bodyInput {
		width: 100%;
		min-height: 120px;
		padding: 12px;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		border-radius: 14px;
		border: 1px solid var(--stroke);
		background: var(--card-over-card);
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		resize: none;

		&::placeholder {
			color: var(--secondary-font);
		}
	}

	.bodyInputHelperText {
		color: var(--secondary-font);
		font-size: 12px;
		font-weight: 700;
	}

	.variableSuggestions {
		position: absolute;
		top: 85%;
		left: 0;
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		background: var(--card-over-card);
		border: 1px solid var(--stroke);
		border-radius: 8px;
		margin-top: 4px;
		z-index: 1000;

		.variableSuggestion {
			padding: 8px 12px;
			color: var(--primary-font);
			cursor: pointer;
			transition: background-color 0.2s ease;

			&:hover {
				background: var(--card-over-card-hover);
			}
		}
	}
}
