.add-knowledge-modal {
	display: flex;
	width: 520px;
	height: 583px;
	padding: 32px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 32px;
	background: var(--background-color);
	gap: 24px;

	&-header {
		display: flex;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		width: 100%;
		justify-content: space-between;

		h2 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
		flex-grow: 1;

		.knowledge-tab-header {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			align-self: stretch;

			&-title {
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.knowledge-tabs-wrapper {
				display: flex;
				align-items: flex-start;
				gap: 16px;
				align-self: stretch;

				.knowledge-tab {
					display: flex;
					height: 72px;
					padding: 12px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8px;
					flex: 1 0 0;
					border-radius: 16px;
					border: 1px solid var(--stroke);
					cursor: pointer;

					&-label {
						color: var(--secondary-font);
						text-align: center;
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.active-tab {
					border-radius: 16px;
					border: 1px solid var(--stroke);
					background: var(--card);

					svg {
						path {
							stroke: var(--secondary-font) !important;
						}
					}

					.knowledge-tab-label {
						color: var(--primary-font);
						text-align: center;
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
		}

		.knowledge-tab-content {
			width: 100%;
			&-url {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				align-self: stretch;
				width: 100%;

				.add-url-wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;
					align-self: stretch;
					gap: 16px;

					.input-wrapper {
						flex: 1;
					}
				}
			}
		}
	}

	&-footer {
		display: flex;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		justify-content: space-between;
	}

	.btn-ghost {
		display: flex;
		width: 102px;
		height: 46px;
		padding: 12px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		border-radius: 50px;
		border: 1px solid var(--stroke);
		background: transparent;
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		transition: all 0.3s ease-in-out;
		white-space: nowrap;

		&:hover {
			border-radius: 50px;
			border: 1px solid var(--stroke);
		}
	}
}
