.earlyAccess {
	display: flex;
	max-width: 1440px;
	width: 100%;
	padding: 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--primary-font);

	.container {
		display: flex;
		max-width: 1200px;
		width: 100%;
		padding: 170px 0 150px 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		flex: 1 0 0;
		align-self: stretch;
		border-radius: 16px;
		background: var(--primary-button, #79ecc9);

		.subHeading {
			color: var(--background-color, #0c0c0d);
			text-align: center;
			font-family: Manrope;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.heading {
			color: var(--background-color, #0c0c0d);
			text-align: center;
			font-family: Manrope;
			font-size: 50px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			@media screen and (max-width: 600px) {
				font-size: 45px;
			}
		}

		.ctaButton {
			display: flex;
			padding: 12px 24px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 100px;
			background: var(--background-color, #0c0c0d);
			color: var(--primary-font);
			border: none;
			outline: none;
		}
	}
}
