.landing-page-container {
	width: 100vw;
	height: 100vh;
	padding: 48px 120px;
	background: linear-gradient(180deg, #0e0f0f 0%, #19191b 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header-container {
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.login-button {
			color: #fff;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			border: none;
			background: none;
			cursor: pointer;
		}
	}

	.landing-page-content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;

		.hero-section-1 {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 16px;

			& > * {
				max-width: 380px;
			}

			.veai-logo-container {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;

				.veai-logo-text {
					color: rgba(255, 255, 255, 0.5);
					font-family: Inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			.heading {
				color: #fff;
				font-family: Brasley, sans-serif !important;
				font-size: 36px;
				font-style: normal;
				font-weight: 500;
				line-height: 44px;
			}

			.description {
				color: rgba(255, 255, 255, 0.5);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
			}

			.cta-container {
				display: flex;
				gap: 8px;
				width: 100%;

				& > * {
					padding: 14px 24px;
					border: none;
					cursor: pointer;
					width: 50%;
				}

				.get-started-button {
					border-radius: 59px;
					background: #b89cf9;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 8px;
					color: #000;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.request-demo-button {
					border-radius: 59px;
					background: transparent;
					border: 1px solid #2c2d2e;
					color: #e8e8e8;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}

		.hero-section-2 {
			width: 50%;
			height: 70dvh;
			border-radius: 40px;
			background: #202123;
			padding: 40px 60px;
			margin: 20px auto;

			.toggle-container {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.toggle-button {
					display: flex;
					gap: 8px;
					border-radius: 30px;
					background: #161718;
					padding: 8px;

					.toggle-text {
						color: #939393;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;
						padding: 12px 16px;
						transition: all 0.3s ease;
					}

					.active {
						color: #e8e8e8;
						border-radius: 51px;
						background: #202123;
					}
				}

				.content-container {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 16px;

					.content-text {
						color: rgba(255, 255, 255, 0.6);
						font-family: Brasley, sans-serif !important;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 22px;
					}
				}
			}
		}
	}

	.footer-container {
		width: 100%;
		border-top: 1px solid #333334;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;

		nav {
			ul {
				display: flex;
				gap: 40px;
				list-style: none;

				li {
					color: #e8e8e8;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
				}
			}
		}

		.copyright {
			color: #333334;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}

@media screen and (max-width: 400px) {
	.copyright {
		display: none;
	}
	.cta-container {
		& > * {
			font-size: 12px !important;
		}
	}
}

@media screen and (max-width: 566px) {
	.landing-page-container {
		padding: 24px !important;
	}

	.hero-section-1 {
		zoom: 0.8;
		padding: 36px !important;
	}

	.copyright {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.copyright {
		width: 30% !important;
		text-align: right;
	}
}

@media screen and (max-width: 950px) {
	.hero-section-1 {
		width: 100% !important;
	}
}

@media screen and (max-width: 1024px) {
	.hero-section-2 {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
	.hero-section-1 {
		transform: scale(1.3);
		transform-origin: center center;
	}

	.content-text {
		font-size: 20px !important;
	}
}
