@import 'mobileMenu';

.our-mission-container {
	align-items: flex-start;
	color: var(--primary-font);
	display: flex;
	font-family: var(--secondary-font-family);
	font-weight: 700;
	gap: 100px;
	justify-content: center;
	margin-top: 90px;
	padding: 46px 0 0 0px;
	width: 100%;
	overflow: hidden;

	.mission-nav-col {
		position: sticky;
		z-index: 10;
	}

	.mission-content-col {
		height: calc(100vh - 120px);
		overflow: hidden;
		display: flex;
		justify-content: center;
		&.bridge-img-dark {
			.mission-block {
				.bridge,
				.bridgeMobile {
					img {
						filter: invert(0);
					}
				}
			}
		}
	}

	.mission-block,
	.bridge-block {
		margin: 0;
		.bridge-svg {
			width: 100%;
			height: 360px;
		}
	}

	.bridge-block {
		color: var(--primary-font, #f2f2f3);
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 32px;
		text-align: left;
		gap: 24px;
		display: flex;
		flex-direction: column;

		p {
			margin: 0;
			padding: 2px;
		}

		.loginDescriptionText {
			padding: 0;
			margin: 0;
		}

		.loginDescriptionTwo {
			.loginDescriptionTwoText {
				span {
					color: var(--primary-font, #f2f2f3);
					font-family: Charter;
					font-size: 24px;
					font-style: italic;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.72px;
				}
			}
		}

		.loginDescriptionThree {
			color: var(--primary-font, #f2f2f3);
			font-family: Charter;
			font-size: 24px;
			font-style: italic;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.72px;
		}

		.loginDescriptionFour {
			.descriptionFourTitle {
				color: var(--primary-font, #f2f2f3);
				font-family: Charter;
				font-size: 24px;
				font-style: italic;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.72px;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		}

		.bottomText {
			color: var(--primary-font, #f2f2f3);
			font-family: Charter;
			font-size: 24px;
			font-style: italic;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.72px;
		}
	}

	.mission-block {
		.small-heading {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--tertiary-font-family);
			font-size: 32px;
			font-weight: 600;
			display: none;
		}
		.bridge,
		.bridgeMobile {
			width: 100%;
			svg {
				border-radius: 8px;
				border: 1px solid var(--stroke, #2c2d2e);
			}
			img {
				filter: invert(1);
			}
		}

		.bridgeMobile {
			display: none;
		}
	}
}

@media (max-width: 900px) {
	.our-mission-container {
		padding: 0 10px;

		.mission-nav-col {
			display: none;
		}

		.mission-content-col {
			height: 100%;
		}

		.mission-block {
			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 32px;
			}
			.bridge {
				display: none;
			}
			.bridgeMobile {
				text-align: center;
				display: block;
			}
			.heading {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--tertiary-font-family);
				font-size: 32px;
			}
			.small-heading {
				display: block;
			}
		}
	}
}
