.proactiveDropdown__container {
	// width: 100%;
	// background: var(--card, #18191b);
	padding: 50px 120px 80px 195px;
	// border-bottom: 1px solid var(--stroke, #2c2d2e);
	display: flex;

	background-color: var(--card);

	.left .heading,
	.right .heading {
		color: var(--primary-button, #79ecc9);
		font-family: Manrope;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;

		svg {
			width: 20px;
			height: 20px;
			color: var(--primary-button, #79ecc9);
		}
	}

	.left .listContainer .list,
	.right .list {
		display: flex;
		flex-direction: column;
		gap: 16px;
		cursor: auto;
		align-items: flex-start;
		justify-content: flex-start;

		span {
			padding: 0px 10px;
			* {
				color: var(--primary-font, #f2f2f3);
				font-size: 16px;
				transition: text-decoration 0.3s ease;
				text-underline-offset: 3px;
				font-weight: 500;
				&:hover {
					color: var(--primary-button, #79ecc9);
					cursor: pointer;
				}
			}
		}
	}

	.left {
		display: flex;
		flex-direction: column;
		gap: 24px;

		.listContainer {
			display: flex;
			gap: 100px;
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		gap: 24px;

		.listContainer {
			display: flex;
			gap: 100px;
		}

		.list {
			display: flex;

			gap: 16px;
			flex-wrap: wrap;
		}
	}
}
