.filterCheckBoxParentContainer {
	display: flex;
	width: 11px;
	height: 11px;
	padding: 4px;
	align-items: center;
	gap: 10px;
	border-radius: 100px;
	border: 2px solid #f95a2c;
	border: 2px solid color(display-p3 0.9059 0.3961 0.2392);
}
