.gradient-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.salesParentContainer {
	height: 100%;
	flex: 1;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sales-page {
	background-color: inherit;
	color: #fff;
	// padding: 20px;
	font-family: 'Arial, sans-serif';

	.header-image {
		position: relative;
		min-width: 882px;

		img {
			min-width: 882px;
			width: 100%;
			height: 106px;
		}

		.left-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background: transparent;
			padding: 6px 24px;

			p {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 40px; /* 250% */
				margin: 0;
			}

			h1 {
				color: #fff;
				font-family: Inter;
				font-size: 32px;
				font-style: normal;
				font-weight: 600;
				line-height: 40px;
				margin: 0;
			}
		}

		.right-content {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			background: transparent;
			padding: 16px 24px;

			p {
				color: rgba(228, 229, 230, 0.48);
				text-align: right;
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px; /* 153.846% */
				margin: 0;
			}

			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 36px;
				font-style: normal;
				font-weight: 600;
				line-height: 36px; /* 100% */
				margin: 0;
				text-align: right;
			}
		}
	}
	.sales-page-header {
		width: 100%;
		height: 100px;
		position: relative;
		border: 1px solid red;
		svg {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.left-content {
			background: transparent;
		}

		.bottom-section {
			border-bottom-left-radius: 36px;
			border-bottom-right-radius: 36px;
			width: 100%;
			height: 50%;
			border: 1px solid blue;
		}
	}

	.greeting {
		position: relative;
		background-color: #000;
		color: #fff;
		padding: 20px;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.greeting-text {
			display: flex;
			justify-content: flex-start;
			gap: 16px;

			.profile-pic {
				img {
					width: 70px;
					height: 70px;
					border-radius: 70px;
				}
			}

			.greeting-text-content {
				p {
					color: rgba(228, 229, 230, 0.64);
					font-family: Inter;
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: 30px;
				}

				h1 {
					color: #e4e5e6;
					font-family: Inter;
					font-size: 36px;
					font-style: normal;
					font-weight: 500;
					line-height: 40px;
					margin: 0;
				}
			}
		}

		.time-location {
			text-align: center;

			p.date {
				color: rgba(255, 255, 255, 0.43);
				font-family: Inter;
				font-size: 10.347px;
				font-style: normal;
				font-weight: 500;
				line-height: 12.735px;
			}

			p.location {
				color: rgba(255, 255, 255, 0.43);
				font-family: Inter;
				font-size: 9.551px;
				font-style: normal;
				font-weight: 500;
				line-height: 12.735px;
			}

			h2.time {
				color: #fff;
				font-family: Inter;
				font-size: 44.571px;
				font-style: normal;
				font-weight: 600;
				line-height: 58.898px;
				margin: 0;
			}
		}
	}

	.sales-page-filter {
		margin: 0 0 16px 0;

		ul {
			display: flex;
			gap: 20px;
			list-style: none;

			button {
				transition: all 0.3s ease;
				color: rgba(228, 229, 230, 0.48);
				color: color(display-p3 0.8941 0.898 0.902 / 0.48);
				cursor: pointer;
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				display: flex;
				height: 32px;
				padding: 8px 12px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 100px;
				border: 1px solid #202020;
				border: 1px solid color(display-p3 0.1255 0.1255 0.1255);
				background: #202123;
				background: color(display-p3 0.1255 0.1294 0.1373);

				&.active {
					color: #fff;
					box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) inset;
					background-color: #242424;
				}
			}
		}
	}

	.cards-container {
		display: flex;
		gap: 20px;
		position: relative;

		.card-div {
			// display: flex;
			// flex-direction: row;
			// gap: 30px;
			// width: 100%;
			// // overflow-x: auto;
			// padding: 12px;
			// flex-wrap: wrap;

			.requiredSalesPendingCard {
				display: flex;
				width: 285px;
				height: 304px;
				padding: 32px;
				flex-direction: column;
				// justify-content: space-between;
				align-items: flex-start;
				border-radius: 24px;
				background: #171819;
				background: color(display-p3 0.0902 0.0941 0.098);
				cursor: pointer;
				flex-shrink: 0;
				.agentsWorkflowJobCards {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
					align-self: stretch;
					flex: 1;

					.agentsWorkflowJobCardsContent {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 12px;
						align-self: stretch;
						flex: 1;
						.agentsWorkflowJobCardsTitle {
							color: var(--ve-ai-dark-theme-primary-font-color, #e8e8e8);
							color: var(
								--ve-ai-dark-theme-primary-font-color,
								color(display-p3 0.9098 0.9098 0.9098)
							);
							font-family: Inter;
							font-size: 18px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						.agentsWorkflowJobCardsSubTitle {
							color: var(--ve-ai-dark-theme-secondary-color, #939393);
							color: var(
								--ve-ai-dark-theme-secondary-color,
								color(display-p3 0.5755 0.5755 0.5755)
							);
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 20px; /* 142.857% */
						}
					}
					.agentsTabType {
						color: #e8e8e8;
						color: color(display-p3 0.9098 0.9098 0.9098);
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: capitalize;
						.agentsWorkflowJobCardsSubTitle {
							color: var(--ve-ai-dark-theme-secondary-color, #939393);
							color: var(
								--ve-ai-dark-theme-secondary-color,
								color(display-p3 0.5755 0.5755 0.5755)
							);
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 20px; /* 142.857% */
						}
					}
				}
			}
		}
		.card-div-end-black-shadow {
			background: linear-gradient(270deg, #111 6.77%, rgba(17, 17, 17, 0) 112.5%);
			position: absolute;
			top: 0;
			right: 0;
			width: 96px;
			height: 100%;
			z-index: 2;
			background-color: transparent;
		}
	}
	.salesExtraContentCards {
		display: flex;
		align-self: stretch;
		height: 418px;
		align-items: flex-start;
		gap: 18px;
		// overflow-x: auto;
		margin-top: 48px;
	}
}
