.custom-input {
	width: 100%;
	background: transparent;
	border: none;
	border-radius: 4px;
	color: var(--primary-font);
	font-family: var(--primary-font-family);
	font-size: 12px;
	font-weight: 500;

	&:hover {
		cursor: pointer;
		// background: #1e1e1e;
		background: var(--popup);
	}
}
