.calenderWidgetSection2 {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 1fr); // 2 columns
	gap: 20px;
	.calenderWidgetSection2Item {
		display: flex;
		height: 200px;
		padding: 16px;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		align-self: stretch;
		border-radius: 20px;
		background: var(--card, #171819);
		.calenderWidgetSection2ItemContainer {
			display: flex;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			.calenderWidgetSection2ItemTitle {
				color: var(--secondary-font, #93989f);
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
		.calenderWidgetSection2ItemSubtitle {
			color: var(--primary-font, #f2f2f3);
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 125% */
		}
	}
}
