.quick-actions-dropdown-container {
	margin-right: 100px;
	.dropdown-header {
		display: inline-flex;
		flex-direction: row;
		width: 85px;
		padding: 12px 16px;
		justify-content: center;
		align-items: center;
		gap: 6px;
		border-radius: 59px;
		background: var(--primary-button);
		border: 1px solid transparent;
		color: var(--primary-button-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		transition: 300ms;
		cursor: pointer;
		&:hover {
			background: transparent;
			color: var(--primary-font);
			border: 1px solid var(--stroke);
		}
	}
}

.quick-actions-dropdown-options-container {
	display: flex;
	width: 300px;
	max-height: 520px;
	padding: 12px;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	border-radius: 24px;
	background: var(--card);
	.dropdown-option {
		display: flex;
		column-gap: 10px;
		padding: 6px 8px;
		justify-content: flex-start;
		align-items: center;
		align-self: stretch;
		border-radius: 8px;
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 22px;
		flex: 1 0 0;
		cursor: pointer;
		&:hover {
			background: var(--card-over-card-hover);
		}
	}
}

.top-search-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 24px;
	gap: 10px;
	border-radius: 50px;
	border: 0.5px solid var(--stroke);
	background-color: var(--card);
	width: 100%;

	input {
		background: none;
		border: none;
		color: var(--secondary-font);
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		width: 100%;
	}
}

.modules-container {
	display: flex;
	background-color: var(--card-over-card);
	flex-direction: column;
	width: 100%;
	border-radius: 16px;
	padding: 14px;
	overflow: scroll;
	min-height: 94px;
	.modules-container-header {
		color: var(--secondary-font);
		font-size: 13px;
	}
}

.customQuickActionsToolTip {
	.ant-tooltip-content {
		right: 10px;
	}
}

.top-search-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 24px;
	gap: 10px;
	border-radius: 50px;
	border: 0.5px solid var(--stroke);
	background-color: var(--card);
	width: 100%;

	input {
		background: none;
		border: none;
		color: var(--secondary-font);
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		width: 100%;
	}
}

.modules-container {
	display: flex;
	background-color: var(--card);
	flex-direction: column;
	width: 100%;
	border-radius: 16px;
	padding: 14px;
	overflow: scroll;
	min-height: 94px;
	.modules-container-header {
		color: var(--secondary-font);
		font-size: 13px;
	}
}

.customQuickActionsToolTip {
	.ant-tooltip-content {
		right: 100px;
	}
}

.top-search-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 24px;
	gap: 10px;
	border-radius: 50px;
	border: 0.5px solid var(--stroke);
	background-color: var(--card);
	width: 100%;

	input {
		background: none;
		border: none;
		color: var(--secondary-font);
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		width: 100%;
	}
}

.modules-container {
	display: flex;
	background-color: var(--card-over-card);
	flex-direction: column;
	width: 100%;
	border-radius: 16px;
	padding: 14px;
	overflow: scroll;
	min-height: 94px;
	.modules-container-header {
		color: var(--secondary-font);
		font-size: 13px;
	}
}

.customQuickActionsToolTip {
	.ant-tooltip-content {
		right: 100px;
	}
}
