// Custom Dropdown Component
.custom-dropdown {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-family: var(--primary-font);

	&__toggle {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 16px;
		border-radius: 100px;
		border: 1px solid var(--stroke, #2c2d2e);
		background: var(--card-over-card, #202123);
		color: var(--primary-font, #f2f2f3);
		cursor: pointer;
		transition: all 0.2s ease;
		min-width: 121px;
		height: 34px;

		&-value {
			flex: 1;

			&.placeholder {
				color: var(--secondary-font);
			}
		}

		&-arrow {
			transition: transform 0.2s ease;
			margin-top: 2px;
			margin-left: 3px;
			svg {
				width: 14px;
				height: 14px;
				color: var(--secondary-font);
			}
		}

		&.open &-arrow {
			transform: rotate(180deg);
		}

		&:hover {
			border: 1px solid var(--stroke-hover);
		}
	}

	&__menu {
		position: absolute;
		bottom: 100%; // Pushes dropdown above the toggle
		left: 0;
		right: 0;
		z-index: 10;
		background: var(--card-over-card-hover, #181a1b);
		border: 1px solid var(--stroke, #2c2d2e);
		border-bottom: none;
		border-radius: 12px;
		overflow-y: auto;
		box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); // Flip shadow direction
		transform-origin: bottom center; // Open from bottom
		transform: scaleY(0);
		opacity: 0;
		transition: transform 0.2s ease, opacity 0.1s ease;

		&-item {
			padding: 12px 16px;
			cursor: pointer;
			transition: background-color 0.2s ease;
			background-color: var(--card-over-card-hover);
			color: var(--primary-font);

			&:empty,
			&[data-value=''] {
				color: var(--secondary-font);
			}

			&:hover {
				background-color: var(--card-over-card, #d9dbdd);
			}

			&.selected {
				background-color: var(--card-over-card, #d9dbdd);
				color: var(--primary-font);
			}
		}

		&.open {
			transform: scaleY(1);
			opacity: 1;
			max-height: 200px;
		}
	}
}
