.uploadLogoNotificationContainer {
	display: flex;
	width: 417px;
	padding: 24px;
	align-items: flex-start;
	gap: 24px;
	border-radius: 8px;
	background: var(--background-color);
	box-shadow: 0px 4px 20px 0px rgba(224, 224, 224, 0.07);

	.uploadLogoContentContainer {
		display: flex;
		align-items: flex-start;
		gap: var(--Spacing-space-8, 16px);
		flex: 1 0 0;

		.actualContentHolder {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: var(--Spacing-space-8, 16px);
			flex: 1 0 0;

			.uploadLogoHeaderTextWrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: var(--Spacing-space-3, 4px);
				align-self: stretch;
				.uploadLogoNotificationHeader {
					color: var(--error);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 18px; /* 128.571% */
					letter-spacing: -0.28px;
				}
				.uploadLogoNotificationHeaderSubText {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
					letter-spacing: -0.24px;
				}
			}
			.uploadLogoFooterContainer {
				display: flex;
				align-items: center;
				gap: var(--Spacing-space-8, 16px);
				.uploadLogoNotificationBtn {
					display: flex;
					padding: 8px var(--Spacing-space-8, 16px);
					justify-content: center;
					align-items: center;
					gap: 10px;
					border-radius: 8px;
					border: 1px solid #464646;
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
					letter-spacing: -0.24px;
					cursor: pointer;
				}
				.mayBeLaterButton {
					color: var(--error);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px; /* 133.333% */
					letter-spacing: -0.24px;
					text-decoration-line: underline;
					cursor: pointer;
				}
			}
		}
	}
	.svgHolder {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
