.ReactModal__Overlay {
	backdrop-filter: blur(3px);
}

.access-denied-popup-container {
	display: inline-flex;
	padding: 40px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	border-radius: 32px;
	background: #1c1d1f;
	.access-denied-popup-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		width: 440px;
		.access-denied-popup-title {
			width: 286px;
			color: var(--primary-font, #f2f2f3);
			font-family: Inter;
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.access-denied-popup-description {
			width: 338px;
			color: var(--secondary-font, #787e87);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
	}
	.access-denied-popup-buttons {
		display: flex;
		width: 440px;
		align-items: center;
		gap: 6px;
		.access-denied-contact-button {
			display: flex;
			padding: 14px 24px;
			justify-content: center;
			align-items: center;
			gap: 16px;
			flex: 1 0 0;
			align-self: stretch;
			border-radius: 50px;
			border: 1px solid #2c2d2e;
			background: transparent;
			color: var(--primary-font, #f2f2f3);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
		}
		.access-denied-popup-button {
			display: flex;
			padding: 14px 24px;
			justify-content: center;
			align-items: center;
			gap: 6px;
			flex: 1 0 0;
			align-self: stretch;
			border-radius: 59px;
			background: var(--primary-font, #f2f2f3);
			color: var(--background-color, #0c0c0d);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}
