.updatePasswordPopUp{
        display: flex;
        width: 480px;
        padding: 32px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        border-radius: 40px;
        background: #151515;
        box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.10);
    .updatePasswordTitleContainer{
        display: flex;
        width: 100%;
        .updatePasswordTitle{
            width: 100%;
            h1{
                color: #E4E5E6;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                margin: 0px;
                margin-bottom: 4px;
                   
            }
            h3{
                color: rgba(228, 229, 230, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.24px;
                 text-transform: capitalize;
                margin: 0px;
            }
            
        }
    }
    .updatePasswordInputs{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
    button{
            padding: 16px 24px;
            gap: 16px;
            margin-top: 40px;
            width: 100%;
            color: #E4E5E6;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.26px;
            border-radius: 100px;
            border: 1px solid rgba(36, 36, 36, 0.64);
            background: rgba(42, 42, 42, 0.16);
    }
}