.storage_listview_container {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 10px;
	.storage_listview_item {
		padding: 20px 16px;
		border-bottom: 1px solid var(--card, #171819);
	}
	.storage_listview_left {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.storage_listview_middle {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		gap: 6px;
		.storage_listview_middle_item {
		}
	}
	.storage_listview_right {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
