.ai-suggestions-drawer {
	.ant-drawer-content-wrapper {
		width: fit-content !important;
	}
	.ant-drawer-content {
		border-radius: 0px;
	}

	.ai-suggestions-container {
		display: flex;
		width: 500px;
		height: 100%;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		background: var(--navbar, #202123);

		.drawer-header {
			width: 100%;
			position: sticky;
			top: 0;
			z-index: 10;
			padding: 16px 20px;
			background: var(--navbar, #202123);
			border-bottom: 1px solid var(--stroke, #333334);
			.header-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.left-container {
					display: flex;
					align-items: center;
					gap: 18px;
					.prev-btn {
						cursor: pointer;
						transform: rotate(180deg);
						height: fit-content;
						height: 22px;
						display: flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 20px;
							height: 20px;
						}
					}
					.total-docs {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						user-select: none;
					}
					.next-btn {
						cursor: pointer;
						height: 22px;
						display: flex;
						align-items: center;
						justify-content: center;
						svg {
							width: 20px;
							height: 20px;
						}
					}
				}
				.info {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					gap: 12px;
					span {
						width: 1.5px;
						height: 18px;
						background: var(--stroke-hover, #404548);
					}
					.confidence {
						display: flex;
						padding: 8px 14px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						align-self: stretch;
						border-radius: 32px;
						border: 1px solid var(--primary-button);

						.value {
							color: var(--primary-font, #b2ff00);
							font-family: var(--primary-font-family);
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}

					.priority {
						display: flex;
						padding: 8px 14px;
						justify-content: center;
						align-items: center;
						gap: 6px;
						align-self: stretch;
						border-radius: 32px;
						border: 1px solid var(--stroke-hover, #424548);
						background: var(--popup, #202123);
						.priority-text {
							color: var(--primary-font, #f2f2f3);
							font-family: var(--primary-font-family);
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
						.indicator {
							width: 8px;
							height: 8px;
							border-radius: 50%;
						}
					}
				}
			}

			.horizontal-line {
				width: 100%;
				height: 1px;
				background: var(--stroke, #333334);
			}
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		flex: 1 0 0;
		align-self: stretch;
		padding: 20px 20px 30px;
		background: var(--right-bar);
		.body-header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 8px;
			align-self: stretch;

			.title-text {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			.description {
				color: var(--secondary-font, #93989f);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px;
			}
		}
		.triggered-source-container {
			display: flex;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			.triggered-source-text {
				color: var(--primary-font, #f2f2f3);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.triggered-source-value {
				display: flex;
				padding: 4px 6px;
				align-items: center;
				gap: 4px;
				border-radius: 100px;
				border: 1px solid var(--stroke, #2c2d2e);
				background: var(--popup, #202123);
				color: var(--primary-font, #f2f2f3);
				font-family: Inter;
				font-size: 11px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				cursor: pointer;
			}
		}

		.chain-of-thought-container {
			display: flex;
			width: 100%;
			flex-direction: column;
			gap: 24px;
			border-radius: 16px;
			.chain-of-thought-content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				flex: 1 0 0;
				margin-bottom: 22px;
				.content-container {
					display: flex;
					align-items: flex-start;
					gap: 16px;

					.logo-container {
						display: flex;
						width: 8px;
						height: 8px;
						padding: 4px;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 10px;
						flex-shrink: 0;
						position: relative;
						border-radius: 100px;
						border: 1px solid var(--stroke, #333334);
						background: var(--secondary-font, #171819);
						z-index: 1;
						top: 2px;
					}
					.text-container {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						position: relative;

						&::after {
							content: '';
							position: absolute;
							top: 13px;
							left: -22px;
							width: 1px;
							height: calc(100% + 10px);
							background: var(--stroke, #333334);
							z-index: 0;
						}
					}

					&:last-child {
						.text-container {
							&::after {
								display: none;
							}
						}
					}
				}
			}

			.desc {
				color: var(--secondary-font, #93989f);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
		.report-container {
			display: flex;
			width: 100%;
			padding-top: 0;
			flex-direction: column;
			gap: 24px;
			// border: 1px solid var(--stroke, #2e3033);
			.report-description {
				color: var(--secondary-font, #93989f);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				border: 1px solid var(--stroke, #2e3033);
				border-radius: 16px;
				padding: 16px;
				box-shadow: 0px 0px 10px 0px var(--stroke);
				margin-bottom: 22px;
				.markdown-custom-content {
					--font-size: 15px;
				}
			}
		}
		.suggested-actions,
		.suggested-prompts,
		.solutions {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
			align-self: stretch;
		}

		.suggested-actions .title-text,
		.suggested-prompts .title-text,
		.solutions .title-text {
			color: var(--secondary-font, #93989f);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 21px; /* 175% */
		}
		.suggested-actions .suggested-prompts .solutions {
			display: flex;
			flex-direction: column;
		}
		.suggested-actions .action-item,
		.suggested-prompts .prompt-item,
		.solutions .solution-item {
			display: flex;
			padding: 6px;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			border-radius: 8px;
			transition: all 0.2s ease-in-out;

			&:hover {
				background: var(--card-over-card-hover, #2e2f33);
			}
		}

		.suggested-actions .action-item {
			background-color: var(--card);
			// border: 1px solid var(--stroke, #333334);
		}
		.suggested-actions .action-item .item-text,
		.suggested-prompts .prompt-item .item-text,
		.solutions .solution-item .item-text {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
		}

		.suggested-actions .action-item:hover,
		.suggested-prompts .prompt-item:hover,
		.solutions .solution-item:hover {
			background-color: var(--card-over-card-hover, #202123);
			cursor: pointer;
		}
	}
	.footer {
		background: var(--navbar, #202123);
		position: sticky;
		bottom: 0;
		padding-bottom: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;
		.horizontal-line {
			width: 100%;
			height: 1px;
			background: var(--stroke, #333334);
		}
		.footer-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 16px 20px 0px;
			.footer-left {
				display: flex;
				flex-direction: row;
				gap: 8px;
				.thumbs-up-container {
					display: flex;
					width: 40px;
					height: 40px;
					padding: 12px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 100px;
					border: 1px solid var(--stroke);
					cursor: pointer;
					&.selected-thumb {
						border: 1px solid var(--primary-font, #f2f2f3);
					}
				}
			}
			.btns-container {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
				align-self: stretch;
				gap: 8px;
				user-select: none;
				.ignore-btn {
					display: flex;
					height: 40px;
					padding: 6px 18px;
					justify-content: center;
					align-items: center;
					gap: 4px;

					border-radius: 100px;
					border: 1px solid var(--stroke, #333334);
					background-color: transparent;

					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
				}
				.report-btn {
					display: flex;
					height: 40px;
					padding: 6px 18px;
					justify-content: center;
					align-items: center;
					gap: 4px;

					border-radius: 100px;
					background: var(--primary-button);
					cursor: pointer;
					border: none;
				}
			}
		}
	}
}

.horizontal-line {
	width: 100%;
	height: 1px;
	background: var(--stroke, #333334);
	border: none;
}
.cot-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 100%;
	padding: 10px 0px;
	.cot-text {
		display: flex;
		align-items: center;
		gap: 12px;
		color: var(--primary-font, #f2f2f3);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
	.report-icon-container {
		display: flex;
		align-items: center;
		gap: 16px;
		.cot-expand-btn {
			width: 14px;
			height: 14px;
			svg {
				width: 14px;
				height: 14px;
			}
		}
	}
}
.question-container {
	width: 100%;
	.question {
		color: var(--primary-font, #f2f2f3);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	.answers-input {
		display: flex;
		padding: 12px 8px;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border: none;
		background: var(--card-over-card, #202123);
		border-radius: 8px;
		color: var(--primary-font, #f2f2f3);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		width: 100%;
		margin-top: 8px;
	}
	.answer-input::placeholder {
		color: var(--secondary-font, #93989f);
	}
}
