.offlinePageContainer {
	width: 100vw;
	height: 100vh;
	background-color: var(--background);

	.navBar {
		width: 100%;
		height: 60px;
		padding: 32px;
	}

	.body {
		width: 100%;
		height: 100%;
		background-color: white;
	}
}
