.ambient-ai-info-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	position: relative;

	.header {
		width: 100%;
		display: flex;
		padding: 20px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 24px;
		align-self: stretch;

		.header-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			flex-wrap: wrap;
			gap: 10px;

			.left-container {
				display: flex;
				align-items: center;
				gap: 6px;
				height: 32px;

				.btn {
					display: flex;
					padding: 6px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 6px;
					border: 1px solid var(--stroke, #2c2d2e);
					cursor: pointer;
					svg {
						width: 18px;
						height: 18px;
					}
				}
				.delete-btn {
					border: 1px solid var(--error);
				}
				.suggested-info {
					display: flex;
					height: 32px;
					padding: 12px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 6px;
					border: 1px solid var(--stroke, #e3e3e3);
					.suggested-info-text {
						flex-shrink: 0;
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					.icon {
						position: relative;
					}
					.indicator {
						width: 8px;
						height: 8px;
						border-radius: 50%;
					}
				}
				.confidence {
					display: flex;
					height: 32px;
					padding: 12px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 6px;
					border: 1px solid var(--stroke, #e3e3e3);
					.value {
						color: var(--primary-font, #18181b);
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}
				.prev-btn {
					cursor: pointer;
					transform: rotate(-90deg);
					height: fit-content;
					height: 22px;
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						width: 20px;
						height: 20px;
					}
				}
				.total-docs {
					display: flex;
					align-items: center;
					gap: 4px;
					height: 100%;

					.total {
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						color: var(--secondary-font, #f2f2f3);
					}
					.doc-divider {
						color: var(--secondary-font, #f2f2f3);
						position: relative;
						top: -1px;
					}
					.current-doc {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
					}
				}
				.next-btn {
					cursor: pointer;
					height: 22px;
					display: flex;
					align-items: center;
					justify-content: center;
					transform: rotate(90deg);
					position: relative;
					svg {
						width: 20px;
						height: 20px;
					}
				}
			}

			.right-container {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 6px;
				flex-wrap: wrap;

				.starLogoContainer {
					height: 18px;
					cursor: pointer;
					&:hover {
						svg {
							path {
								stroke: var(--primary-font);
							}
						}
					}
					&.active {
						svg {
							fill: #79ecc9;
							path {
								stroke: #79ecc9;
							}
						}
					}
				}

				.btn {
					display: flex;
					padding: 6px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 6px;
					border: 1px solid var(--stroke, #2c2d2e);
					cursor: pointer;
					svg {
						width: 18px;
						height: 18px;
					}
				}
				.delete-btn {
					border: 1px solid var(--error);
				}
				.download-btn {
					svg {
						path {
							stroke: var(--primary-font, #f2f2f3);
						}
					}
				}
				.share-btn {
					svg {
						width: 18px;
						height: 18px;
						path {
							fill: var(--primary-font, #f2f2f3);
						}
					}
				}
			}
		}
	}

	.body {
		display: flex;
		padding: 0px 20px 20px 20px;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		flex: 1 0 0;
		overflow-y: auto;
		align-self: stretch;
		background: var(--navbar, #18191b);

		.title-text {
			width: 100%;
			background-color: var(--navbar);
			z-index: 20;
			color: var(--primary-font, #18181b);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		.body-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;
			margin-top: -16px;

			.description-wrapper {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.description {
					color: var(--primary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
				}
			}

			.suggestions-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 8px;
				align-self: stretch;

				.more-info {
					display: flex;
					align-items: center;
					gap: 8px;
					flex-wrap: wrap;
					.triggered-source-container {
						.triggered-source-value {
							display: flex;
							padding: 6px 10px;
							align-items: center;
							gap: 8px;
							border-radius: 8px;
							border: 1px solid var(--stroke, #2c2d2e);
							background: var(--popup, #202123);
							cursor: pointer;

							color: var(--primary-font, #f2f2f3);
							font-family: var(--primary-font-family);
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							svg {
								width: 14px;
								height: 12px;
							}
						}
					}

					.category {
						display: flex;
						height: 32px;
						padding: 12px;
						justify-content: center;
						align-items: center;
						gap: 6px;
						border-radius: 6px;
						background: var(--card, #1f2123);
						color: var(--primary-font, #18181b);
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: capitalize;
					}
				}
			}
		}

		.tabs-container {
			border-bottom: 1px solid var(--stroke);
			width: 100%;

			.tab-buttons {
				width: 100%;
				overflow-x: auto;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 8px;
			}

			.tab-btn {
				padding: 16px 12px;
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: var(--secondary-font, #787e87);
				cursor: pointer;
				transition: all 0.3s ease;
				position: relative;
				display: flex;
				align-items: center;
				gap: 8px;
				flex-shrink: 0;
				z-index: 1;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					width: 100%;
					left: 0;
					height: 1px;
					background-color: var(--primary-font, #f2f2f3);
					border-radius: 2px;
					z-index: 2;
					display: none;
				}

				&.active {
					color: var(--primary-font, #f2f2f3);
					&::after {
						display: block;
					}
				}

				&:hover {
					color: var(--primary-font, #f2f2f3);
				}
			}
		}

		.situation-overview-container {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			align-self: stretch;

			.suggested-actions-wrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 12px;
				align-self: stretch;

				.suggested-action-text {
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
				.suggested-actions-container {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 8px;
					.suggested-action {
						min-height: 100px;
						display: flex;
						padding: 12px 14px;
						flex-direction: column;
						align-items: flex-start;
						border-radius: 8px;
						background: var(--card, #1f2123);
						cursor: pointer;
						transition: background 200ms ease-in-out;

						&:hover {
							background-color: var(--card-hover);
						}

						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 22px;
					}
				}
			}

			.suggested-prompts-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 12px;
				align-self: stretch;

				.suggested-prompts-title {
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.suggested-prompts {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					align-self: stretch;

					.prompt-item {
						display: flex;
						padding: 14px 12px;
						align-items: center;
						gap: 12px;
						align-self: stretch;
						border-radius: 8px;
						background: var(--card, #1f2123);
						transition: all 0.2s ease-in-out;
						cursor: pointer;
						border: 1px solid transparent;

						&:hover {
							border: 1px solid var(--primary-button);
						}

						.logo {
							height: 18px;
							svg {
								width: 18px;
								height: 18px;
								path {
									stroke: var(--primary-button) !important;
								}
							}
						}

						.item-text {
							color: var(--primary-font, #f2f2f3);
							font-family: var(--primary-font-family);
							font-size: 15px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}
			}
		}
		.cot {
			width: 100%;
			.chain-of-thought-container {
				display: flex;
				width: 100%;
				flex-direction: column;
				gap: 24px;
				border-radius: 16px;
				margin-bottom: 12px;

				.report-description {
					overflow: hidden;

					.markdown-custom-content {
						--font-size: 15px;
					}
				}
				.chain-of-thought-wrapper {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
					align-self: stretch;

					.chain-of-thought-text {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					.chain-of-thought-content {
						width: 100%;
					}
				}
			}
		}

		.source-content {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;

			.citation-item {
				padding: 12px;
				transition: all 0.2s ease;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				border-radius: 8px;

				&:hover {
					background: var(--popup, #202123);

					.arrow-icon {
						svg {
							path {
								fill: var(--primary-button);
							}
						}
					}
				}

				.citation-header {
					display: flex;
					gap: 12px;
					align-items: flex-start;
					width: calc(100% - 15px);

					.citation-icon {
						flex-shrink: 0;

						.company-icon {
							width: 32px;
							height: 32px;
							border-radius: 6px;
							background: var(--card-over-card, #202123);
							display: flex;
							align-items: center;
							justify-content: center;
							color: var(--primary-font);
							font-weight: 500;
							font-size: 14px;
						}

						.favicon-image {
							width: 32px;
							height: 32px;
							border-radius: 6px;
						}
					}

					.citation-details {
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						flex-grow: 1;
						overflow: hidden;

						.website-name {
							color: var(--primary-font);
							font-family: var(--chat-primary-font-family);
							font-size: 15px;
							font-style: normal;
							font-weight: 500;
							line-height: 24px;
							letter-spacing: 0.2px;
						}

						.citation-url {
							color: var(--secondary-font, #95989d);
							font-family: var(--chat-primary-font-family);
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: 16px;
							letter-spacing: 0.2px;
							overflow-wrap: break-word;

							.link-icon {
								width: 12px;
								height: 12px;
								color: var(--secondary-font, #787e87);
								flex-shrink: 0;
							}
						}

						.citation-title {
							color: var(--secondary-font);
							font-size: 13px;
							font-weight: 400;
							line-height: 20px;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.citation-divider {
				width: 100%;
				height: 1px;
				background: var(--stroke, #333334);
			}

			.no-sources {
				color: var(--secondary-font);
				text-align: center;
				padding: 20px;
				font-size: 14px;
			}
		}
	}
	.footer {
		background: var(--popup, #202123);
		padding: 16px 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;

		.footer-content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.footer-left-container {
				display: flex;
				align-items: center;
				gap: 8px;

				.footer-left-btn {
					display: flex;
					padding: 10px 12px;
					justify-content: center;
					align-items: center;
					gap: 18px;
					border-radius: 100px;
					background: transparent;
					border: 1px solid var(--stroke, #2c2d2e);
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}

			.btns-container {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 8px;
				user-select: none;

				.teach-me-btn {
					display: flex;
					padding: 10px 16px;
					justify-content: center;
					align-items: center;
					gap: 8px;
					border-radius: 100px;
					background: var(--primary-opacity, rgba(121, 236, 201, 0.1));
					color: var(--primary-button, #79ecc9);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					cursor: pointer;
				}
				.report-btn {
					padding: 10px 16px;
					border-radius: 100px;
					background: var(--primary-button);
					cursor: pointer;
					border: none;
					color: var(--background-color, #121212);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}
}

.ambient-ai-tooltip {
	display: inline-flex;
	padding: 10px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
	color: var(--primary-font, #f2f2f3);
	font-family: var(--primary-font-family);
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
