.options-dropdown-tooltip {
	.option-dropDown-wrapper {
		background: var(--popup);
		border-radius: 14px;
		.options-dropdown-container {
			display: flex;
			padding: 12px 10px;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			width: 220px;
			border-radius: 14px;
			background: var(--popup);

			.options-dropdown-header {
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid var(--stroke);
				padding: 0 8px;
				padding-bottom: 12px;

				.options-dropdown-header-title-wrapper {
					display: flex;
					align-items: center;
					gap: 12px;

					.options-dropdown-header-title {
						color: var(--primary-font);
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						text-align: left;
						font-weight: 500;
						line-height: normal; /* 142.857% */
					}
				}
			}

			.options-dropdown-body-show-container-header,
			.options-dropdown-body-hide-container-header {
				display: flex;
				padding: 6px;
				justify-content: space-between;
				align-items: center;
				align-self: stretch;

				.section-title {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 11px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.btn-show-all {
					all: unset;
					cursor: pointer;
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 11px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}

			.options-dropdown-property-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				.property-listItem {
					display: flex;
					height: 31px;
					padding: 12px 6px;
					justify-content: space-between;
					align-items: center;
					align-self: stretch;
					gap: 8px;
					width: 100%;
					overflow: hidden;
					cursor: pointer;
					border-radius: 8px;
					transition: all 0.2s ease-in-out;
					svg {
						width: 16px;
						height: 16px;
						align-self: center;
					}

					* {
						flex-shrink: 0;
					}

					.drag-handle-icon {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.property-listItem-title {
						color: var(--primary-font);
						text-align: start;
						font-family: var(--primary-font-family);
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						flex-grow: 1;
						max-width: 100px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						user-select: none;
					}

					.crossed-eye-icon {
						opacity: 0.48;
					}

					&:hover {
						background-color: var(--card);
					}
				}
			}

			.options-dropdown-footer {
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				border-top: 1px solid var(--stroke);
				padding: 12px;
				padding-bottom: 0;

				.add-new-property-icon {
					width: 15px;
					height: 15px;
					opacity: 0.48;
				}

				.add-new-property-title {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
			.cursor-pointer {
				cursor: pointer;
			}
		}

		.cursor-pointer {
			cursor: pointer;
		}
	}
}
