.property-edit-dropdown-container {
	.property-edit-dropdown-wrapper {
		display: flex;
		width: 220px;
		padding: 12px;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		border-radius: 8px;
		background: #202123;
		box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.25);

		.property-edit-dropdown-input {
			all: unset;
			display: flex;
			transform: rotate(-0.037deg);
			height: 31px;
			// padding: 6px;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			border-radius: 8px;
			padding: 0 6px;
			border: 1px solid #333334;
			color: #f2f2f3;
			font-family: Inter;
			font-size: 11px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			&::placeholder {
				color: #7a7e85;
			}
		}

		.delete-button {
			all: unset;
			display: flex;
			height: 31px;
			padding: 6px 4px;
			align-items: center;
			gap: 8px;
			align-self: stretch;
			.delete-icon {
				path {
					stroke: #f2f2f3 !important;
				}
			}
		}

		.option-text {
			color: #f2f2f3;
			text-align: center;
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		.option-item {
			box-sizing: border-box;
			border-radius: 8px;
			width: 100%;
			cursor: pointer;
			&:hover {
				background-color: #343538;
			}
		}

		.colors-wrapper {
			padding: 12px;
			border-top: 1px solid #343538;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;
			.colors-list {
				display: flex;
				gap: 8px;
				.color-item {
					width: 14px;
					height: 14px;
					flex-shrink: 0;
					border-radius: 50%;
					border: 2px solid #343538;
				}
			}
		}
	}
}
