.filter-dropdown-text-filter {
	display: flex;
	padding: 18px 16px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	background-color: var(--card, #2c2d2e);
	display: flex;
	width: 250px;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);

	.filter-dropdown-text-filter-title {
		color: var(--secondary-font, #7a7e85);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.filter-dropdown-text-filter-input {
		display: flex;
		padding: 12px 8px;
		align-items: center;
		gap: 12px;
		align-self: stretch;
		border-radius: 10px;
		border: 1px solid var(--stroke, #2c2d2e);
		overflow: hidden;
		color: var(--secondary-font, #7a7e85);
		font-family: var(--primary-font-family);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		background-color: transparent;
	}
}
