.CreateClientModal {
	display: flex;
	width: 520px;
	padding: 36px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 32px;
	background-color: var(--popup);
	border: 1px solid var(--stroke);

	.modalHeading {
		display: flex;
		align-items: center;
		gap: 4px;
		align-self: stretch;

		.client-modal-title {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			flex-grow: 1;
		}
		.closeContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	.inputBoxHolder {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		width: 100%;
		.inputWrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;
			align-self: stretch;

			.errorMessage {
				padding-top: 4px;
				padding-left: 12px;
				color: var(--error);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		/* Target the wrapper */
		.PhoneInput {
			display: flex;
			align-items: center;
			padding: 8px;
			border-radius: 14px;
			width: 100%;
			border-radius: 14px;
			border: 1px solid var(--stroke);
			background: var(--card-over-card);
			height: 44px;

			/* Style the dropdown arrow */
			.PhoneInputCountrySelectArrow {
				color: var(--primary-font);
				opacity: 1;
			}
		}

		/* Target the country selector dropdown */
		.PhoneInputCountry {
			margin-right: 8px;
		}

		/* Target the flag icon */
		.PhoneInputCountryIcon {
			width: 20px;
			height: 15px;
		}

		/* Style the input field */
		.PhoneInputInput {
			flex: 1;
			border: none;
			outline: none;
			background-color: transparent;
			color: var(--primary-font);

			&::placeholder {
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.leadSourceContainer {
			display: flex;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			flex: 1 0 0;
			border-radius: 14px;
			.selectedPage {
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: capitalize;
			}
		}
	}

	.phoneAndSourceContainer {
		display: flex;
		gap: 16px;
		width: 100%;

		.inputWrapper {
			flex: 1;
		}

		.leadSourceContainer {
			flex: 1;
		}
	}

	.createClientFooter {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;

		.continueContainer {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 16px;
			align-self: stretch;
			border: 1px solid var(--stroke);
			border-radius: 100px;

			.action-button:enabled {
				background-color: var(--primary-button);
				p {
					color: var(--primary-button-font);
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.CreateClientModal {
		max-width: 380px;
		padding: 24px;
	}
}
