.myProfileSettings{
    display:flex;
    .settingsContainer {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 56px;
        max-height: 90vh;
        padding-right: 125px;
        scroll-behavior: smooth;
    

    // This are the styling belongs to the settings 
    .settingProfileDetails {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 40px;
        border: 1px solid rgba(36, 36, 36, 0.64);
        background: rgba(42, 42, 42, 0.16);

        .formsMain {

            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;

            .profileMain {
                display: flex;
                justify-content: space-between;

                h1 {
                    color: #E4E5E6;
                    font-size: 16px;
                    font-weight: 500;
                }

                p {
                    color: rgba(228, 229, 230, 0.32);
                    font-size: 14px;
                    font-weight: 500;
                }

                .saveButton {
                    color: white;
                }
            }

            .formContainerMain {
                display: flex;
                flex-direction: column;
                gap: 24px;

                label {
                    color: #B0B0B0;
                    font-size: 11px;
                    padding-left: 14px;
                    font-weight: 400;
                    margin-bottom: 6px;

                }

                input {
                    display: flex;
                    // padding: 11px 14px;
                    justify-content: center;
                    align-items: center;
                    // border-radius: 10px;
                    // border: 1px solid rgba(36, 36, 36, 0.64);
                    background-color: transparent;
                    width: 100%;

                }

                .profileImgName {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 0px;

                    input {
                        width: 100%;
                    }

                    gap:24px;

                    .profileImgContainerMain {
                        width: 63px;
                        height: 63px;

                        label {
                            padding-left: 0px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }


                    }

                    .fullName {
                       
                        width: 100%;
                        
                    }
                }

                .phoneNumber {
                    display: flex;
                    border-radius: 10px;
                    border: 1px solid rgba(36, 36, 36, 0.64);

                    select {
                        border: none;
                        background-color: transparent;
                        color: #B0B0B0;
                    }

                    input {
                        border-radius: 0px;
                        border: none;
                        background-color: transparent;
                    }

                }


            }
        }

        .formsEdit {
            input {
                color: white;

                &:focus {
                    background-color: transparent;

                    outline: none;
                }
            }

        }

        .error {
            color: #9f0808;
            font-size: 11px;
            padding-left: 14px;
            font-weight: 400;

        }
    }

    // This are the styling belongs to two-factor-authentication

    .settingsTwoFactorAuthentication {

        padding: 40px;
        border-radius: 40px;
        border: 1px solid rgba(36, 36, 36, 0.64);
        background: rgba(42, 42, 42, 0.16);

        .twoFactorAuthText {
            margin-bottom: 40px;

            h4 {
                color: #E4E5E6;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 8px;

            }

            p {
                color: rgba(228, 229, 230, 0.48);
                font-size: 13px;
                font-weight: 400;
            }
        }

        .switchStep {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .switchToggle {
                display: flex;
                gap: 12px;

                p {
                    color: #E4E5E6;
                    font-size: 13px;
                    font-weight: 500;

                }
            }

            .toggleOptions {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .step {
                    display: flex;
                    gap: 12px;

                    h4 {
                        color: #E4E5E6;
                        text-align: center;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 16px;
                        border-radius: 100px;
                        background: #333;
                        padding: 4px;
                        height: 24px;
                        width: 50px;
                    }

                    p {
                        color: rgba(228, 229, 230, 0.48);
                        font-family: Inter;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        margin-bottom: 8px;
                    }

                    input {
                        width: 100%;
                        padding: 11px 14px;
                        border-radius: 10px;
                        border: 1px solid rgba(36, 36, 36, 0.64);
                        background-color: transparent;
                        color: white;
                    }
                }

                .stepThree {
                    width: 90%;
                }

                .stepFour {
                    width: 90%;
                }

            }


        }
    }

    // This are the styling belongs to Theme preferences
    .settingsTheme {
        padding: 40px;
        border-radius: 40px;
        border: 1px solid rgba(36, 36, 36, 0.64);
        background: rgba(42, 42, 42, 0.16);

        .themeMain {
            h4 {
                color: #E4E5E6;
                font-size: 16px;
                font-weight: 500;
                // margin: 24px;
            }

            button {
                padding: 9px 16px;
                align-items: center;
                border-radius: 20px;
                color: #666;
                border: 1px solid #1C1C1C;
                background: #1C1C1C;
                margin-right: 13px;
            }

        }
    }

    // this are the styelings for Notifiations

    .notificationContainer {
        padding: 40px;
        border-radius: 40px;
        border: 1px solid rgba(36, 36, 36, 0.64);
        background: rgba(42, 42, 42, 0.16);

        .notificationMain {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .notificationText {
                h4 {
                    color: #E4E5E6;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    /* 150% */
                }

                p {
                    color: rgba(228, 229, 230, 0.48);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }

    // this are the stylings for the access controllers

    .accessSettingsContainer {
        padding: 40px;
        border-radius: 40px;
        border: 1px solid rgba(36, 36, 36, 0.64);
        background: rgba(42, 42, 42, 0.16);

        .accessContainer {
            display: flex;
            flex-direction: column;
            gap: 48px;

            h1 {
                color: #E4E5E6;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            .accessInfo {
                h4 {
                    color: #E4E5E6;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                p {
                    color: rgba(228, 229, 230, 0.48);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-bottom: 24px;
                }

                button {
                    padding: 9px 16px;
                    border-radius: 20px;
                    border: 1px solid #1C1C1C;
                    background: #1C1C1C;
                    color: #666;
                }
            }

            .chooseWorkspaces {
                h4 {
                    color: #E4E5E6;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                p {
                    color: rgba(228, 229, 230, 0.48);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-bottom: 24px;
                }

                button {
                    padding: 9px 16px;
                    border-radius: 20px;
                    border: 1px solid #1C1C1C;
                    background: #1C1C1C;
                    color: #666;
                }

                .gridContainer {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 13px;
                    padding: 20px 0;
                    width: 90%;

                    .gridItem {
                        padding: 9px 16px;
                        border-radius: 20px;
                        border: 1px solid #1C1C1C;
                        background: #1C1C1C;
                        color: #666;
                        cursor: pointer;

                        transition: background-color 0.3s;
                    }
                }
            }

            .leaveComponent {
                h4 {
                    color: #E4E5E6;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                p {
                    color: rgba(228, 229, 230, 0.48);
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 21px;

                }

                .notificationWorkspace {
                    display: flex;
                    gap: 18px;
                    align-items: center;
                    border-bottom: 0.8px solid rgba(40, 39, 40, 0.48);

                    .workspaceContainer {
                        width: 100%;
                        margin: 24px 0px;

                    }
                }

                button {
                    height: fit-content;
                    padding: 16px 24px;
                    border-radius: 30px;
                    border: 1px solid rgba(36, 36, 36, 0.64);
                    background: rgba(42, 42, 42, 0.16);
                    color: #E4E5E6;
                }
            }
        }
    }
}
.linksContainer{
 .sidebarList {
     display: flex;
     flex-direction: column;
     gap: 10px;
     cursor: default;

     li {
         list-style: none;
         color: rgba(228, 229, 230, 0.32);
         line-height: 22px;

     }

     .active {
         color: white;
     }
 }
}
}