.companySettingsWrapper{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1.5rem 6rem 3rem 6rem;
    gap: 150px;
    .companySettingsMapper{
        width: 70%;
        height: 85vh;
        overflow-y: scroll;
    }
    .companySettingsSidebar{
        width: 30%;
    }
}