.notes-parent-wrapper {
	height: 100%;
	display: flex;
	flex-direction: row;
	transition: width 0.3s ease-in-out;
	.leftWrapper {
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		.chat-wrapper {
			width: 400px;
			background-color: var(--card);
			flex-shrink: 0;

			.headerInfo {
				padding: 24px 24px 16px 24px;
				background-color: var(--card) !important;
			}

			.chatBodyWrapper {
				padding: 0 20px !important;
			}

			.markdown-custom-content {
				--font-size: 15px !important;
			}

			.nonActiveQuestionsContainer {
				background-color: var(--card) !important;
			}
		}
		.notesContainerWrapper {
			flex-grow: 1;
		}
	}
	.switchContainer {
		position: absolute;
		right: 160px;
		top: 16px;
		&.SuggestionSidebarActive {
			right: 16px;
		}
	}
	.rightWrapper {
		height: 100%;
		width: 400px;
	}
}
