@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('HelveticaNeue-Light.woff2') format('woff2'),
		url('HelveticaNeue-Light.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('HelveticaNeue-Roman.woff2') format('woff2'),
		url('HelveticaNeue-Roman.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('HelveticaNeue-Medium.woff2') format('woff2'),
		url('HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('HelveticaNeue-Bold.woff2') format('woff2'),
		url('HelveticaNeue-Bold.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('HelveticaNeue-Heavy.woff2') format('woff2'),
		url('HelveticaNeue-Heavy.woff') format('woff');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 950;
	font-display: swap;
	src: url('HelveticaNeue-Black.woff2') format('woff2'),
		url('HelveticaNeue-Black.woff') format('woff');
}
