.renew-banner-container {
	position: fixed;
	top: 0px;
	left: 250px;
	width: calc(100vw - 250px);
	z-index: 1000;
	.renew-banner {
		display: flex;
		width: calc(100vw - 250px);
		padding: 8px 32px;
		justify-content: center;
		align-items: center;
		gap: 24px;
		background: var(--stroke-hover, #404548);
		.renew-banner-title {
			color: var(--primary-font, #f2f2f3);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
		.renew-banner-button {
			display: flex;
			padding: 12px 16px;
			justify-content: center;
			align-items: center;
			gap: 12px;
			border-radius: 100px;
			background: var(--primary-font, #f2f2f3);
			color: var(--background-color, #0c0c0d);
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			border: none;
			cursor: pointer;
		}
	}
}
