.sidebar-subtask-container {
	width: 100%;
	display: flex;
	padding: 0 20px;
	padding-bottom: 24px;
	border-left: none;
	border-right: none;
	flex-direction: column;
	border-bottom: 1px solid var(--stroke);

	.sidebar-subtask-header {
		display: flex;
		padding: 0px 8px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		gap: 16px;
		padding-bottom: 12px;

		.sidebar-subtask-header-title {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
		}

		.sidebar-subtask-header-count {
			display: flex;
			align-items: center;
			gap: 10px;

			.task-count {
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
		.subtask-actions-wrapper {
			display: flex;
			align-items: center;
			flex-grow: 1;
			justify-content: flex-end;
			gap: 8px;
			flex-shrink: 0;

			.subtask-action-button {
				border: none;
				width: 27px;
				height: 27px;
				background-color: transparent;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					width: 24px;
					height: 24px;
					path {
						stroke: var(--primary-font);
						stroke-width: 1.5;
					}
				}

				.chevron-icon {
					transform: rotate(90deg);

					&.open {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}
	.subtask-list-container {
		display: flex;
		flex-direction: column;
		max-height: fit-content;
		overflow-y: hidden;
		gap: 12px;
		justify-content: flex-start;
		scrollbar-width: 1px;

		&.open {
			max-height: 300px;
			overflow-y: auto;
			gap: 12px;
		}

		.spinner-container {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
		}

		.subtask-wrapper {
			display: flex;
			padding: 14px 12px;
			flex-direction: column;
			align-items: flex-start;
			gap: 14px;
			align-self: stretch;
			border-radius: 8px;
			background: var(--popup, #202123);
			cursor: pointer;

			.sub-task-text-wrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 4px;
				align-self: stretch;

				.title {
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: normal;
					overflow-wrap: break-word;
				}

				.description {
					color: var(--secondary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px; /* 128.571% */
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					word-break: normal;
					overflow-wrap: break-word;
				}
			}
		}

		.other-properties {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			align-self: stretch;

			.property-tags {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 6px;
			}
		}

		.no-subtasks {
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-align: center;
			padding: 12px 0;
		}
	}
}
