.listViewParentContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	button {
		border: none;
	}
	.listHeader {
		display: flex;
		justify-content: flex-end;
		gap: 14px;
		position: relative;

		.btn-stats,
		.btn-options {
			width: 48px;
			height: 48px;
			background-color: #1b1b1b;
			border-radius: 100px;
		}
		.btn-createTask {
			display: flex;
			padding: 16px 24px;
			justify-content: center;
			align-items: center;
			border-radius: 100px;
			color: #e4e5e6;
			background-color: #6055ec;
			cursor: pointer;
		}
	}

	.listContainer {
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow-x: auto;
		.listItemRow {
			display: flex;
			padding: 12px 16px;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			align-self: stretch;
			width: fit-content;
			* {
				flex-shrink: 0;
			}

			.dropdownContainer {
				position: absolute;
				top: calc(100% + 10px);
				max-height: 291px;
				height: fit-content;
				padding: 4px;
				border-radius: 12px;
				border: 1px solid rgba(228, 229, 230, 0.05);
				background: #151515;
				z-index: 200;
				width: 270px;

				h3 {
					display: flex;
					padding: 12px 16px;
					align-items: center;
					align-self: stretch;
					color: rgba(228, 229, 230, 0.48);
					text-align: center;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				ul {
					list-style: none;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 2px;
					li,
					label {
						display: flex;
						padding: 12px 16px;
						justify-content: space-between;
						align-items: center;
						align-self: stretch;
						cursor: pointer;
						.optionDetails {
							display: flex;
							align-items: center;
							gap: 12px;
							.icon {
								display: flex;
								align-items: center;
							}
							.multiListDot {
								width: 8px;
								height: 8px;
								border-radius: 10px;
							}
							.labelText {
								color: #e4e5e6 !important;
								text-align: center;
								font-family: Inter;
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							}
						}
						.check {
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
	}
}

.avatar {
	height: 20px;
	width: 20px;
	background-color: rgb(82, 82, 84);
	overflow: hidden;
	border-radius: 100px;
}
// }
