.person-tooltip-container {
	border-radius: 10px;
	display: inline-flex;
	padding: 6px 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	color: var(--primary-font);
	font-family: var(--primary-font-family);
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 13px; /* 100% */
	letter-spacing: -0.26px;
	background-color: var(--stroke);
}

.person-multi-select-selected {
	font-size: 12px;
	font-weight: 500;
	color: var(--primary-font);
	cursor: pointer;
	text-align: start;

	.person-multi-select-selected-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 6px;
		&:has(.person-multi-select-selected-item-stacked) {
			// padding-left: 10px;
		}

		.person-multi-select-selected-item {
			display: flex;
			align-items: center;
			gap: 4px;

			.person-multi-select-selected-item-avatar {
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				background-color: var(--card);
				border: 1px solid var(--stroke);
				font-size: 11px;
				color: var(--secondary-font);
				text-transform: uppercase;
			}

			.person-multi-select-selected-item-name {
				display: flex;
				flex-direction: column;
				flex-direction: column;

				.person-multi-select-selected-item-name-text {
					font-size: 12px;
					font-weight: 500;
					color: var(--primary-font);
				}

				.person-multi-select-selected-item-email {
					font-size: 12px;
					font-weight: 500;
					color: var(--secondary-font);
				}
			}
		}

		.person-multi-select-selected-item-stacked {
			position: relative;
			margin-left: -10px;

			&:first-child {
				margin-left: 0;
			}

			.person-multi-select-selected-item-avatar {
				transition: transform 0.2s ease;

				// &:hover {
				// 	transform: translateY(-2px);
				// }
			}

			.person-multi-select-selected-item-name {
				display: none;
			}
		}
	}
}
// }
