.status-dropdown {
	.status-dropdown-container {
		display: flex;
		width: 220px;
		padding-bottom: 12px;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		border-radius: 8px;
		background-color: var(--popup);

		.status-dropdown-header-wrapper {
			display: flex;
			height: 39px;
			padding: 8px;
			align-items: center;
			gap: 2px;
			align-self: stretch;
			border-radius: 8px 8px 0px 0px;
			background: var(--popup);
		}

		.status-dropdown-body-wrapper {
			display: flex;
			padding: 0px 14px;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;

			.status-option-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 12px;
				align-self: stretch;
				padding-bottom: 12px;
				border-bottom: 1px solid var(--stroke);

				.option-heading {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.option-list {
					display: flex;
					align-items: flex-start;
					gap: 8px;
					flex-wrap: wrap;
				}
			}
		}

		.status-dropdown-footer-wrapper {
			display: flex;
			height: 31px;
			padding: 12px;
			justify-content: flex-start;
			align-items: center;
			align-self: stretch;
			gap: 8px;
			cursor: pointer;
			user-select: none;
			border-radius: 8px;

			.status-dropdown-footer-text {
				color: var(--primary-font);
				text-align: center;
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			&:hover {
				background-color: var(--popup);
			}
		}
	}
}

.select-listItem {
	display: flex;
	padding: 4px 6px;
	align-items: center;
	gap: 4px;
	border-radius: 35px;
	background: var(--stroke);
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 192px;
	.select-listItem-color {
		width: 6px;
		height: 6px;
		border-radius: 10px;
		background-color: var(--stroke);
	}

	.select-listItem-label {
		color: var(--primary-font);
		text-align: center;
		font-family: var(--primary-font-family);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
