.task-container {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;

	.task-header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.header-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: fit-content;

			font-family: Inter;
			font-size: 40px;
			font-style: normal;
			font-weight: 500;
			line-height: 43px;

			.lineOne {
				color: #f2f2f3;
				color: color(display-p3 0.949 0.949 0.9529);
			}
			.lineTwo {
				color: color(display-p3 0.4865 0.4865 0.5135);
			}
		}
	}

	.task-content-area {
		flex-grow: 1;
		overflow: auto;
	}
}

.task-delete-icon {
	width: 16px;
	height: 17px;
	path {
		stroke: #f2f2f3 !important;
	}
}
