.task-container {
	width: 100%;
	display: flex;
	flex-direction: column;

	.task-content-area {
		flex-grow: 1;
		overflow: auto;
	}

	.ant-select-selector {
		padding: 0px !important;
	}

	.task-header-container {
		display: flex;
		gap: 16px;
	}
}

.task-delete-icon {
	width: 16px;
	height: 17px;
	path {
		stroke: var(--primary-font) !important;
	}
}
