.taskWidgetContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
	width: 100%;
	height: auto;

	.taskWidgetHeader {
		display: flex;
		flex-direction: column;
		gap: 2px;
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		width: 100%;

		&.taskWidgetHeaderTitle {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			padding: 0;
			padding-left: 40px;
			border: none;
			border-radius: 0;
		}

		&.filter-container {
			border: none;
			padding: 0;
			border-radius: 0;
			display: flex;
			height: 40px;
			align-items: center;
			gap: 6px;
			display: flex;
			align-self: stretch;
			justify-content: space-between;
			flex-direction: row;
			background-color: transparent;

			.task-widget-search-container {
				display: flex;
				height: 40px;
				padding: 12px 10px;
				align-items: center;
				gap: 10px;
				flex: 1 0 0;
				border-radius: 8px;
				border: 1px solid var(--stroke);

				.task-widget-search-input {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					border: none;
					outline: none;
					background-color: transparent;
					display: inline;
					flex-grow: 1;

					&::placeholder {
						color: var(--secondary-font, #7a7e85);
					}
				}
			}

			.filter-icon-btn {
				display: flex;
				width: 40px;
				height: 40px;
				padding: 12px 10px;
				justify-content: space-between;
				align-items: center;
				border-radius: 8px;
				border: 1px solid var(--stroke, #2c2d2e);
				cursor: pointer;
				background-color: transparent;
			}
		}
	}

	.widgets {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 8px;
		align-self: stretch;
		height: fit-content;
		overflow: hidden;
		transition: height 0.5s ease-in-out;

		.taskWidgetHeaderContainer {
			display: flex;
			width: 100%;
			padding: 14px 16px;
			justify-content: space-between;
			align-items: center;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			cursor: pointer;

			.taskHeader {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2px;
			}

			&:hover {
				background: var(--popup);
			}

			&.active {
				background: var(--popup);
				border: 1px solid var(--primary-font);
			}
		}

		.taskWidgetcontent {
			display: flex;
			width: calc(50% - 4px);
			padding: 14px 16px;
			justify-content: space-between;
			align-items: center;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			cursor: pointer;
			&:hover {
				background: var(--popup);
			}

			&.active {
				background: var(--popup);
				border: 1px solid var(--primary-font);
			}

			.taskWidgetoption {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 2px;
			}

			.taskWidgeticon {
				width: 20px;
				height: 20px;
				flex-shrink: 0;
				aspect-ratio: 1/1;
			}
		}
	}

	.filter-sort-wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		.sort-filter-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
			align-self: stretch;
			width: 100%;

			.sort-filter-header {
				display: flex;
				align-items: center;
				gap: 4px;
				width: 100%;

				.sort-filter-title {
					color: var(--primary-font, #f2f2f3);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
				.sort-filter-button {
					display: flex;
					padding: 4px;
					align-items: center;
					gap: 10px;
					background-color: transparent;
					border: none;
					cursor: pointer;
				}

				.filter-clear-btn {
					display: flex;
					padding: 6px 10px;
					justify-content: center;
					align-items: center;
					border-radius: 6px;
					border: 1px solid rgba(192, 55, 68, 0.5);
					overflow: hidden;
					color: var(--error, #c03744);
					text-overflow: ellipsis;
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					background-color: transparent;
					margin-left: auto;
					cursor: pointer;
				}
			}

			.sort-filter-values-container {
				display: flex;
				align-items: flex-start;
				align-content: flex-start;
				gap: 10px;
				align-self: stretch;
				flex-wrap: wrap;
				align-items: center;
				.sort-btn {
					display: flex;
					height: 32px;
					padding: 4px 8px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 8px;
					border: 1px solid var(--stroke-hover, #424548);
					background-color: transparent;
					cursor: pointer;

					.sort-btn-text {
						color: var(--primary-font, #7a7e85);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
					.sort-btn-icon {
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

				.no-sort-text {
					color: var(--secondary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					width: 100%;
					text-align: center;
				}

				.sort-filter-value-item {
					display: flex;
					align-items: center;
					height: 100%;
					display: flex;
					height: 32px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 8px;
					border: 1px solid var(--stroke-hover, #424548);
					background-color: transparent;
					padding: 0 8px;

					.filter-title {
						color: var(--secondary-font, #7a7e85);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						user-select: none;
					}
					.widget-filter-title {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						user-select: none;
					}
					.filter-type {
						color: var(--secondary-font, #7a7e85);
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						height: 100%;
						display: flex;
						align-items: center;
						user-select: none;
					}
					.filter-wrapper {
						padding: 4px 8px !important;
						height: 100%;
						border: none;
						display: flex;
						align-items: center;
					}

					.filter-remove-btn {
						background-color: transparent;
						border: none;
						cursor: pointer;
						padding: 0;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}

.taskWidgetHeaderNumber {
	color: var(--primary-font);
	font-family: var(--primary-font-family);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.taskWidgetHeaderText {
	color: var(--secondary-font);
	font-family: var(--primary-font-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.taskWidgetnumber {
	color: var(--primary-font);
	font-family: var(--primary-font-family);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.taskWidgettext {
	color: var(--secondary-font);
	font-family: var(--primary-font-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.chevron-icon {
	width: 100%;
	height: 100%;
	transform: rotate(90deg);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.chevron-icon-rotate {
	transform: rotate(-90deg);
}
