.askAiParentContainer {
	display: flex;
	padding: 16px 24px;
	flex-direction: column;
	align-items: flex-end;
	gap: 8px;
	align-self: stretch;
	border-radius: 24px;
	border: 1px solid #272727;
	background: #1d1d1d;

	.aiHeadWrapper {
		display: flex;
		padding: 4px 0px;
		align-items: center;
		gap: 12px;
		align-self: stretch;
		height: 27px;

		.aiIcon {
			display: flex;
			width: 16px;
			height: 16px;
			padding: 1px;
			justify-content: center;
			align-items: center;
		}

		.aiLabel {
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			background: linear-gradient(270deg, #f9f5e0 0%, #f5895c 46.5%, #b34ecc 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.aiBodyWrapper {
		display: flex;
		padding: 4px 0px;

		color: #e4e5e6;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.aiActionBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background: linear-gradient(270deg, #f9f5e0 0%, #f5895c 46.5%, #b34ecc 100%);
		padding: 1px;
		border-radius: 100px;
		box-shadow: 0px 0px 5px 0px #b44fcb;
		cursor: pointer;

		span {
			background: #222;
			padding: 12px;
			border-radius: 100px;
			width: 100px;
			display: flex;
			justify-content: center;
			align-items: center;

			color: #e4e5e6;
			text-align: center;
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}
