.categoriesParentContainer {
	display: flex;
	width: 100%;
	padding: 16px 16px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	flex-shrink: 0;
	align-self: stretch;
	border-radius: 14px;
	border: 1px solid var(--stroke);
	background: var(--popup);
	user-select: none;
	transition: all 0.3s ease;
	border-radius: 12px;

	.categoriesHeadWrapper {
		display: flex;
		padding: 4px 0px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;

		.headerContainer {
			display: flex;
			align-items: center;
			gap: 12px;

			.headLabel {
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.headerButtonsContainer {
			display: flex;
			align-items: center;
			gap: 12px;

			.addCategoryButton {
				display: flex;
				padding: 6px;
				align-items: center;
				gap: 8.544px;
				cursor: pointer;
				opacity: 0.7;
				transition: opacity 0.3s;

				&:hover {
					opacity: 1;
				}
			}

			.expandIcon {
				display: flex;
				padding: 6px;
				align-items: center;
				gap: 8.544px;
				cursor: pointer;
				opacity: 0.7;
				transition: all 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.categoriesContainer {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		overflow-y: auto;
		padding-right: 4px;
		max-height: 300px;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: var(--card-over-card);
			border-radius: 2px;
		}

		&::-webkit-scrollbar-thumb {
			background: var(--primary-font);
			border-radius: 2px;
		}

		.categoryTypeContainer {
			display: flex;
			padding: var(--Spacing-space-3, 4px) var(--cartCount, 0px);
			justify-content: space-between;
			align-items: center;
			align-self: stretch;
			min-height: 40px;

			.typeWrapper {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;

				.statusIndicator {
					width: 16px;
					height: 16px;
					border-radius: 2px;
					flex-shrink: 0;
				}

				.typeLabel {
					flex: 1;
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					display: flex;
					align-items: center;
					gap: 0;
				}

				.editButton {
					padding: 0;
					margin: 0;
					background-color: transparent;
					border: none;
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: 0;
					cursor: pointer;
					transition: opacity 0.2s ease;
					margin-left: 10px;
					width: 18px;
					height: 18px;
				}

				.checkBox {
					margin-left: auto;
					appearance: none;
					display: flex;
					padding: var(--Spacing-space-3, 4px);
					justify-content: center;
					align-items: center;
					position: relative;
					cursor: pointer;
					gap: 10px;
					border-radius: 4px;
					border: 1px solid var(--primary-font);
					width: 18px;
					height: 18px;

					&:checked {
						background-color: var(--card-over-card);
						border: none;

						&::before {
							content: '✔';
							color: var(--primary-font);
							font-size: 14px;
							position: absolute;
							top: 0;
							left: 2px;
						}
					}

					&:hover {
						background: var(--card-over-card-hover);
					}
				}
			}

			&:hover {
				.typeWrapper {
					.editButton:not([data-category='all']) {
						opacity: 1;
					}
				}
			}
		}
	}

	&.expanded {
		.expandIcon {
			transform: rotate(180deg);
		}
	}
}
