.scheduler {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: 100%;

	color: var(--primary-font);
	font-family: var(--primary-font-family);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	.rbc-day-bg + .rbc-day-bg {
		border-left: none;
	}

	.rbc-event-label {
		margin-bottom: 5px;
	}

	.rbc-time-view,
	.rbc-month-view {
		border: none;
		padding: 24px;
		padding-top: 18px;
	}

	.rbc-time-header-cell {
		display: none;
	}

	.rbc-time-view .rbc-allday-cell {
		max-height: 60px;
		overflow-y: auto;

		.rbc-row-bg {
			gap: 3px;
		}
	}

	.rbc-allday-cell .rbc-row-content .rbc-button-link {
		background: none;
		color: var(--primary-font);
	}

	.rbc-time-header.rbc-overflowing {
		border: none;
		gap: 3px;
	}

	.rbc-time-header-content {
		border: none;
	}

	.rbc-time-content {
		border: none;
		gap: 3px;
	}

	.rbc-timeslot-group {
		border: none;
		border-radius: 3px;
		background-color: var(--card);
	}

	.rbc-time-gutter {
		.rbc-timeslot-group {
			background: transparent;
		}
		.rbc-time-slot {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}

	.rbc-day-slot .rbc-time-slot {
		border-top: none;
	}

	.rbc-time-content > * + * > * {
		border: none;
	}

	.rbc-time-content > .rbc-day-slot {
		gap: 3px;
	}

	.rbc-day-slot .rbc-events-container {
		margin: 2px;
	}

	.rbc-label .rbc-time-header-gutter {
		width: 64px;
		font-size: 10px;
	}

	.rbc-today {
		background-color: var(--card);
	}

	.rbc-time-view .rbc-time-gutter {
		text-align: center;
		font-size: 10px;
		gap: 3px;
	}

	.rbc-label {
		padding: 5px;
	}

	.rbc-timeslot-group {
		min-height: 60px;
	}

	.rbc-month-view {
		gap: 5px;
		.rbc-month-header {
			border: none;
			display: none;
		}
		.rbc-month-row {
			border: none;
			.rbc-row-bg {
				gap: 5px;

				.rbc-day-bg {
					padding: 16px;
					border-radius: 4px;
					background: var(--card-over-card);
					cursor: pointer;
					&:hover {
						background: var(--card-over-card);
						box-shadow: -4px -4px 6px 0px rgba(228, 229, 230, 0.07) inset,
							4px 4px 6px 0px rgba(13, 14, 16, 0.54) inset;
					}
				}
				// .rbc-today {
				// 	background: rgba(176, 176, 176, 0.15);
				// 	box-shadow: -4px -4px 6px 0px rgba(228, 229, 230, 0.07) inset,
				// 		4px 4px 6px 0px rgba(17, 17, 17, 0.51) inset;
				// }

				.rbc-off-range-bg {
					background: var(--card);
				}
			}
			.rbc-row-content {
				// pointer-events: none;
				z-index: 0;
				.rbc-row {
					// padding: 2px;
					.rbc-date-cell {
						.rbc-button-link {
							justify-content: flex-start;
							text-align: start;
							display: flex;
							padding: 8px 10px;
							padding-bottom: 4px;
							color: var(--secondary-font);
							text-align: center;
							font-family: var(--primary-font-family);
							font-size: 13px;
							font-style: normal;
							font-weight: 600;
						}
					}

					.rbc-off-range {
						.rbc-button-link {
							color: rgba(var(--primary-font), 0.48);
							width: 100% !important;
						}
					}

					.rbc-row-segment {
						padding: 2px 5px;
						.rbc-event {
							// background-color: none;
							// background: none; //to show months event bg

							.monthEventWrapper {
								display: flex;
								gap: 3px;
								height: fit-content;
								justify-content: flex-start;
								text-overflow: ellipsis;

								.leftColorBar {
									display: inline-block;
									width: 2.5px;
									height: auto;
									border-radius: 10px;
									flex-shrink: 0;
								}
								.textContainer {
									text-overflow: ellipsis;
									width: calc(100% - 5px);
									flex-shrink: 0;
									overflow: hidden;
								}
							}
						}
						.rbc-show-more {
							color: var(--primary-font);
							// pointer-events: auto;
							background: none;
							&:hover {
								color: rgba(var(--primary-font), 0.48);
							}
						}
					}

					.rbc-current {
						.rbc-button-link {
							border-radius: 4px;
							background: var(--primary-font);
							display: flex;
							padding: 4px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							color: var(--secondary-font);
							margin: 10px 5px 5px 8px;
						}
					}

					.rbc-current {
						.rbc-button-link {
							border-radius: 4px;
							background: var(--primary-font);
							display: flex;
							padding: 4px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							color: var(--secondary-font);
							margin: 10px 5px 5px 8px;
						}
					}
				}
			}
		}

		.customEventWrapper {
			.rbc-event {
				border: none;
				border: none;
				padding: 3px;
				min-width: 100%;
				background: none;
				// background: var(--card);
			}
		}
	}

	.rbc-time-view {
		.rbc-row {
			min-height: 2px;
		}
	}
}

body > .rbc-overlay {
	background-color: var(--card);
	background: var(--card);
	border: none;
	border-radius: 18px;
	border: 1px solid var(--stroke);
	background: var(--card);
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: start;
	.rbc-overlay-header {
		color: var(--primary-font);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		padding: 5px 0;
		border-bottom: 1px solid var(--stroke);
		text-align: center;
		width: 100%;
		align-self: center;
	}
	.customEventWrapper {
		width: 100%;
		.rbc-event {
			background-color: none;
			background: none;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			padding: 0;
			padding: 5px 0;
			border-bottom: 1px solid var(--stroke);
			width: 100%;
			border-radius: 0;
		}
	}
}

.customGutterHeader {
	width: 100%;
	color: var(--secondary-font);
	font-family: var(--primary-font-family);
	font-size: 7px;
	font-style: normal;
	line-height: normal;
	height: 100%;
	display: flex;
	align-items: center;
}
