.category-selector {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;

	.category-label {
		width: fit-content;
		padding: 4px 6px;
		border-radius: 4px;
		font-weight: 600;
	}

	.ant-select {
		width: 100%;
		border-radius: 4px;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);
		border: none;
		&:hover {
			cursor: pointer;
			// background: #1e1e1e;
			background: var(--card-over-card-hover);
		}
		.ant-select-selector {
			padding: 2px;
		}

		.ant-select-selection-search-input,
		.ant-select-selection-placeholder,
		.ant-select-selection-item {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			padding: 0px 5px;
		}

		.ant-select-selection-placeholder {
			color: var(--primary-font);
		}
	}

	.ant-select-arrow {
		color: var(--primary-font);
		display: none;
	}

	.ant-select-dropdown {
		border-radius: 8px;
		background: var(--card-over-card-hover);
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);
		border: none;

		.ant-select-item {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: capitalize;
		}

		.ant-select-item-option-selected {
			background: rgba(var(--primary-font), 0.15);
			box-shadow: -4px -4px 6px 0px rgba(var(--primary-font), 0.07) inset,
				4px 4px 6px 0px rgba(17, 17, 17, 0.51) inset;
		}

		.ant-select-item-option-content {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 8px;

			&::before {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: var(--option-color, transparent);
			}
		}
	}
}

.ant-select-dropdown {
	border-radius: 5px;
	background: var(--card-over-card-hover);
	box-shadow: 0px 2px 44px 0px rgba(0, 0, 0, 0.25);
	.ant-select-item {
		padding: 2px 5px;
	}
	.category-label {
		width: fit-content;
		padding: 4px 6px;
		border-radius: 4px;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: var(--primary-font);
	}
}
