.scheduler {
	display: flex;
	flex-direction: column;
	padding: 20px;
	overflow-y: auto;
	width: 100%;
	height: 100%;

	color: #e4e5e6;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	.rbc-day-bg + .rbc-day-bg {
		border-left: none;
	}

	.rbc-time-view {
		border: none;
	}

	.rbc-time-view .rbc-row {
		display: none;
	}

	.rbc-time-view .rbc-allday-cell {
		height: 30px;
	}

	.rbc-time-header.rbc-overflowing {
		border: none;
	}

	.rbc-time-header-content {
		border: none;
	}

	.rbc-time-content {
		border: none;
	}

	.rbc-timeslot-group {
		border: none;
	}

	.rbc-day-slot .rbc-time-slot {
		border-top: none;
	}

	.rbc-time-content > * + * > * {
		border: none;
	}

	.rbc-day-slot .rbc-events-container {
		margin: 2px;
	}

	.rbc-timeslot-group {
		// border-top: 0.5px solid rgb(81, 78, 78);
		border-top: 0.5px solid rgba(81, 78, 78, 0.3);
	}

	.rbc-label .rbc-time-header-gutter {
		width: 64px;
	}

	.rbc-today {
		background-color: #222222;
	}

	.rbc-time-view .rbc-time-gutter {
		text-align: start;
	}

	.rbc-label {
		padding: 0px;
	}

	.rbc-timeslot-group {
		min-height: 60px;
	}

	.rbc-day-slot .rbc-event {
		border: 1px solid #343333;
		background-color: #2a2a2a;
		display: flex;
		padding: 10px;
		max-height: 100%;
		min-height: 20px;
		flex-flow: column wrap;
		align-items: flex-start;
		overflow: hidden;
		position: absolute;
	}

	.rbc-day-slot.rbc-selected {
		border: none;
	}
}
