.formLeadsParentContainer {
	color: var(--primary-font); // TODO: remove this

	width: 100%;
	height: calc(100vh - 110px);
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-right: 9px;
	padding-bottom: 5px;
	overflow-y: scroll;

	.headerContainer {
		display: flex;
		align-items: center;

		.backBtn {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
		}
	}

	.formEnquiryContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;

		.headerContainer {
			display: flex;
			align-items: center;
			gap: 8px;
			align-self: stretch;

			.headerTitle {
				display: flex;
				align-items: center;
				gap: 14px;
				border-radius: 100px;
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}

		.formSummaryContainer {
			border-radius: 26px;
			display: flex;
			align-items: flex-start;
			gap: 16px;
			align-self: stretch;

			.imgContainer {
				width: 150px;
				height: 185px;
				border-radius: 12px;
			}

			.detailsContainer {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				flex: 1 0 0;
				align-self: stretch;

				.formMetricsContainer {
					display: flex;
					align-items: flex-start;
					gap: 12px;
					align-self: stretch;

					.metricsCard {
						border-radius: 16px;
						background: var(--card);
						display: flex;
						width: 166px;
						padding: 16px;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 4px;

						.value {
							color: var(--primary-font);
							font-family: var(--primary-font-family);
							font-size: 20px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						.title {
							color: var(--secondary-font);
							font-family: var(--primary-font-family);
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

				.formCTAContainer {
					display: flex;
					align-items: center;
					gap: 12px;
					align-self: stretch;

					.divider {
						width: 1px;
						height: 15px;
						background: var(--stroke);
					}

					.ctaBtn {
						display: flex;
						height: 34px;
						padding: 8px 16px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						color: var(--secondary-font);
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;

						svg {
							width: 16px;
							height: 16px;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	.formDetailsContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		padding-top: 24px;
		align-self: stretch;

		.headerContainer {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.formViewTabsContainer {
				display: inline-flex;
				align-items: center;
				gap: 5px;
				align-self: stretch;

				.tabContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 2px;

					.formViewTab {
						cursor: pointer;
						display: flex;
						padding: 12px 16px;
						flex-direction: column;
						align-items: flex-start;
						gap: 10px;
						opacity: 0.7;
						transition: opacity 0.3s ease;

						&:hover {
							opacity: 0.8;
						}
					}

					.active {
						opacity: 1;
					}

					.divider {
						width: 25px;
						height: 1px;
						background: var(--secondary-font);
						opacity: 0;
						transition: opacity 0.3s ease;

						&.active {
							opacity: 1;
						}
					}
				}
			}

			.filterActionsContainer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 16px;

				svg {
					cursor: pointer;
				}

				.searchContainer {
					position: relative;
					// background-color: red;
					min-width: 16px;
					display: inline-block;
					height: 16px;
					transition: all 0.3s ease;

					.searchBtn {
						display: flex;
						width: 16px;
						transform: rotate(-0.037deg);
						padding: 0px;
						align-items: center;
						gap: 10px;
						flex-shrink: 0;
						border-radius: 100px;
						background: transparent;
						cursor: pointer;
						transition: all 0.3s ease;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);

						.inputAndCloseContainer {
							display: none;
							transition: all 0.3s ease;
							overflow: hidden;
							.searchInputTag {
								flex: 1;
								background-color: transparent;
								color: var(--primary-font);
								transition: all 0.3s ease;
								border: none;
								font-family: var(--primary-font-family);
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								&::placeholder {
									color: var(--secondary-font);
									font-family: var(--primary-font-family);
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}

					.searchExpand {
						display: flex;
						width: 140px;
						opacity: 1;
						z-index: 99;

						.inputAndCloseContainer {
							width: 120px;
							display: flex;
							align-items: center;
							input {
								width: 100px;
							}
						}
					}
				}
			}
		}
	}
}
