.formLeadsParentContainer {
	color: white; // TODO: remove this

	width: 100%;
	height: calc(100vh - 110px);
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-right: 9px;
	padding-bottom: 5px;
	overflow-y: scroll;

	.headerContainer {
		display: flex;
		align-items: center;

		.backBtn {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
		}
	}

	.formEnquiryContainer {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-self: stretch;

		.headerContainer {
			display: flex;
			align-items: center;
			gap: 8px;
			align-self: stretch;
		}

		.formSummaryContainer {
			border-radius: 26px;
			box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);
			box-shadow: 0px 4px 30px 0px color(display-p3 0 0 0 / 0.03);
			display: flex;
			align-items: flex-start;
			gap: 16px;
			align-self: stretch;

			.imgContainer {
				width: 200px;
				height: 150px;
				border-radius: 12px;
				position: relative;
				.editDesignContainer {
					display: none;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

					button {
						background: none;
						border: 1px solid var(--primary-font);
						cursor: pointer;
						display: inline-flex;
						flex-direction: row;
						align-items: center;
						padding: 0;
						margin: 0;
						width: 110px;
						font: inherit;
						color: inherit;
						font-size: 12px;
						font-weight: 500;
						line-height: 1.2;
						letter-spacing: 0.05em;
						color: var(--primary-font);
						padding: 4px 8px;
						border-radius: 4px;
						justify-content: space-between;
						span {
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
						}
					}
				}
				&:hover {
					iframe {
						opacity: 0.5;
					}
					.editDesignContainer {
						display: block;
					}
				}
			}

			.detailsContainer {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				gap: 16px;
				flex: 1 0 0;
				align-self: stretch;
				.headerContainer {
					display: flex;
					align-items: center;
					gap: 10px;
					border-radius: 100px;
					color: var(--primary-font);
					font-family: Inter;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					.headerLeftContainer {
						display: flex;
						align-items: center;
						gap: 14px;
						border-radius: 100px;
						color: var(--primary-font);
						.liveBadge {
							display: flex;
							align-items: center;
							gap: 4px;
							font-size: 12px;
							border-radius: 100px;
							color: var(--primary-font);
							padding: 4px 8px;
							&.complete {
								background-color: #375841;
								color: var(--primary-font);
							}

							&.incomplete {
								background-color: #373737;
								color: var(--primary-font);
							}
						}
					}
				}

				.headerTitle {
					display: flex;
					align-items: center;
					gap: 14px;
					border-radius: 100px;
					color: var(--primary-font);
					font-family: Inter;
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.switchContainer {
					display: flex;
					align-items: center;
					gap: 14px;
				}
				.formMetricsContainer {
					display: flex;
					align-items: flex-start;
					gap: 12px;
					align-self: stretch;

					.metricsCard {
						border-radius: 16px;
						background: #171819;
						background: color(display-p3 0.0902 0.0941 0.098);
						display: flex;
						width: 166px;
						padding: 16px;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 4px;

						.value {
							color: var(--primary-font);
							color: color(display-p3 0.949 0.949 0.9529);
							font-family: Inter;
							font-size: 20px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						.title {
							color: #7c7c84;
							color: color(display-p3 0.4865 0.4865 0.5135);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

				.formCTAContainer {
					display: flex;
					align-items: center;
					gap: 12px;
					align-self: stretch;

					.divider {
						width: 1px;
						height: 15px;
						background: #313336;
						background: color(display-p3 0.1922 0.2 0.2118);
					}

					.ctaBtn {
						border-radius: 100px;
						box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset;
						box-shadow: 1px 1px 4px 0px color(display-p3 0 0 0 / 0.25) inset;
						display: flex;
						height: 34px;
						padding: 8px 16px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						color: #797e86;
						color: color(display-p3 0.4784 0.4941 0.5216);
						font-family: Inter;
						font-size: 13px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;

						svg {
							width: 16px;
							height: 16px;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	.formDetailsContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		padding-top: 24px;
		align-self: stretch;

		.headerContainer {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			.formViewTabsContainer {
				display: inline-flex;
				align-items: center;
				gap: 5px;
				align-self: stretch;

				.tabContainer {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 2px;

					.formViewTab {
						cursor: pointer;
						display: flex;
						padding: 12px 16px;
						flex-direction: column;
						align-items: flex-start;
						gap: 10px;
						opacity: 0.7;
						transition: opacity 0.3s ease;

						&:hover {
							opacity: 0.8;
						}
					}

					.active {
						opacity: 1;
					}

					.divider {
						width: 25px;
						height: 1px;
						background: var(--primary-font);
						opacity: 0;
						transition: opacity 0.3s ease;

						&.active {
							opacity: 1;
						}
					}
				}
			}

			.filterActionsContainer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 16px;

				svg {
					cursor: pointer;
				}

				.searchContainer {
					position: relative;
					// background-color: red;
					min-width: 16px;
					display: inline-block;
					height: 16px;
					transition: all 0.3s ease;

					.searchBtn {
						display: flex;
						width: 16px;
						transform: rotate(-0.037deg);
						padding: 0px;
						align-items: center;
						gap: 10px;
						flex-shrink: 0;
						border-radius: 100px;
						background: transparent;
						cursor: pointer;
						transition: all 0.3s ease;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);

						.inputAndCloseContainer {
							display: none;
							transition: all 0.3s ease;
							overflow: hidden;
							.searchInputTag {
								flex: 1;
								background-color: transparent;
								color: #e4e5e6;
								transition: all 0.3s ease;
								border: none;
								font-family: Inter;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;

								&::placeholder {
									color: #939393;
									font-family: Inter;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}

					.searchExpand {
						display: flex;
						width: 140px;
						opacity: 1;
						z-index: 99;

						.inputAndCloseContainer {
							width: 120px;
							display: flex;
							align-items: center;
							input {
								width: 100px;
							}
						}
					}
				}
			}
		}
	}
}
