.agentHeaderWrapper {
	display: flex;
	padding: 16px 36px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--stroke, #2b2e31);
	background: var(--background-color, #111113);
	.leftSection {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		.backIcon {
			width: 14px;
			height: 11px;
			flex-shrink: 0;
			aspect-ratio: 14/11;
			fill: var(--secondary-font, #7a7e85);
			cursor: pointer;
		}
		.backText {
			overflow: hidden;
			color: var(--primary-font, #f2f2f3);
			text-overflow: ellipsis;
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	.rightSection {
		display: flex;
		align-items: center;
		gap: 8px;

		.iconBtn {
			display: flex;
			width: 32px;
			height: 32px;
			padding: 2px;
			justify-content: center;
			align-items: center;
			gap: 6px;
			border-radius: 8px;
			border: 1px solid var(--stroke, #2b2e31);
			cursor: pointer;
		}

		.shareBtn {
			display: flex;
			height: 32px;
			padding: 8px 12px;
			align-items: center;
			gap: 6px;
			border-radius: 8px;
			border: 1px solid var(--stroke, #2b2e31);
			color: var(--secondary-font, #7a7e85);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}

		.divider {
			width: 2px;
			height: 24px;
			margin: 0 8px;
			background: var(--stroke, #2b2e31);
		}

		.publishBtn {
			display: flex;
			height: 32px;
			padding: 8px 12px;
			align-items: center;
			gap: 6px;
			border-radius: 8px;
			border: 1px solid var(--stroke, #2b2e31);
			background: var(--card-over-card, #27282b);
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
	}
}
