.container {
	width: 100%;
	margin: 24px 0;
	display: flex;
	justify-content: center;

	.runAndBuildToggle {
		width: fit-content;
		display: flex;
		height: 45px;
		padding: 4px;
		align-items: center;
		gap: 4px;
		border-radius: 50px;
		background: var(--new-card, #1a1b1e);

		.toogleBtn {
			height: 100%;
			width: fit-content;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 6px;
			border-radius: 50px;
			background: inherit;
			padding: 10px 16px;
			cursor: pointer;
			border: 2px solid transparent;
			transition: all 0.2s ease;

			&.active {
				border: 2px solid var(--stroke-hover, #424548);
				background: var(--card-over-card, #27282b);
			}

			span {
				color: var(--secondary-font, #7a7e85);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				transition: all 0.2s ease;

				&.active {
					color: var(--primary-button, #79ecc9);
				}
			}
		}
	}
}
