.wedding-day-timeline-generator-options-container {
	display: flex;
	gap: 18px;
	font-size: 0.8rem;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	.wedding-day-timeline-generator-option {
		color: #797e86;
		cursor: pointer;
	}
	.active {
		color: #e8e8e8;
	}
}

.steps-tab-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	.steps-tab-item-content {
		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
		border-radius: 18px;
		padding: 0.8rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.8rem;
		align-items: center;

		.steps-tab-item-left-text {
			color: #797e86;
		}
		.steps-tab-item-right-text {
			color: #f2f2f3;
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
}

.insight-tab-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	.insight-tab-item-content {
		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
		border-radius: 18px;
		padding: 0.8rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.8rem;
		align-items: center;

		.insight-tab-item-left-text {
			color: #797e86;
		}
		.insight-tab-item-right-text {
			color: #f2f2f3;
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
}

.pending-actions-tab-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	.pending-actions-tab-item-content {
		background: var(--ve-ai-dark-theme-pop-up-color, color(display-p3 0.1249 0.1304 0.1358));
		border-radius: 18px;
		padding: 0.8rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.8rem;
		align-items: center;

		.pending-actions-tab-item-left-text {
			color: #797e86;
		}
		.pending-actions-tab-item-right-text {
			color: #f2f2f3;
		}
	}
}

.files-tab-files-container {
	.files-tab-file {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		.files-tab-file-info {
			font-size: 0.8rem;
			.file-info-title {
				color: #f2f2f3;
				line-height: 1.2rem;
			}
			.file-info-sub-text {
				color: #797e86;
			}
		}
	}
}
