.aiSetupContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 580px;
	padding: 32px;
	border-radius: 32px;
	border: 1px solid var(--stroke);
	background: var(--card);
	// box-shadow: 2px 2px 6px 0px rgba(115, 85, 236, 0.05),
	// 	4px 4px 10px 0px rgba(104, 93, 247, 0.02) inset;
	backdrop-filter: blur(8px);

	.no-ai-assistants-found {
		color: var(--secondary-font);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	.line {
		width: 516px;
		height: 1px;
		background: var(--stroke);
		margin: 16px 0;
	}

	.heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		h1 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			position: relative;

			svg {
				cursor: pointer;
			}

			.tooltipContainer {
				position: absolute;
				bottom: -123px;
				right: -368px;
				border-radius: 16px;
				border: 1px solid var(--stroke);
				background: var(--card);
				// box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09),
				// 	0px 13px 29px 0px rgba(0, 0, 0, 0.1);
				display: flex;
				width: 390px;
				padding: 32px;
				flex-direction: column;
				align-items: flex-start;
				gap: 40px;

				p {
					color: var(--secondary-font);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
					align-self: stretch;
				}
			}
		}

		h2 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 2px;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: -0.3px;
			cursor: pointer;
		}
	}

	.columnNames {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 26px;

		h1 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.rows {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 64px;
			padding: 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				border-radius: 4px;
				background: var(--card-hover);
			}

			.leftContent {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 8px;

				.iconContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					width: 36px;
					height: 36px;
					padding: 8px;
					border-radius: 100px;
					background: var(--card-hover);
				}

				h1 {
					color: var(--primary-font);
					text-overflow: ellipsis;
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px;
					letter-spacing: -0.28px;
				}

				h2 {
					color: var(--primary-font);
					text-overflow: ellipsis;
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
				}
			}

			.rightContent {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 8px;

				.iconContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					width: fit-content;
					height: 36px;
				}
				h1 {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
				}
			}
		}
	}
}

.CreateNewAiModalContainer {
	display: flex;
	width: 580px;
	height: 256px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 40px;
	background: var(--card);
	border: 1px solid var(--stroke);
	// box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.1);

	.titleAndCloseBtnContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
		width: 100%;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}

		h2 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.nameContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;

		h1 {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 11px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
		}

		input {
			width: 100%;
			display: flex;
			height: 48px;
			padding: 11px 14px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			background: var(--card-hover);
			color: var(--primary-font);

			&:focus {
				.ai-assistant-name-input {
					background: var(--card-hover);
				}

				border-radius: 10px;
				border: 1px solid var(--stroke);
				background: var(--card-hover);
			}
		}
	}

	.createBtn {
		width: 100%;
		display: flex;
		height: 48px;
		padding: 16px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		border-radius: 100px;
		border: 1px solid var(--stroke);
		background: var(--primary-button);
		cursor: pointer;
		color: var(--primary-button-font);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.26px;
	}
}

.addKnowledgeModalContainer {
	min-height: 583px;
	display: flex;
	width: 520px;
	padding: 32px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 32px;
	background: var(--popup);
	gap: 16px;

	.titleAndDescriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
		width: 100%;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}

		h2 {
			color: var(--secondary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
	.contentWrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		width: 100%;
		flex-grow: 1;
	}

	.knowledgeFileTypesContainer {
		display: flex;
		align-items: flex-start;
		gap: 16px;
		width: 100%;

		> * {
			&:hover {
				cursor: pointer;
			}
		}

		.knowledgeFileType {
			display: flex;
			height: 72px;
			padding: 12px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
			flex: 1 0 0;
			border-radius: 16px;
			border: 1px solid var(--stroke);
			cursor: pointer;

			svg {
				width: 20px;
				height: 20px;
			}

			span {
				color: var(--primary-font);
				text-align: center;
				font-family: var(--primary-font-family);
				font-size: 11px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
			}
		}

		.active {
			border-radius: 16px;
			border: 1px solid var(--stroke);
			background: var(--card);

			span {
				color: var(--primary-font);
			}
		}
	}

	.knowledgeFileListContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		width: 100%;

		.urlListContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			width: 100%;
			// height: 256px;
			max-height: 256px;
			overflow-y: auto;

			.urlItem {
				display: flex;
				align-items: center;
				gap: 16px;
				width: 100%;
				position: relative;

				.linkIconContainer {
					display: flex;
					width: 36px;
					height: 36px;
					padding: 10.286px 0.857px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8.571px;
					border-radius: 3.429px;
					background: var(--card-hover);
					cursor: pointer;
				}

				.url {
					max-width: 75%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
				}

				.removeIconContainer {
					position: absolute;
					right: 14px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}

		.pdfListContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			width: 100%;
			height: 200px;
			overflow-y: auto;

			.urlItem {
				display: flex;
				align-items: center;
				gap: 16px;
				width: 100%;
				position: relative;

				.linkIconContainer {
					display: flex;
					width: 36px;
					height: 36px;
					padding: 10.286px 0.857px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8.571px;
					border-radius: 3.429px;
					background: var(--card-hover);
					cursor: pointer;
				}

				.url {
					max-width: 75%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
				}

				.removeIconContainer {
					position: absolute;
					right: 14px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
	}

	.crawlLinksContainer {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		width: 100%;
		overflow-y: auto;
		max-height: 256px;

		border: 1px dashed var(--stroke);
		border-radius: 16px;
		padding: 16px;

		.subLinksHeader {
			display: flex;
			align-items: center;
			gap: 16px;
			width: 100%;
			justify-content: space-between;
			span {
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
			}

			.addAllSubLinksBtn {
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 8px;
				border-radius: 50px;
				border: 1px solid var(--stroke);
				padding: 4px 8px;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--primary-font);
					border: 1px solid var(--stroke);
				}
			}
		}

		.urlItem {
			display: flex;
			align-items: center;
			gap: 16px;
			width: 100%;
			position: relative;

			.linkIconContainer {
				display: flex;
				width: 36px;
				height: 36px;
				padding: 10.286px 0.857px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 8.571px;
				border-radius: 3.429px;
				background: var(--card-hover);
				cursor: pointer;
			}

			.url {
				max-width: 75%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
			}

			.removeIconContainer {
				position: absolute;
				right: 14px;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}

			.addSubUrlBtn {
				cursor: pointer;
				display: flex;
				width: 10px;
				height: 46px;
				justify-content: center;
				align-items: center;
				border-radius: 50px;
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
				background: transparent;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--primary-font);
				}
			}
		}
	}

	.knowledgeFileInputContainer {
		// position: absolute;
		width: 100%;
		bottom: 106px;
		display: flex;
		align-items: flex-start;
		gap: 16px;

		.URLInputContainer {
			display: flex;
			align-items: flex-start;
			gap: 16px;
			width: 100%;

			input {
				border-radius: 10px;
				border: 1px solid var(--stroke);
				display: flex;
				padding: 8px 14px;
				align-items: center;
				gap: 10px;
				flex: 1 0 0;
				align-self: stretch;
				color: var(--primary-font);
				width: 335px;
				height: 46px;
				align-items: center;
				background: transparent;

				&:hover {
					border: 1px solid var(--stroke);
					background: var(--card-hover);
				}

				&:active {
					border: 1px solid var(--stroke);
					background: var(--card-hover);
				}
			}

			button {
				cursor: pointer;
				display: flex;
				width: 102px;
				height: 46px;
				padding: 12px 24px;
				justify-content: center;
				align-items: center;
				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 12px;
				cursor: pointer;
				border-radius: 8px;
				border: 1px solid var(--stroke);
				background: var(--card-hover);
			}
		}

		.PDFInputContainer {
			display: flex;
			width: 100%;

			label {
				width: 100%;
				height: 112px;
				border-radius: 24px;
				border: 1px dashed var(--stroke);
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: var(--primary-font);
				text-align: center;
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
				cursor: pointer;

				svg {
					width: 20px;
					height: 20px;
				}

				input {
					display: none;
				}
			}
		}
	}

	.customTextInputContainer {
		width: 100%;
		height: 330px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		.line {
			width: 100%;
			height: 1px;
			background: var(--stroke);
		}

		input {
			width: 100%;
			height: 48px;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			background: var(--card-hover);
			color: var(--primary-font);
			padding: 12px;
		}

		textarea {
			padding: 12px;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 1px solid var(--stroke);
			background: var(--card-hover);
			color: var(--primary-font);
			resize: none;
		}
	}

	.updateBtnContainer {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.cancelBtn {
			display: flex;
			width: 102px;
			height: 46px;
			padding: 12px 24px;
			justify-content: center;
			align-items: center;
			gap: 16px;
			border-radius: 50px;
			border: 1px solid var(--stroke);
			cursor: pointer;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */
			background: transparent;
			transition: all 0.3s ease-in-out;

			&:hover {
				border-radius: 50px;
				border: 1px solid var(--stroke);
			}
		}

		.updateBtn {
			display: flex;
			height: 46px;
			padding: 12px 22px;
			justify-content: center;
			align-items: center;
			gap: 6px;
			border-radius: 59px;
			background: var(--primary-button);
			cursor: pointer;
			border: none;
			border: 1px solid var(--stroke);
			color: var(--primary-button-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			transition: all 0.3s ease-in-out;

			.loader {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
			}

			&:enabled:hover {
				background-color: transparent;
				color: var(--primary-font);
				border: 1px solid var(--stroke);
			}
			&:disabled {
				background-color: var(--card-hover);
				border: 1px solid var(--card-hover);
				color: var(--secondary-font);
				cursor: not-allowed;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.assign-ai-assistant-modal-container {
	border-radius: 40px;
	background: var(--card);
	// box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.1);
	width: 480px;
	height: 480px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	overflow: hidden;

	.titleAndCloseBtnContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}
	}

	#workflowsDiv {
		width: 100%;
		height: 100%;

		.workflows-empty-state {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;

				.ai-assistant-name {
					color: var(--primary-font);
				}
			}
		}
	}

	.workflows-infinite-scroll {
		overflow: auto !important;

		.templates-container {
			justify-content: space-between;
			align-items: flex-start;
			gap: 16px;
			margin-bottom: 16px;

			.template-preview-and-details-container {
				display: flex;
				gap: 16px;
				width: 80%;
				overflow-x: auto;

				.template-preview {
					iframe {
						width: 150px;
						height: 200px;
					}
				}

				.template-details {
					width: 80%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;

					.template-name {
						overflow: hidden;
						color: var(--primary-font);
						text-overflow: ellipsis;
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 138.462% */
						letter-spacing: -0.26px;
					}

					ul {
						display: flex;
						gap: 8px;
						li {
							display: flex;
							align-items: center;
							gap: 4px;

							span {
								color: var(--primary-font);
								text-align: justify;
								font-family: var(--primary-font-family);
								font-size: 11px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-transform: capitalize;
							}
						}
					}

					.default-knowledge-container {
						display: flex;
						align-items: center;
						gap: 4px;
						color: var(--primary-font);
						font-family: var(--primary-font-family);
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 138.462% */

						.default-knowledge-link-container {
							display: flex;
							align-items: center;
							gap: 4px;
						}
					}
				}
			}

			.template-remove {
				color: var(--error);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				letter-spacing: -0.24px;
				cursor: pointer;
			}
		}
	}

	.assignBtn {
		position: absolute;
		bottom: 32px;
		width: calc(100% - 64px);
		border-radius: 100px;
		border: 1px solid var(--stroke);
		background: var(--card-hover);
		display: flex;
		padding: 16px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		color: var(--primary-font);
		font-family: var(--primary-font-family);
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.26px;

		.loader {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
		}
	}
}
