.aiSetupContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 580px;
	padding: 32px;
	border-radius: 32px;
	border: 1px solid rgba(151, 151, 151, 0.16);
	background: rgba(29, 29, 35, 0.24);
	box-shadow: 2px 2px 6px 0px rgba(115, 85, 236, 0.05),
		4px 4px 10px 0px rgba(104, 93, 247, 0.02) inset;
	backdrop-filter: blur(8px);

	.no-ai-assistants-found {
		color: rgba(228, 229, 230, 0.48);
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	.line {
		width: 516px;
		height: 1px;
		background: rgba(100, 100, 100, 0.16);
		margin: 16px 0;
	}

	.heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		h1 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			color: #e4e5e6;
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			position: relative;

			svg {
				cursor: pointer;
			}

			.tooltipContainer {
				position: absolute;
				bottom: -123px;
				right: -368px;
				border-radius: 16px;
				border: 1px solid rgba(100, 100, 100, 0.16);
				background: #151515;
				box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09),
					0px 13px 29px 0px rgba(0, 0, 0, 0.1);
				display: flex;
				width: 390px;
				padding: 32px;
				flex-direction: column;
				align-items: flex-start;
				gap: 40px;

				p {
					color: rgba(228, 229, 230, 0.48);
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
					align-self: stretch;
				}
			}
		}

		h2 {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 2px;
			color: #6055ec;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: -0.3px;
			cursor: pointer;
		}
	}

	.columnNames {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 26px;

		h1 {
			color: #e4e5e6;
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.rows {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 64px;
			padding: 8px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				border-radius: 4px;
				background: rgba(176, 176, 176, 0.1);
			}

			.leftContent {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 8px;

				.iconContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					width: 36px;
					height: 36px;
					padding: 8px;
					border-radius: 100px;
					background: rgba(46, 46, 46, 0.64);
				}

				h1 {
					color: #e4e5e6;
					text-overflow: ellipsis;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px;
					letter-spacing: -0.28px;
				}

				h2 {
					color: rgba(228, 229, 230, 0.48);
					text-overflow: ellipsis;
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
				}
			}

			.rightContent {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 8px;

				.iconContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					width: fit-content;
					height: 36px;
				}
				h1 {
					color: rgba(228, 229, 230, 0.48);
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
				}
			}
		}
	}
}

.CreateNewAiModalContainer {
	display: flex;
	width: 580px;
	height: 256px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 40px;
	background-color: #151515;
	opacity: 1;
	box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.1);

	.titleAndCloseBtnContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
		width: 100%;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #e4e5e6;
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}

		h2 {
			color: rgba(228, 229, 230, 0.48);
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.nameContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;

		h1 {
			color: #b0b0b0;
			font-family: Inter;
			font-size: 11px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
		}

		input {
			width: 100%;
			display: flex;
			height: 48px;
			padding: 11px 14px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			border-radius: 10px;
			border: 1px solid rgba(100, 100, 100, 0.16);
			background: rgba(32, 32, 33, 0.24);
			color: #e4e5e6;

			&:focus {
				.ai-assistant-name-input {
					background: rgba(28, 28, 32, 0.9);
				}

				border-radius: 10px;
				border: 1px solid rgba(96, 85, 236, 0.4);
				background: rgba(28, 28, 32, 0.9);
			}
		}
	}

	.createBtn {
		width: 100%;
		display: flex;
		height: 48px;
		padding: 16px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		border-radius: 100px;
		border: 1px solid rgba(36, 36, 36, 0.64);
		background: #1e1e1f;
		cursor: pointer;
		color: #e4e5e6;
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.26px;
	}
}

.addKnowledgeModalContainer {
	display: flex;
	width: 580px;
	height: 650px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 40px;
	background-color: #151515;
	opacity: 1;
	box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.1);

	.titleAndDescriptionContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
		width: 100%;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #e4e5e6;
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}

		h2 {
			color: rgba(228, 229, 230, 0.48);
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.knowledgeFileTypesContainer {
		display: flex;
		align-items: flex-start;
		gap: 16px;
		width: 100%;

		> * {
			&:hover {
				cursor: pointer;
			}
		}

		.knowledgeFileType {
			display: flex;
			width: 120px;
			height: 64px;
			padding: 8px 16px;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			border-radius: 8px;
			border: 1px solid rgba(100, 100, 100, 0.24);

			svg {
				width: 20px;
				height: 20px;
			}

			span {
				color: rgba(228, 229, 230, 0.48);
				text-align: center;
				font-family: Inter;
				font-size: 11px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
			}
		}

		.active {
			border-radius: 8px;
			border: 1px solid #6055ec;
			background: rgba(96, 85, 236, 0.04);

			span {
				color: #6055ec;
			}
		}
	}

	.knowledgeFileListContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		width: 100%;

		.urlListContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			width: 100%;
			height: 256px;
			overflow-y: auto;

			.urlItem {
				display: flex;
				align-items: center;
				gap: 16px;
				width: 100%;
				position: relative;

				.linkIconContainer {
					display: flex;
					width: 36px;
					height: 36px;
					padding: 10.286px 0.857px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8.571px;
					border-radius: 3.429px;
					background: #333;
					cursor: pointer;
				}

				.url {
					max-width: 75%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: #e4e5e6;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
				}

				.removeIconContainer {
					position: absolute;
					right: 14px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}

		.pdfListContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			width: 100%;
			height: 200px;
			overflow-y: auto;

			.urlItem {
				display: flex;
				align-items: center;
				gap: 16px;
				width: 100%;
				position: relative;

				.linkIconContainer {
					display: flex;
					width: 36px;
					height: 36px;
					padding: 10.286px 0.857px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 8.571px;
					border-radius: 3.429px;
					background: #333;
					cursor: pointer;
				}

				.url {
					max-width: 75%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					color: #e4e5e6;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
				}

				.removeIconContainer {
					position: absolute;
					right: 14px;
					top: 50%;
					transform: translateY(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
		}
	}

	.knowledgeFileInputContainer {
		position: absolute;
		width: calc(100% - 64px);
		bottom: 106px;
		display: flex;
		align-items: flex-start;
		gap: 16px;

		.URLInputContainer {
			display: flex;
			align-items: flex-start;
			gap: 16px;
			width: 100%;

			input {
				width: 70%;
				border-radius: 10px;
				border: 1px solid rgba(100, 100, 100, 0.16);
				background: rgba(32, 32, 33, 0.24);
				display: flex;
				padding: 8px 14px;
				align-items: center;
				gap: 10px;
				flex: 1 0 0;
				align-self: stretch;
				color: #e4e5e6;
			}

			button {
				width: 30%;
				padding: 12px;
				border-radius: 10px;
				border: 1px solid rgba(100, 100, 100, 0.16);
				background: rgba(32, 32, 33, 0.24);
				display: flex;
				justify-content: center;
				align-items: center;
				color: rgba(228, 229, 230, 0.48);
				font-family: Inter;
				font-size: 12px;
				cursor: pointer;
			}
		}

		.PDFInputContainer {
			display: flex;
			width: 100%;

			label {
				width: 100%;
				height: 112px;
				border-radius: 24px;
				border: 1px dashed #242424;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				color: rgba(228, 229, 230, 0.48);
				text-align: center;
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
				cursor: pointer;

				svg {
					width: 20px;
					height: 20px;
				}

				input {
					display: none;
				}
			}
		}
	}

	.customTextInputContainer {
		width: 100%;
		height: 330px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		.line {
			width: 100%;
			height: 1px;
			background: rgba(100, 100, 100, 0.16);
		}

		input {
			width: 100%;
			height: 48px;
			border-radius: 10px;
			border: 1px solid rgba(100, 100, 100, 0.16);
			background: rgba(32, 32, 33, 0.24);
			color: #e4e5e6;
			padding: 12px;
		}

		textarea {
			padding: 12px;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 1px solid rgba(100, 100, 100, 0.16);
			background: rgba(32, 32, 33, 0.24);
			color: #e4e5e6;
			resize: none;
		}
	}

	.updateBtn {
		position: absolute;
		bottom: 32px;
		width: calc(100% - 64px);
		border-radius: 100px;
		border: 1px solid rgba(36, 36, 36, 0.64);
		background: #1e1e1f;
		display: flex;
		padding: 16px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		color: #e4e5e6;
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.26px;

		.loader {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
		}
	}
}

.assign-ai-assistant-modal-container {
	border-radius: 40px;
	background: #151515;
	box-shadow: 0px 53px 53px 0px rgba(0, 0, 0, 0.09), 0px 13px 29px 0px rgba(0, 0, 0, 0.1);
	width: 480px;
	height: 480px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	overflow: hidden;

	.titleAndCloseBtnContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #e4e5e6;
			font-family: Inter;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;

			.closeBtn {
				cursor: pointer;
			}
		}
	}

	#workflowsDiv {
		width: 100%;
		height: 100%;

		.workflows-empty-state {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				color: rgba(228, 229, 230, 0.48);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;

				.ai-assistant-name {
					color: #e4e5e6;
				}
			}
		}
	}

	.workflows-infinite-scroll {
		overflow: auto !important;

		.templates-container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 16px;
			margin-bottom: 16px;

			.template-preview-and-details-container {
				display: flex;
				gap: 16px;
				width: 80%;
				overflow-x: auto;

				.template-preview {
					iframe {
						width: 150px;
						height: 200px;
					}
				}

				.template-details {
					width: 80%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;

					.template-name {
						overflow: hidden;
						color: #e4e5e6;
						text-overflow: ellipsis;
						font-family: Inter;
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 138.462% */
						letter-spacing: -0.26px;
					}

					ul {
						display: flex;
						gap: 8px;
						li {
							display: flex;
							align-items: center;
							gap: 4px;

							span {
								color: rgba(228, 229, 230, 0.7);
								text-align: justify;
								font-family: Inter;
								font-size: 11px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-transform: capitalize;
							}
						}
					}

					.default-knowledge-container {
						display: flex;
						align-items: center;
						gap: 4px;
						color: rgba(228, 229, 230, 0.48);
						font-family: Inter;
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 138.462% */

						.default-knowledge-link-container {
							display: flex;
							align-items: center;
							gap: 4px;
						}
					}
				}
			}

			.template-remove {
				color: #e46b64;
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
				letter-spacing: -0.24px;
				cursor: pointer;
			}
		}
	}

	.assignBtn {
		position: absolute;
		bottom: 32px;
		width: calc(100% - 64px);
		border-radius: 100px;
		border: 1px solid rgba(36, 36, 36, 0.64);
		background: #1e1e1f;
		display: flex;
		padding: 16px 24px;
		justify-content: center;
		align-items: center;
		gap: 16px;
		align-self: stretch;
		color: #e4e5e6;
		font-family: Inter;
		font-size: 13px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0.26px;

		.loader {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;
		}
	}
}
