.brandsetupContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	.socialLinkContainer {
		border-radius: 40px;
		background: none;

		.socialLinkTitle {
			align-self: stretch;

			color: var(--primary-font, #f2f2f3);
			font-family: Inter;
			font-size: 32px;
			font-style: normal;
			font-weight: 300;
			margin-bottom: 20px;
			line-height: normal;
		}

		.socialLinkTextContainer {
			margin-bottom: 32px;

			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
				margin: 0;
			}

			p {
				color: #646464;
				font-family: Inter;
				font-size: 13px;
				font-weight: 400;
				line-height: 21px;
				margin-top: 8px;
			}
		}

		.logosWrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 24px;
			width: 100%;

			.logoContainer {
				display: flex;
				height: 103px;
				padding: 18px 18px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				background: var(--card, #171819);
				border-radius: 12px;
				border: 1px solid var(--stroke, #313336);
				img {
					width: 32px;
					height: 32px;
					opacity: 0.5;
				}

				&:hover {
					border-color: rgba(85, 85, 85, 0.6);
				}

				&.active {
					border-radius: 12px;
					background: var(--card, #171819);

					img {
						opacity: 1;
					}
				}
			}
		}
	}

	.clientPortalContainer {
		max-height: 652px;
		height: 652px;

		.mainContainer {
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-self: stretch;
		}

		.lineDiv {
			width: 100%;
			min-width: 100%;
			height: 1px;
			background: rgba(100, 100, 100, 0.16);
		}

		.title {
			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
				margin: 0px;
			}
		}

		.containerBody {
			display: flex;
			width: 510px;
			max-height: 452px;
			justify-content: space-between;
			align-items: flex-start;

			.ClientViewContainer {
				display: flex;
				padding: 0px 24.043px 16.276px 24.346px;
				flex-direction: column;
				align-items: center;
				gap: 16.148px;
				background: #bbebff;
				width: 253px;
				height: 452px;
				border-radius: 30px;
			}

			.optionsContainer {
				display: flex;
				width: 232px;
				height: 452px;
				padding: 8px;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				flex-shrink: 0;

				h3 {
					color: #e4e5e6;
					font-family: Inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 150% */
				}

				.themesList {
					display: flex;
					align-items: center;
					align-content: center;
					gap: 24px;
					align-self: stretch;
					flex-wrap: wrap;
					.singleTheme {
						width: 48px;
						height: 48px;
						border-radius: 8px;
						cursor: pointer;
						overflow: hidden;
						img {
							width: inherit;
							height: inherit;
							border-radius: inherit;
						}
					}
				}

				.propertiesContainer {
					width: 100%;
					display: flex;
					max-height: 320px;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					flex: 1 0 0;
					overflow-y: auto;
					padding-right: 10px;

					.singlePropertyDiv {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 6px;
						flex: 1 0 0;
						width: 100%;
						border-bottom: 1px solid rgba(100, 100, 100, 0.16);
						padding-bottom: 8px;
						h6 {
							color: #b0b0b0;
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: 16px; /* 133.333% */
							margin: 0;
						}

						.property_name {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.color {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								background-color: #0057ff;
								cursor: pointer;
							}
							input {
								width: 70px;
								color: rgba(228, 229, 230, 0.48);
								font-family: Inter;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 22px; /* 146.667% */
								background: none;
								border: none;
								outline: none;
							}
						}
					}
				}
			}
		}

		.buttonDiv {
			margin-top: 20px;
			width: 253px;
			display: flex;
			justify-content: center;

			.buttonApplyTheme {
				color: #6055ec;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 157.143% */
				letter-spacing: -0.28px;
				border-radius: 20px;
				border: 1px solid #6055ec;
				background: rgba(28, 28, 32, 0.9);
				padding: 9px 16px;
				cursor: pointer;
			}
		}
	}

	.brandingContainer {
		.brandingTextContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 32px;

			.headerSection {
				h1 {
					color: var(--primary-font, #f2f2f3);
					font-family: Inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				p {
					color: var(--secondary-font, #787e87);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			button {
				color: var(--primary-font, #f2f2f3);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				border-radius: 24px;
				border: 1px solid var(--stroke, #313336);
				background: rgba(28, 28, 32, 0.9);
				padding: 9px 16px;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					background: rgba(96, 85, 236, 0.1);
				}
			}
		}

		.brandColorContainer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
			width: 100%;

			.colorCard {
				display: flex;
				align-items: center;
				gap: 16px;
				padding: 24px;
				background: #171819;
				border-radius: 12px;
				border: 1px solid #313336;

				.colorCircle {
					width: 48px;
					height: 48px;
					border-radius: 100%;
					flex-shrink: 0;
				}

				.colorInfo {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					gap: 4px;

					.colorCode {
						color: #f2f2f3;
						font-family: Inter;
						font-size: 16px;
						font-weight: 500;
					}

					.colorType {
						color: #646464;
						font-family: Inter;
						font-size: 14px;
						font-weight: 400;
					}
				}

				.infoButton {
					width: 32px;
					height: 32px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: none;
					border: none;
					cursor: pointer;
					padding: 0;
					opacity: 0.5;
					transition: opacity 0.3s ease;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.brandFontContainer {
		.brandTextContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 32px;

			.headerSection {
				h1 {
					color: var(--primary-font, #f2f2f3);
					font-family: Inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				p {
					color: var(--secondary-font, #787e87);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			button {
				color: #f2f2f3;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				border-radius: 24px;
				border: 1px solid var(--stroke, #313336);
				background: rgba(28, 28, 32, 0.9);
				padding: 9px 16px;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					background: rgba(49, 51, 54, 0.5);
				}
			}
		}

		.fontsContainer {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
			width: 100%;

			.fontCard {
				display: flex;
				height: 41px;
				padding: 12px 18px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				align-self: stretch;
				border-radius: 12px;
				background: var(--card, #171819);
				.fontPreview {
					color: var(--primary-font, #f2f2f3);
					font-family: 'Times New Roman';
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-transform: uppercase;
				}

				.infoButton {
					width: 32px;
					height: 32px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: none;
					border: none;
					cursor: pointer;
					padding: 0;
					opacity: 0.5;
					transition: opacity 0.3s ease;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.logoMainContainer {
		display: flex;
		padding: 40px;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		border-radius: 40px;
		border: 1px solid rgba(36, 36, 36, 0.64);
		background: #1e1e1f;
		.logoTextContainer {
			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
				/* 150% */
			}
			p {
				color: rgba(228, 229, 230, 0.48);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 21px;
				/* 161.538% */
			}
		}
		.upload-brand-embeded-btn {
			width: 100%;
			.upload-brand-container-new {
				.upload-brand-logo {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100px;
					border: 1px dashed #242424a3;
					border-radius: 10px;
					background-color: #151515;
					color: #ccc;
					cursor: pointer;
					position: relative;

					img {
						width: 64px;
						max-height: 64px;
						object-fit: contain;
					}
				}
			}

			.upload-brand-placeholder {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100px;
				border: 2px dashed #333;
				border-radius: 10px;
				background-color: #1c1c1c;
				color: #ccc;
				cursor: pointer;
				position: relative;
			}
		}
	}

	.footerContainer {
		display: flex;
		padding: 40px;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		border-radius: 40px;
		border: 1px solid rgba(36, 36, 36, 0.64);
		background: #1e1e1f;
		.footerToggle {
			width: 100%;
			display: flex;
			gap: 16px;
			p {
				color: #e4e5e6;
				font-size: 13px;
				font-weight: 400;
				line-height: 24px;
			}
		}
		.footerTextContainer {
			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}

			p {
				color: rgba(228, 229, 230, 0.48);
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 21px;
			}
		}
	}
}
