.planBillingContianer {
	display: flex;
	flex-direction: column;
	gap: 48px;
	flex-direction: column;
	gap: 48px;

	.subscriptionDetailsComponent {
		padding: 32px;
		border-radius: inherit;
		position: relative;
		overflow: hidden;
		border-radius: 32px;
		border: 1px solid #7871c030;
		background: rgba(29, 29, 35, 0.24);
		box-shadow: 2px 2px 8px 0px rgba(74, 40, 210, 0.06),
			4px 4px 10px 0px rgba(104, 93, 247, 0.02) inset;
		backdrop-filter: blur(8px);

		.backgroundDesingDiv {
			position: absolute;
			right: 0px;
			top: -30px;
			filter: blur(2px);
		}

		.subscriptionDiv {
			display: flex;
			align-items: center;
			flex-direction: column;
			.title {
				width: 350px;
				h1 {
					color: #e4e5e6;
					font-family: Inter;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 200% */
					text-transform: uppercase;
				}
			}

			.planDetailsContainer {
				display: flex;
				width: 350px;
				padding: 32px;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				border-radius: 16px;
				border: 0.2px solid rgba(100, 100, 100, 0.16);
				background: rgba(32, 32, 33, 0.24);
				backdrop-filter: blur(18px);
				position: relative;

				.pricingDiv {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 16px;
					h3 {
						color: #6055ec;
						font-family: Inter;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: 18px; /* 150% */
						text-transform: uppercase;
						margin: 0;
					}

					h1 {
						color: #e4e5e6;
						font-family: Inter;
						font-size: 24px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						margin: 0;
						p {
							color: rgba(208, 207, 229, 0.5);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}

				.lineDiv {
					background: rgba(100, 100, 100, 0.16);
					height: 1px;
					width: 100%;
				}

				.subcriptionListDiv {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 16px;
					.singleListDetails {
						display: flex;
						gap: 10px;
						align-items: center;
						p {
							color: #d0cfe5;
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
			}

			.upgradSubscriptionButton {
				margin-top: 32px;
				.button {
					display: flex;
					padding: 8px 8px 8px 16px;
					align-items: center;
					gap: 8px;
					border-radius: 100px;
					border: 1px solid #323148;
					background: rgba(37, 37, 41, 0.86);
					box-shadow: 0px 4px 4.6px 0px rgba(0, 0, 0, 0.15) inset,
						0px 2px 4px 0px rgba(0, 0, 0, 0.18);
					cursor: pointer;

					p {
						color: #e4e5e6;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px; /* 114.286% */
					}

					.circleDiv {
						display: flex;
						width: 30px;
						height: 30px;
						padding: 3px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						border-radius: 100px;
						background: #e4e5e6;
					}
				}
			}
		}
	}

	.billingHinstoryComponent {
		.historyHeader {
			.details {
				h1 {
					color: #e4e5e6;
					font-family: Inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px; /* 150% */
				}
			}
		}

		.billingList {
			width: 100%;

			.billingTable {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				align-self: stretch;

				.tableHeading,
				.tableRow {
					display: flex;
					width: inherit;
					gap: 28px;
					justify-content: space-between;
					div {
						width: 100%;
						color: #e4e5e6;
						font-family: Inter;
						font-size: 13px;
						font-style: normal;
						font-weight: 400;
						line-height: 18px; /* 138.462% */
					}
				}

				// .tableRow {
				// }
			}
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		thead tr {
			th {
				padding-bottom: 16px;
				color: #e4e5e6;
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px; /* 138.462% */
				text-align: start;
			}
		}

		tbody tr {
			height: 40px;
			border-top: 1px solid rgba(100, 100, 100, 0.16);
			td {
				padding: 16px 0;
				font-family: Inter;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
				color: #808080; /* Gray text color for tbody */
				text-align: start;
			}

			.subscription {
				.viewDetails {
					cursor: pointer;
					color: #6055ec;
					font-family: Inter;
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px; /* 153.846% */
				}
			}

			.status {
				display: flex;
				align-items: center;
				gap: 4px;

				.point {
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
			}

			.amount {
				font-weight: 500;
				color: #e4e5e6;
			}
		}
	}

	.subscriptionWrapperContainer {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 32px;

		.subscriptionUpdatedPlanCard {
			display: flex;
			width: 100%;
			padding: 36px;
			flex-direction: column;
			// align-items: center;
			gap: 36px;
			border-radius: 32px;
			background: #171819;

			.subscriptionPlanHeader {
				color: #e8e8e8;

				/* Heading/H2 - 24 px */
				font-family: Inter;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}

			.subscriptionPlanContent {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 24px;
				align-self: stretch;

				.subscriptionPlanPricingDetails {
					display: flex;
					align-items: flex-end;
					gap: 4px;
					align-self: stretch;

					.subscriptionPlanPricing {
						color: var(--ve-ai-dark-theme-primary-font-color, #e8e8e8);
						font-family: Inter;
						font-size: 40px;
						font-style: normal;
						font-weight: 500;
						line-height: 34px; /* 85% */
					}
					.subscritptionPlanPeriod {
						color: var(--ve-ai-dark-theme-secondary-color, #939393);

						/* Body/Body Text - 16 */
						font-family: Inter;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}

				.subscriptionUsageContainer {
					display: flex;
					width: 224px;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;

					.subscriptionUsageDeatails {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 8px;

						.subscriptionUsageData {
							color: var(--ve-ai-dark-theme-secondary-color, #939393);
							font-family: Inter;
							font-size: 11px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					.subscriptionPlanProgressBar {
						width: 100%;
						background-color: #2c2d2e;
						height: 3px;
						border-radius: 24px;

						.subscriptionPlanProgressIndicator {
							width: 50%;
							background-color: #e8e8e8;
							height: 3px;
							border-radius: 24px;
						}
					}
				}
				.subscritptionFeaturesContainer {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					align-self: stretch;
					padding-bottom: 16px;
					margin-bottom: 8px;

					.subscriptionFeature {
						display: flex;
						align-items: center;
						gap: 12px;
						align-self: stretch;

						.subscriptionFeatureContent {
							color: var(--ve-ai-dark-theme-secondary-color, #939393);
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 20px; /* 142.857% */
						}
					}
				}

				.currentAddOnsContainer {
					width: 100%;
					border-bottom: 1px solid #333334;

					.currentAddOns {
						color: #f2f2f3;
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 20px;
					}
				}

				.addOnContianer {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
					align-self: stretch;

					.addOnStates {
						color: #e8e8e8;

						/* Body/Body Text - 14 Px */
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 20px; /* 142.857% */
					}

					.addOnStuffsHolder {
						display: flex;
						justify-content: space-between;
						align-items: flex-start;
						align-self: stretch;

						.addOnCards {
							display: flex;
							width: 176px;
							padding: 16px;
							flex-direction: column;
							align-items: flex-start;
							gap: 16px;
							border-radius: 16px;

							.addOnCardsHeaderChanges {
								display: flex;
								width: 176px;
								// padding: 16px;
								flex-direction: column;
								align-items: flex-start;
								gap: 16px;
								.addOnCardsTitle {
									color: #fff;
									font-family: Inter;
									font-size: 11px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
								}
								.addOnCardPriceContainer {
									color: var(--ve-ai-dark-theme-secondary-color, #939393);
									font-family: Inter;
									font-size: 12px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
								}
							}

							.addOnUsageDetails {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 8px;
								align-self: stretch;

								.subscriptionUsageDeatails {
									display: flex;
									justify-content: center;
									align-items: center;
									gap: 8px;

									.subscriptionUsageData {
										color: var(--ve-ai-dark-theme-secondary-color, #939393);
										font-family: Inter;
										font-size: 11px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
								.subscriptionPlanProgressBar {
									width: 100%;
									background-color: #2c2d2e;
									height: 3px;
									border-radius: 24px;

									.subscriptionPlanProgressIndicator {
										width: 50%;
										background-color: #e8e8e8;
										height: 3px;
										border-radius: 24px;
									}
								}
							}
						}
					}
				}
				.storageContainer {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					gap: 24px;
					.storageContainerHolder {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						align-self: stretch;
						.storageTitle {
							color: #e4e5e6;
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: 18px; /* 150% */
							text-transform: uppercase;
						}
						.storageUsed {
							color: #777783;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							.storageUsedValue {
								color: #e4e5e6;
								font-family: Inter;
								font-size: 24px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
							.storageUsedUnit {
								color: #e4e5e6;
								font-family: Inter;
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
						}
						.storageProgress {
							width: 219px;
							height: 3px;
							border-radius: 24px;
							background: #d9d9d9;
							position: relative;
							.storageProgressValue {
								height: 3px;
								border-radius: 24px;
								background: #6055ec;
							}
						}
						.storageProgressText {
							color: #ff0000;
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
			}

			.subscriptionSeperator {
				width: 100%;
				height: 1px;
				background: #333334;
			}

			.subscriptionActionContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				align-self: stretch;

				.manageSubscriptionButton {
					display: flex;
					padding: 14px 24px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 59px;
					background: #e8e8e8;
					cursor: pointer;
					color: #000;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					border: none;
				}
				.expiringText {
					color: var(--ve-ai-dark-theme-secondary-color, #939393);
					font-family: Inter;
					font-size: 11px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
		.updateSubscriptionPlanContainer {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			.updatePlansTextStyling {
				color: #e8e8e8;

				/* Body/Body Text - 16 */
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.updatePlansCardHolder {
				display: flex;
				flex-wrap: wrap;
				gap: 20px; // Space between cards
				width: 100%;

				.updatePlansCardContainer {
					display: flex;
					padding: 24px;
					flex-direction: column;
					align-items: flex-start;
					gap: 32px;
					flex: 1;
					border-radius: 32px;
					background: #171819;
					backdrop-filter: blur(8px);

					flex: 1 1 calc(50% - 10px); // 50% width minus half of the gap
					// min-width: 280px; // Minimum card width/
					// max-width: 245px; // Ensures 2 cards per row maximum
					.updatePlansCardContent {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 12px;
						align-self: stretch;

						.updatePlansHeader {
							.updatePlansHeaderTextStyling {
								color: var(--ve-ai-dark-theme-primary-font-color, #e8e8e8);
								font-family: Inter;
								font-size: 12px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
						}

						.randomUpdatePlans {
							color: var(--ve-ai-dark-theme-secondary-color, #939393);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
					.addNowButtonForUpdatePlans {
						display: flex;
						padding: 12px 16px;
						justify-content: center;
						align-items: center;
						gap: 16px;
						border-radius: 100px;
						border: 1px solid #333334;
						cursor: pointer;
						color: var(--ve-ai-dark-theme-primary-font-color, #e8e8e8);
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}
			}
		}
	}

	.freePlanCardContainer {
		width: 100%;
		padding: 56px;
		border-radius: 32px;
		background: #171819;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		.subscriptionPlanHeader {
			color: #e8e8e8;

			/* Heading/H2 - 24 px */
			font-family: Inter;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		.subscriptionPlanContent {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			align-self: stretch;
			.subscriptionPlanPricingDetails {
				display: flex;
				align-items: flex-end;
				gap: 4px;
				align-self: stretch;

				.subscriptionPlanPricing {
					color: var(--ve-ai-dark-theme-primary-font-color, #e8e8e8);
					font-family: Inter;
					font-size: 40px;
					font-style: normal;
					font-weight: 500;
					line-height: 34px; /* 85% */
				}
			}

			.subscritptionFeaturesContainer {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 8px;
				align-self: stretch;
				padding-bottom: 48px;
				border-bottom: 1px solid #333334;
				margin-bottom: 24px;

				.subscriptionFeature {
					display: flex;
					align-items: center;
					gap: 12px;
					align-self: stretch;

					.subscriptionFeatureContent {
						color: var(--ve-ai-dark-theme-secondary-color, #939393);
						font-family: Inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px; /* 142.857% */
					}
				}
			}
		}
		.freePlanSubscriptionCardContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			align-self: stretch;

			.freeTrialText {
				color: var(--ve-ai-dark-theme-secondary-color, #939393);
				text-align: center;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 21px; /* 150% */
			}
			.manageSubscriptionButton {
				display: flex;
				padding: 14px 24px;
				justify-content: center;
				align-items: center;
				gap: 6px;
				border-radius: 59px;
				background: #e8e8e8;
				cursor: pointer;
				color: #000;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				align-self: center;
				border: none;
			}
		}
	}
}
.addOnsContainer {
	display: inline-flex;
	padding: 50px;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	flex-shrink: 0;
	width: 100%;
	border-radius: 32px;
	background: #171819;
	.addOnsHeader {
		display: flex;
		height: 45px;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;
		align-self: stretch;
		.title {
			color: var(--ve-ai-dark-theme-primary-font-color, #f2f2f3);
			font-family: Inter;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.checkoutContainer {
			display: flex;
			align-items: center;
			gap: 24px;
			.total {
				color: var(--ve-ai-dark-theme-primary-font-color, #f2f2f3);
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.checkout {
				display: flex;
				padding: 14px 24px;
				justify-content: center;
				align-items: center;
				gap: 6px;
				border-radius: 59px;
				background: #f2f2f3;
				color: #000;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
			}
		}
	}

	.addOnsCardsContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		width: 100%;
		.addOnsCards {
			display: flex;
			height: 250px;
			width: 300px;
			padding: 24px;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			flex: 1 0 0;
			border-radius: 24px;
			background: #202123;
			backdrop-filter: blur(8px);
			.addOnsCardsHeader {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				align-self: stretch;
				.addOnPlanName {
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					color: #f2f2f3;
				}

				.priceContainer {
					display: flex;
					align-items: center;
					gap: 4px;

					.currencySymbol,
					.priceValue {
						color: #f2f2f3;
						font-family: Inter;
						font-size: 18px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}

					.priceDuration {
						color: #7a7e85;
						font-family: Inter;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}
			}
			.addOnsButton {
				display: flex;
				padding: 12px 16px;
				justify-content: center;
				align-items: center;
				gap: 16px;
				align-self: stretch;
				border-radius: 100px;
				background: #2c2d2e;
				border: 1px solid #2c2d2e;
				color: #f2f2f3;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			.addOnsQuantityContainer {
				display: flex;
				align-items: flex-start;
				gap: 12px;
				align-self: stretch;
				.minusIcon {
					display: flex;
					padding: 12px 16px;
					justify-content: center;
					align-items: center;
					gap: 16px;
					border-radius: 100px;
					border: 1px solid #2c2d2e;
					background: #202123;
					cursor: pointer;
				}
				.countIndicators {
					display: flex;
					padding: 12px 16px;
					justify-content: center;
					align-items: center;
					gap: 16px;
					flex: 1 0 0;
					align-self: stretch;
					background: #2c2d2e;
					border-radius: 100px;
					border: 1px solid #2c2d2e;
					color: #f2f2f3;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}
}
