.accountSettingsMainWrapper {
	display: flex;
	height: calc(100vh - 32px);
	width: 100%;
	margin: auto;
	justify-content: center;

	.accountSettingsWrapper {
		display: flex;
		justify-content: center;
		gap: 15px;
		width: 100%;
		max-height: 97%;
		overflow-y: scroll;
		scroll-behavior: smooth;
		margin: auto;
		.accountSettingsMapper {
			width: 680px;
			height: 85vh;
			// transition: opacity 0s, transform 0.5s;

			// common box styles for every component
			.settingsBoxContainer {
				border-radius: 40px;
				display: flex;
				gap: 24px;
				flex-direction: column;
			}
		}

		.accountSettingsSidebar {
			position: sticky;
			top: 0;
		}
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(100vh);
	}

	// 60% {
	// 	opacity: 0;
	// 	transform: translateY(100vh);
	// }
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
