.settingsSidebarOptions {
	display: flex;
	flex-direction: column;
	width: 190px;
	gap: 2px;
	.settingsSidebarEachOption {
		display: flex;
		padding: 12px;
		align-items: center;
		gap: 12px;
		align-self: stretch;
		border-radius: 8px;
		cursor: pointer;
		.settingsSidebarEachOptionLabel {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			flex: 1 0 0;
			align-self: stretch;
		}
		&:hover {
			background: var(--card, #202123);
		}
		&.active {
			background: var(--card-over-card, #202123);
		}
	}
}
