.TeamMemberContainer {
	display: flex;
	flex-direction: column;

	.TeamMemberContainerTitle {
		color: var(--primary-font, #f2f2f3);
		font-family: Inter;
		font-size: 32px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	.yourTeamComponent {
		.yourTeamTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;

				.teamMembersCount {
					color: #666;
					margin-left: 8px;
					font-size: 14px;
				}
			}
			.inviteMemberButton {
				display: flex;
				padding: 12px 16px;
				justify-content: center;
				align-items: center;
				background: none;
				color: var(--primary-font);
				gap: 16px;
				display: flex;
				border-radius: 100px;
				border: 1px solid var(--stroke, #313336);
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
			}
		}

		.yourTeamFilter {
			display: flex;
			align-items: center;
			padding: 12px 16px;
			gap: 10px;
			border-radius: 50px;
			border: 0.5px solid #333;
			width: 100%;
			margin-bottom: 20px;

			input {
				background: none;
				border: none;
				color: #e4e5e6;
				font-size: 14px;
				font-weight: 400;
				line-height: 16px;
				width: 100%;

				&::placeholder {
					color: #666;
				}

				&:focus {
					outline: none;
				}
			}
		}

		.tenantDetailsContainer {
			display: flex;
			padding: 12px 16px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			justify-content: space-between;
			border-radius: 8px;
			cursor: pointer;
			margin-bottom: 8px;
			border-radius: 12px;
			background: var(--card, #171819);

			&:hover {
				background-color: #1c1c1c;
			}

			.tenantProfileContainer {
				display: flex;
				gap: 16px;
				align-items: center;

				.tenantLogo {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 6px;
					width: 40px;
					height: 40px;
					overflow: hidden;
					background: #333;

					img {
						width: 100%;
						height: 100%;
						border-radius: 100%;
						object-fit: cover;
					}

					p {
						color: #f2f2f3;
						font-family: Inter;
						font-size: 14px;
						font-weight: 500;
						margin: 0;
					}
				}

				.tenantProfileName {
					display: flex;
					flex-direction: column;
					justify-content: center;

					h1 {
						margin: 0;
						color: #e4e5e6;
						font-family: Inter;
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
					}

					p {
						color: #666;
						font-family: Inter;
						font-size: 13px;
						font-weight: 400;
						line-height: 20px;
						margin: 0;
					}
				}
			}

			.AccessControl {
				.owner {
					border-radius: 6px;
					background-color: rgba(0, 0, 0, 0.2);
					padding: 8px 16px;
					display: inline-block;
					color: #e4e5e6;
					font-size: 14px;
				}

				.editAccessControl {
					position: relative;
					min-width: 120px;

					.ant-select {
						width: 100%;
					}

					.ant-select-selector {
						color: #e4e5e6 !important;
						background: none !important;
						border: none !important;
						padding: 0 8px !important;
						height: 32px !important;
					}

					.ant-select-arrow {
						color: #e4e5e6 !important;
					}

					.ant-select-selection-item {
						color: #e4e5e6 !important;
						font-size: 14px;
						line-height: 32px !important;
					}
				}
			}
		}

		.skeletonDiv {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 10px;
		}
	}
}

.inviteMemberComponent {
	display: flex;
	width: 600px;
	padding: 32px;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	border-radius: 32px;
	background: #171819;
	.inviteMemberText {
		width: 100%;
		.inviteMemberTitle {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 12px;
			width: 100%;
			h1 {
				color: #e4e5e6;
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px; /* 150% */
			}
		}

		.inviteMemberDescription {
			color: #666;
			font-family: Inter;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 153.846% */
		}
	}

	.sendRequestInputContainer {
		display: flex;
		gap: 24px;
		width: 100%;
		align-items: center;

		.sendRequestInput {
			width: 100%;
			display: flex;
			padding: 12px 16px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			border-radius: 12px;
			border: 1px solid #2c2d2e;
			.textInput {
				color: #7a7e85;
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				flex: 1 0 0;
				background-color: transparent !important;
				border: none;
			}
			.dropdownContainer {
				// background-color: none;
				.dropdownInput {
					background: none;
					border: none;
					color: #fff;
				}
			}
		}
	}
	.accessControls {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		align-self: stretch;
		.accessControlTitle {
			color: #f2f2f3;
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.accessControlOptions {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;
			align-self: stretch;
			height: 300px;
			overflow-y: auto;
			.accessControlOption {
				display: flex;
				padding: 12px 0px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				align-self: stretch;
				.accessControlOptionIcon {
					display: flex;
					width: 16px;
					height: 16px;
					padding: 4px;
					align-items: center;
					gap: 10px;
					border-radius: 2px;
					border: 2px solid rgba(0, 0, 0, 0);
					background: #202123;
				}
				.accessControlOptionText {
					flex: 1 0 0;
					color: #f2f2f3;
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
	}

	.buttonsContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		.addmore {
			color: #666;
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 157.143% */
			letter-spacing: -0.28px;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 4px;

			span {
				svg {
					transform: rotate(45deg);
					margin-top: 3px;
				}
			}
		}

		button {
			padding: 9px 16px;
			border-radius: 20px;
			border: 1px solid #1c1c1c;
			background: #1c1c1c;
			color: #666;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: -0.28px;
			min-width: 130px;
		}
	}
}

.ant-checkbox-checked {
	.ant-checkbox-inner {
		background-color: #1c1c1c;
		border-color: #666;
	}
}
