.widgetParentContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;

	color: var(--primary-font, #f2f2f3);
	color: var(--primary-font, color(display-p3 0.949 0.949 0.9529));
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
	max-width: 600px;

	.widgetsContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		align-self: stretch;

		.widgetParentRowContainer {
			display: flex;
			width: 560px !important;
			align-items: center;
			gap: 8px;

			.iconContainer {
				cursor: pointer;
			}

			svg {
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
			}

			&:hover {
				svg {
					opacity: 1;
				}
			}

			.widgetsInnerContentContainer {
				display: flex;
				padding: 12px 16px;
				// justify-content: center;
				align-items: flex-start;
				gap: 8px;
				flex: 1 0 0;
				align-self: stretch;
				border-radius: 12px;
				background: var(--card, #171819);
				background: var(--card, color(display-p3 0.0902 0.0941 0.098));
				color: var(--Primary-Font, #f2f2f3);
				color: var(--Primary-Font, color(display-p3 0.949 0.949 0.9529));
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}

	.widgetsActionContainer {
		display: flex;
		padding: 12px 16px;
		justify-content: center;
		align-items: flex-start;
		gap: 8px;
		flex: 1 0 0;
		align-self: stretch;
		border-radius: 12px;
		background: var(--card, #171819);
		background: var(--card, color(display-p3 0.0902 0.0941 0.098));
		width: 509px;
		margin: 0px 20px;

		.widgetsActionbtn {
			display: flex;
			height: 41px;
			padding: 12px 16px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			flex: 1 0 0;
			border-radius: 8px;
			background: var(--card-over-card, #202123);
			background: var(--card-over-card, color(display-p3 0.1255 0.1294 0.1373));
			color: var(--primary-font, #f2f2f3);
			color: var(--primary-font, color(display-p3 0.949 0.949 0.9529));
			font-family: Inter;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}
	}
}

.widgetForFiles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;

	color: var(--primary-font, #f2f2f3);
	color: var(--primary-font, color(display-p3 0.949 0.949 0.9529));
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px; /* 150% */
}
