.aiSelection-container {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.aiOptions-navbar {
		display: flex;
		justify-content: space-between;
		.aiOptions-navbar-options {
			display: flex;
			padding: 16px 24px;
			align-items: center;
			gap: 28px;
			border-radius: 100px;
			border: 1px solid var(--stroke);
			background: var(--card);
			p {
				color: var(--secondary-font);
				cursor: pointer;
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				line-height: 16px;
			}
			.active {
				color: var(--primary-font);
			}
		}
	}
	.searchContainer {
		display: flex;
		width: 40px;
		height: 40px;
		gap: 10px;
		padding: 10px;
		align-items: center;
		border-radius: 100px;
		border: 1px solid var(--stroke);
		background: var(--card);
		transition: width 0.3s ease;
		overflow: hidden;
		cursor: pointer;
		input {
			display: none;
			background: transparent;
			border: none;
			color: var(--primary-font);
		}
		svg {
			path {
				fill: var(--primary-font);
			}
		}
		&:hover {
			width: 200px;
			input {
				display: block;
			}
		}
	}
	.aiPeople-container {
		display: flex;
		flex-direction: column;
		padding: 24px;
		gap: 24px;
		border-radius: 40px;
		background: var(--card, #171819);

		overflow: auto;
		p {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: capitalize;
		}
		.aiPeople-container-scroll {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.aiPeople {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 30px;
				gap: 16px;
				max-height: 100px;
				overflow-y: hidden;
				transition: max-height 0.5s ease-in-out;
				&.aiPeople-showMore {
					max-height: 200px;
					overflow-y: scroll;
				}
				.aiPeople-person {
					display: flex;
					min-width: 100px;
					padding: 8px 12px;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					align-self: stretch;
					border-radius: 12px;
					cursor: pointer;
					img {
						width: 80px;
						height: 80px;
						border-radius: 50%;
					}
				}
			}
			.aiPeople-person-arrow {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				cursor: pointer;
			}
		}
	}
	.aiFaceRegistration {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 40px;
		border-radius: 24px;
		background: var(--card);
		height: 80vh;
		overflow: scroll;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);

		.heading {
			color: var(--secondary-font);
			font-size: 12px;
			font-weight: 400;
		}
		.aiScannerContainer {
			display: flex;
			justify-content: space-between;
			gap: 24px;
			padding-bottom: 24px;
			border-bottom: 1px solid var(--stroke);
			width: 100%;

			.scanner {
				width: 139px;
				height: 139px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--primary-font);
			}
			.aiScannerDetailsContainer {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			.aiScanLink {
				display: flex;
				width: 391px;
				height: 40px;
				padding: 8px 12px;
				justify-content: space-between;
				align-items: center;
				border-radius: 10px;
				border: 1px solid var(--stroke);
				p {
					overflow: hidden;
					color: var(--secondary-font);
					text-overflow: ellipsis;
					font-size: 12px;
					font-weight: 400;
					line-height: 21px;
				}
				.copyIcon {
					cursor: pointer;
				}
			}
			.downloadNotifyContainer {
				display: flex;
				width: 100%;
				justify-content: space-between;
				gap: 10px;
				.downloadQR {
					display: flex;
					align-items: center;
					width: fit-content;
					gap: 10px;
					cursor: pointer;
					p {
						overflow: hidden;
						color: var(--secondary-font);
						text-overflow: ellipsis;
						font-size: 12px;
						font-weight: 400;
						line-height: 21px;
						text-transform: capitalize;
					}
					.downloadIcon {
						cursor: pointer;
					}
				}
				.notifyUser {
					cursor: pointer;
					background-color: var(--card);
					padding: 10px 15px;
					border-radius: 10px;
					border: 1px solid var(--stroke);
					span {
						color: var(--secondary-font);
						font-size: 12px;
						font-weight: 400;
						line-height: 21px;
					}
					&:hover {
						background-color: var(--primary-button);
						span {
							color: var(--primary-font);
						}
					}
				}
			}

			.aiProcessingContainer {
				display: flex;
				padding: 16px 24px;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 8px;
				background: var(--card-over-card);
				width: 459px;
				position: relative;

				.p {
					color: var(--primary-font);
				}

				.close-button {
					position: absolute;
					top: 10px;
					right: 10px;
					cursor: pointer;
				}

				.aiProcessingTotalImages {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 44px; /* 275% */
				}

				.aiProcessingDetailsContainer {
					display: flex;
					align-items: center;
					gap: 10px;

					.progress-bar {
						.ant-progress-text {
							color: var(--primary-font) !important;
							font-size: 12px !important;
							font-weight: 500 !important;
							line-height: 15px !important;
						}

						svg {
							// transform: rotate(235deg) !important;
							circle:first-child {
								stroke: var(--primary-font) !important;
							}
						}
					}

					.aiProcessingText {
						color: var(--primary-font);
						font-family: var(--primary-font-family);
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 44px; /* 275% */
					}

					.aiProcessingText-count {
						color: var(--primary-font);
						font-family: var(--primary-font-family);
						font-size: 16px;
						font-style: normal;
						font-weight: 600;
						line-height: 44px; /* 275% */

						span {
							cursor: pointer;
							color: var(--primary-font);
						}
					}
				}

				.aiProcessingButtonContainer {
					display: flex;
					gap: 24px;
					justify-content: center;
					.notify-immediately-button {
						color: var(--primary-font);
						font-size: 16px;
						font-weight: 500;
						line-height: 19px;
						display: flex;
						padding: 8px 16px;
						align-items: center;
						gap: 14px;
						border-radius: 100px;
						border: 1px solid var(--stroke);
						background: none;
						cursor: pointer;
						outline: none;
					}
					.notify-all-button {
						color: var(--primary-font);
						font-family: var(--primary-font-family);
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 19px;
						display: flex;
						padding: 8px 16px;
						align-items: center;
						gap: 14px;
						border-radius: 100px;
						background: var(--primary-button);
						cursor: pointer;
						outline: none;
						border: none;
					}
				}
			}
		}
	}
	.aiFaces-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		.aiFaces-header-back {
			display: flex;
			gap: 10px;
			align-items: center;
			width: fit-content;
			cursor: pointer;
			p {
				color: var(--primary-font);
				font-size: 12px;
				font-weight: 400;
			}
		}
		.aiFaces-container-scroll {
			width: 100%;
			overflow: auto;
			.aiPeople {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				gap: 16px;
				padding: 16px;
				.aiPeople-person {
					cursor: pointer;
				}
			}
		}
		.aiFaces-image-container {
			width: 100%;
			height: 60vh;
			overflow: auto;
			.masonry-grid {
				display: flex;
				flex: 1 1 auto;
				gap: 10px;
			}

			.masonry-grid-column {
				padding-left: 10px;
				background-clip: padding-box;
			}

			.masonry-item {
				margin-bottom: 10px;
			}
		}
	}
}

.notify-popup {
	display: flex;
	width: 420px;
	padding: 32px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: 24px;
	border: 1px solid var(--stroke);
	background: var(--card);
	z-index: 1000;

	h1 {
		color: var(--secondary-font);
		text-align: center;
		font-family: var(--primary-font-family);
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 26px; /* 130% */
	}
}
