.mainVideoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	width: 100%;
	.videoHeaderContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		.videoTitleText {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
		.videoOptionsContainer {
			display: flex;
			align-items: center;
			gap: 16px;
			.editOptionContainer {
				display: flex;
				padding: 8px;
				align-items: center;
				gap: 6px;
				border-radius: 8px;
				color: var(--secondary-font, #94989e);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				cursor: pointer;
			}
			.verticalLine {
				width: 1px;
				height: 19px;
				background: var(--stroke, #2c2d2e);
			}
			.switchContainer {
				display: flex;
				height: 20px;
				width: 126px;
				justify-content: flex-end;
				align-items: center;
				gap: 12px;
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				.ant-switch {
					background-color: var(--stroke);
				}
				.ant-switch-checked {
					background-color: var(--primary-button);
				}

				.ant-switch.ant-switch-checked .ant-switch-handle::before {
					background-color: var(--background-color);
				}
			}
		}
	}
	.videoMainContainer {
		display: flex;
		height: 55vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-radius: 12px;
		border: 1px solid var(--stroke, #2c2d2e);
		.selectedVideoPlayer {
			width: 100%;
			height: 100%;
			border-radius: 12px;
		}
	}
}
