.gallery-page-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background-color: var(--background-color, #0c0c0d);
	.authParentContainer {
		.childrenContainer {
			max-width: 80vw !important;
		}
	}
	.analytic-container {
		display: flex;
		height: 250px;
		gap: 24px;
		.analytics {
			width: 50%;
			border-radius: 24px;
			border: 1px solid rgba(224, 224, 224, 0.1);
			background: #1d1d1d;
			box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
		}
		.vistors {
			width: 23%;
			display: flex;
			flex-direction: column;
			gap: 24px;
			.register {
				background: #ffcebf;
				width: 100%;
				height: 50%;
				border-radius: 24px;
				padding: 16px 14px;
			}
			.ai-scanned {
				width: 100%;
				height: 50%;
				background: #a7cebe;
				border-radius: 24px;
				padding: 16px 14px;
				display: flex;
			}
		}
		.storage-container {
			width: 23%;
			border-radius: 24px;
			border: 1px solid rgba(224, 224, 224, 0.1);
			background: #1d1d1d;
			box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
		}
	}
}

.galleryContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
	overflow: hidden;
	background-color: #0c0d0d;
	height: 93vh;
	overflow-y: auto;
	position: relative;

	// For smoother scrolling
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;

	// Hide scrollbar but keep functionality
	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
	.line {
		width: 100%;
		height: 1px;
		background-color: rgba(224, 224, 224, 0.1);
		stroke-width: 1px;
	}
	.mainGalleryContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 24px;
		gap: 24px;
		padding: 24px;
		border-radius: 24px;
		background: rgba(32, 33, 35, 0.6);
		will-change: height;
		&:hover {
			// border: 1px solid rgba(224, 224, 224, 0.1);
			// background: rgba(32, 33, 35, 0.8);
			// box-shadow: 0px 4px 4px 0px rgba(224, 224, 224, 0.07);
			// .galleryPic {
			// 	.galleryPicSettings {
			// 		display: flex;
			// 		opacity: 1;
			// 		transform: translateY(2px);
			// 		transition: transform 0.3s ease;
			// 		.upArrow {
			// 			transform: translateY(0px);
			// 			transition: transform 0.3s ease;
			// 		}
			// 	}
			// 	.imageContaienr {
			// 		transform: translateY(20px);
			// 	}
			// }
			.albumsContianer {
				.fullScreenContainer {
					opacity: 1;
					transition: opacity 0.3s ease;

					svg {
						path {
							fill: #e4e5e6;
							fill-opacity: 1;
						}
					}
				}
			}
		}

		.galleryPic {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			position: relative;
			border-radius: 16px;
			overflow: hidden;
			.galleryHeaderColumn {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 12px;
				.imageContaienr {
					width: 48px;
					height: 48px;
					border-radius: 100px;
					position: relative;
					transform: translateY(0px);
					transition: all 0.5s ease-in-out;
					img {
						overflow: hidden;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					.publishIndicator {
						display: flex;
						gap: 4px;
						position: absolute;
						top: 10px;
						left: 10px;
						align-items: center;
						p {
							color: rgba(228, 229, 230);
							font-size: 10px;
							font-weight: 500;
							line-height: 14px;
							text-transform: uppercase;
						}
					}
				}
				.galleryTitle {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					align-self: stretch;
					p {
						color: var(--primary-font, #f2f2f3);
						font-family: Inter;
						font-size: 20px;
						font-style: normal;
						font-weight: 500;
						line-height: 22.5px; /* 112.5% */
						text-transform: capitalize;
					}
				}
			}
			.galleryOptionsContainer {
				display: flex;
				align-items: center;
				gap: 12px;
				.galleryOption {
					display: flex;
					height: 40px;
					padding: 0px 16px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					border-radius: 100px;
					border: 1px solid var(--stroke, #333334);
					color: var(--secondary-font, #787e87);
					font-family: Inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-transform: capitalize;
					.liveIndicator {
						width: 8px;
						height: 8px;
						border-radius: 100px;
						background-color: #368748;
					}
				}
			}
		}
		.albumsContianer {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 10px;
			.galleryContentContainer {
				display: flex;
				width: 100%;
				justify-content: space-between;
				gap: 7px;

				.content {
					display: flex;
					gap: 16px;

					.galleryContent {
						display: flex;
						gap: 4px;
						height: 66px;
						flex-direction: column;
						width: 133px;
						padding: 12px 16px;
						border-radius: 16px;
						background: var(--ve-ai-dark-theme-pop-up-color, #202123);
						border: 1px solid transparent;
						&:hover {
							border: 1px solid rgba(224, 224, 224, 0.1);
						}

						.galleryName {
							color: var(--secondary-font, #787e87);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: 12px; /* 100% */
							text-transform: capitalize;
							align-self: stretch;
							&.active {
								color: var(--background-color, #0c0c0d);
							}
						}
						.count {
							color: #e4e5e6;
							font-family: Inter;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
							&.active {
								color: var(--background-color, #0c0c0d);
							}
						}
					}
					.active {
						background: var(--primary-font, #f2f2f3);
					}
					.breaker {
						width: 1px;
						height: 100%;
						background-color: rgba(224, 224, 224, 0.1);
					}
				}
				.shareContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 24px;
					.onlineContainer {
						display: flex;
						width: 115px;
						height: 40px;
						padding: 8px 16px;
						justify-content: center;
						align-items: center;
						gap: 4px;
						border-radius: 33px;
						border: 1px solid #2a2b2d;
						background: var(--ve-ai-dark-theme-pop-up-color, #202123);
						.onlineText {
							color: var(--dark-mode-tect-secondary-daark, #939393);
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 15px; /* 107.143% */
							text-transform: capitalize;
						}
					}
					.icon {
						position: relative;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 100px;
						border: 1px solid rgba(151, 151, 151, 0.2);
						background: rgba(36, 36, 36, 0.64);
						cursor: pointer;
						.shareIcon {
							path {
								fill: #e4e5e6;
							}
						}
						.threeDotsIcon {
							path {
								fill: #e4e5e6;
							}
						}
						.optionsContainer {
							position: absolute;
							padding: 16px 0px;
							width: 230px;
							top: 50px;
							right: 10px;
							z-index: 1000;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 8px;
							background-color: red;
							border-radius: 16px;
							border: 1px solid #1f1f1f;
							background: #151515;
							li {
								display: flex;
								padding: 4px 16px;
								align-items: center;
								gap: 5.868px;
								align-self: stretch;
								span {
									color: var(--darkTheme-Primary-font, #e8e8e8);
									font-family: Inter;
									font-size: 14px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									letter-spacing: -0.28px;
									flex: 1 0 0;
									align-self: stretch;
								}
							}
						}
					}
				}
			}
			.albums {
				display: flex;
				overflow-x: auto;
				gap: 8px;
				height: 100%;
				// border: 1px solid red;
				transition: all 1s ease;
				min-height: 160px;
				&::-webkit-scrollbar {
					/* Chrome, Safari and Opera */
					display: none;
				}
				.active {
					border-radius: 16px;
					border: 2px solid var(--dark-mode-text-primary-dark, #e8e8e8);
				}
				.create-album {
					display: flex;
					width: 130px;
					min-width: 130px;
					height: 130px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border-radius: 16px;
					background: var(--card-over-card, #202123);
					border: 1.5px solid transparent;
					p {
						color: rgba(228, 229, 230, 0.6);
						text-align: center;
						text-overflow: ellipsis;
						font-size: 12px;
						font-weight: 500;
						line-height: 16px;
						letter-spacing: 0.24px;
						text-transform: capitalize;
					}
					&:hover {
						background: #151515;
						border: 1.5px solid var(--stroke, #333334);
						border-radius: 16px;
						cursor: pointer;
						p {
							color: var(--primary-font, #f2f2f3);
						}
					}
				}
				.album {
					flex: 0 0 auto;
					width: 200px;
					height: 130px;
					position: relative;
					border-radius: 16px;
					overflow: hidden;
					background-size: cover !important;
					background-position: center !important;
					&:hover {
						img {
							transform: scale(1.4);
							filter: brightness(0.5);
						}
					}

					img {
						transition: all 0.4s ease;
					}

					.unpublished {
						position: absolute;
						top: 4%;
						right: 4%;
						padding: 4px 8px;
						background: var(--navbar-bg, #202123);
						border-radius: 12px;
						z-index: 10;
						color: var(--secondary-font, #787e87);
						font-family: Inter;
						font-size: 11px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: 0.22px;
						text-transform: capitalize;
					}
					.albumDetails {
						position: absolute;
						z-index: 5;
						bottom: 0px;
						display: flex;
						flex-direction: column;
						padding: 16px 8px;
						width: 100%;
						cursor: pointer;

						p {
							width: 100%;
							height: 16px;
							overflow: auto;
							color: rgba(228, 229, 230, 0.6);
							text-overflow: ellipsis;
							font-size: 12px;
							font-weight: 500;
							letter-spacing: 0.24px;
							text-transform: capitalize;
						}
					}
					.overlay {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						z-index: 1;
						left: 0;
						cursor: pointer;
						// background-color: rgba(0, 0, 0, 0.3);
						background: linear-gradient(rgba(0, 0, 0, 0) 6%, rgb(0, 0, 0) 100%),
							rgba(196, 196, 196, 0);
					}
				}
			}
			.fullScreenContainer {
				rotate: -90deg;
				cursor: pointer;
				opacity: 0;
			}
		}
	}
	.galleryTitleWhenScrolled {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		gap: 10px;
		.galleryTitle {
			color: #7a7e85;
			font-weight: 500;
		}
		.albumTitle {
			color: #f2f2f3;
			font-weight: 500;
		}
	}
	.noAlbumContainer {
		.ant-result-title {
			color: #fff;
		}
		.ant-result-subtitle {
			color: #fff;
		}

		.ant-result-extra {
			.create-album-button {
				display: flex;
				margin: auto;
				padding: 16px 24px;
				justify-content: center;
				align-items: center;
				gap: 4px;
				align-self: stretch;
				border-radius: 100px;
				background: #6055ec;
				cursor: pointer;
				border: none;
				outline: none;
				p {
					color: #fafafa;
					font-size: 13px;
					font-weight: 500;
					line-height: 16px;
					letter-spacing: 0.26px;
				}
			}
		}
	}
	.galleryViewer {
		display: flex;
		flex-direction: column;
		width: 100%;
		.galleryNavbar {
			display: flex;
			width: 100%;
			gap: 16px;
			flex-direction: column;
			.albumDetailsContainer {
				display: flex;
				width: 100%;
				justify-content: space-between;
				.aboutAlbum {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.albumName {
						color: #e4e5e6;
						font-size: 24px;
						font-weight: 500;
						line-height: 38.4px;
						text-transform: capitalize;
					}
					.albumSearchCotainer {
						display: flex;
						gap: 16px;
						align-items: center;
						margin-right: 24px;
						p {
							display: flex;
							width: 146px;
							height: 36px;
							padding: 12px 16px;
							justify-content: center;
							align-items: center;
							overflow: hidden;
							color: #e4e5e6;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 12px;
							font-weight: 500;
							line-height: 20px; /* 166.667% */
							letter-spacing: -0.03px;
							border-radius: 32px;
							border: 1px solid rgba(228, 229, 230, 0.05);
							background: #151515;
						}
						.threeDotsIcon {
							width: 24px;
							height: 24px;
						}
						.galleryEditOptions {
							display: flex;
							position: absolute;
							z-index: 2;
							top: 40px;
							right: 0;
							gap: 16px;
							flex-direction: column;
							width: 204px;
							padding: 16px;
							border-radius: 16px;
							background: #151515;
							li {
								cursor: pointer;
								list-style: none;
								color: #e4e5e6;
								font-family: Inter;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 16px; /* 114.286% */
								letter-spacing: -0.42px;
								text-transform: capitalize;
							}
						}
						.searchContainer {
							display: flex;
							width: 40px;
							gap: 10px;
							padding: 10px;
							align-items: center;
							border-radius: 100px;
							border: 1px solid rgba(228, 229, 230, 0.05);
							background: #151515;
							transition: width 0.3s ease;
							overflow: hidden;
							cursor: pointer;
							input {
								display: none;
								background: transparent;
								border: none;
								color: white;
							}
							svg {
								path {
									fill: #e4e5e6;
								}
							}
							&:hover {
								width: 200px;
								input {
									display: block;
								}
							}
						}
						.iconsContainer {
							display: flex;
							width: 40px;
							height: 40px;
							padding: 10px;
							align-items: center;
							gap: 10px;
							border-radius: 100px;
							border: 1px solid rgba(228, 229, 230, 0.05);
							background: #151515;
							cursor: pointer;
							svg {
								path {
									fill: #e4e5e6;
								}
							}
						}
						.filterContianer {
							position: absolute;
							top: 50px;
							right: -5px;
							display: flex;
							width: 229px;
							padding: 12px 16px;
							flex-direction: column;
							border-radius: 16px;
							border: 1px solid #1f1f1f;
							background: #151515;
							gap: 10px;
							z-index: 2;
							li {
								list-style: none;
								height: 32px;
								color: #e4e5e6;
								font-size: 14px;
								font-weight: 500;
								line-height: 16px; /* 114.286% */
								text-transform: capitalize;
								cursor: pointer;
							}
							.active {
								color: #9747ff;
							}
						}
					}
				}
				.albumContains {
					display: flex;
					gap: 34px;
					.albumContain {
						display: flex;
						align-items: center;
						gap: 7px;
						cursor: pointer;
						p {
							color: var(--secondary-font, #787e87);
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.03px;
						}
						.active {
							overflow: hidden;
							color: var(--primary-font, #f2f2f3);
							text-overflow: ellipsis;
							font-family: Inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.03px;
						}
						.count {
							display: flex;
							height: 20px;
							padding: 4px;
							border-radius: 4px;
							background: #2a2a2a;
							height: fit-content;
							padding: 4px;
							color: #fff;
							font-size: 12px;
							font-weight: 400;
							line-height: 14px;
						}
						.count-active {
							display: flex;
							height: 20px;
							padding: 8px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							border-radius: 4px;
							background: var(--primary-font, #f2f2f3);
							color: var(--card, #171819);
							font-family: Inter;
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
				.saveRearrange {
					display: flex;
					width: 100%;
					justify-content: flex-end;
					padding-right: 100px;
					p {
						display: flex;
						width: 146px;
						height: 36px;
						padding: 12px 16px;
						justify-content: center;
						align-items: center;
						overflow: hidden;
						color: #e4e5e6;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 12px;
						font-weight: 500;
						line-height: 20px; /* 166.667% */
						letter-spacing: -0.03px;
						border-radius: 32px;
						border: 1px solid rgba(228, 229, 230, 0.05);
						background: #151515;
						cursor: pointer;
					}
				}
			}
			.galleryImagesContainer {
				width: 100%;
				padding: 10px;
				height: 83vh;
				.imageUpload {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					gap: 8px;
					width: 100%;
					height: 160px;
					border-radius: 8px;
					border: 1px solid #2a2a2a;
					background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
						#1d1d1d;
					.uploadIcon {
						width: 16px;
						height: 11px;
						path {
							fill: #e4e5e6;
						}
					}
					p {
						color: #e4e5e6;
						font-size: 13px;
						font-weight: 500;
						line-height: 22.5px;
					}
				}
				.imageContainer {
					position: relative;
					margin-bottom: 10px;
					transition: transform 0.3s ease;
					cursor: pointer;
					overflow: hidden;
					border-radius: 8px;
					width: 100%;
					img {
						transition: transform 0.3s ease-in-out;
						&:hover {
							transform: scale(1.1);
						}
					}

					// &:hover {
					// 	opacity: 0.7;
					// }
					// .imageOverlay {
					// 	position: absolute;
					// 	top: 0;
					// 	left: 0;
					// 	width: 100%;
					// 	height: 100%;
					// 	border-radius: 8px;
					// 	background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
					// 	pointer-events: none;
					// }
					.rotating-circle {
						position: absolute;
						top: 10px;
						right: 10px;
						z-index: 10;
						opacity: 0;
						height: 24px;
						width: 24px;
						background: rgba(121, 126, 134, 0.5);
						border-radius: 100px;
					}
					// @keyframes rotateCircle {
					// 	0% {
					// 		transform: rotate(0deg);
					// 	}
					// 	100% {
					// 		transform: rotate(360deg);
					// 	}
					// }
					&:hover {
						.rotating-circle {
							animation: rotateCircle 2s linear infinite;
							opacity: 1;
							filter: blur(0px);
						}
						// img {

						// }
					}
				}
				.selected {
					border: 2px solid var(--primary-font, #f2f2f3);
					border-radius: 12px;
					padding: 6px;
				}
			}
			.clientSelectionImagesContainer {
				animation: slideIn 0.5s ease-out forwards;
			}

			@keyframes slideIn {
				from {
					transform: translateY(100%);
					opacity: 0;
				}
				to {
					transform: translateY(0%);
					opacity: 1;
				}
			}
		}
	}
	.settingsMainContainer {
		display: flex;
		justify-content: space-between;
		padding: 40px;
		width: 100%;
		height: 100%;
		overflow: auto;
		.settingsContianer {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 75%;
			height: 60vh;
			input {
				display: flex;
				width: 464px;
				height: 40px;
				padding: 11px 14px;
				gap: 10px;
				background: transparent;
				border-radius: 10px;
				border: 1px solid rgba(151, 151, 151, 0.2);
				color: white;
			}
			.datePicker {
				background-color: transparent;
				color: white;
				padding: 11px 14px 11px 0px;
				width: 464px;
				border: 1px solid rgba(151, 151, 151, 0.2);
				input {
					height: 18px;
					border: none;
					&::placeholder {
						color: white; // Adjust this color as needed
					}
				}
				span {
					svg {
						fill: #979797;
					}
				}
			}
			.heading {
				color: #fafafa;
				font-size: 18px;
				font-weight: 500;
				line-height: 22px;
				letter-spacing: -0.36px;
				text-transform: capitalize;
			}
			.subHeading {
				color: #fafafa;
				font-size: 14px;
				font-weight: 500;
				line-height: 22px;
			}
			.subTitle {
				color: #979797;
				font-size: 13px;
				font-weight: 400;
				line-height: 21px;
			}
			.active {
				color: #6055ec;
			}
			.settings-overview {
				display: flex;
				padding: 40px;
				flex-direction: column;
				gap: 24px;
				align-self: stretch;
				border-radius: 24px;
				border: 1px solid rgba(151, 151, 151, 0.2);
				background: #151515;
				box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);
				.renameGallery {
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
				.galleryDate {
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
				.callToAction {
					display: flex;
					flex-direction: column;
					gap: 16px;
					.callToActionToggle {
						display: flex;
						gap: 8px;
					}
				}
				.clientSubscription {
					display: flex;
					flex-direction: column;
					gap: 8px;
					.clientSubscriptionToggle {
						display: flex;
						gap: 8px;
					}
				}
				.collaborators {
					display: flex;
					flex-direction: column;
					gap: 8px;
					.collaboratorsContainer {
						display: flex;
						justify-content: space-between;
						.manageButton {
							display: flex;
							padding: 8px 12px;
							flex-direction: column;
							justify-content: center;
							align-items: flex-start;
							gap: 10px;
							border-radius: 47px;
							background: #9747ff;
							cursor: pointer;
						}
					}
					.collaboratorsList {
						display: flex;
						padding: 8px 12px;
						gap: 10px;
						.collaboratorsContainer {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 8px;
							p {
								color: #979797;
								font-size: 12.888px;
								font-weight: 500;
								line-height: 22.093px;
								text-transform: capitalize;
							}
						}
						.collaboratorsImage {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 115px;
							height: 115px;
							flex-shrink: 0;
							border-radius: 4.517px;
							border: 0.565px solid rgba(234, 234, 234, 0.46);
							background: rgba(176, 176, 176, 0.16);
							box-shadow: 0px 3.682px 27.617px 0px rgba(0, 0, 0, 0.03);
							.tenantLogo {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 48px;
								height: 48px;
								border-radius: 100%;
								border: 1px solid #979797;
							}
							p {
								overflow: hidden;
								color: #979797;
								text-overflow: ellipsis;
								font-size: 20px;
								font-weight: 500;
								line-height: 24px;
								letter-spacing: -0.4px;
							}
						}
					}
				}
				.designaContainer {
					display: flex;
					justify-content: space-between;
					.previewLayout {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 12px;
						width: 169px;
						height: 40px;
						padding: 8px 16px;
						border-radius: 100px;
						background: rgba(36, 36, 36, 0.64);
					}
				}
				.coverDesign {
					display: flex;
					flex-direction: column;
					gap: 12px;

					.selectDesign {
						display: flex;
						overflow: hidden;
						gap: 12px;
						overflow-x: auto;
						width: 100%;
						flex: 0 0 auto;
						padding-bottom: 8px;
						.cover-images {
							flex: 0 0 auto;
							width: 175.761px;
							height: 101.429px;
							border-radius: 3.804px;
							background: #e9e6dc;
						}
					}
				}
				.aiBackground {
					display: flex;
					flex-direction: column;
					gap: 12px;
					.aiTogglebar {
						display: flex;
						gap: 12px;
					}
				}
				.titleText {
					display: flex;
					flex-direction: column;
					gap: 12px;
					.textContainer {
						display: flex;
						align-items: center;
						width: 464px;
						border-radius: 10px;
						border: 1px solid rgba(151, 151, 151, 0.2);
						input {
							border: none;
							width: 440px;
						}
					}
				}
				.box {
					display: flex;
					width: 118px;
					padding: 8px 14px;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					flex-shrink: 0;
					border-radius: 8px;
					border: 1px solid rgba(151, 151, 151, 0.2);
					cursor: pointer;
					.active {
						rect {
							fill: #6055ec;
						}
					}
				}
				.activeBorder {
					border-color: #6055ec;
				}
				.grid-style {
					display: flex;
					flex-direction: column;
					gap: 16px;
					.grid-types {
						display: flex;
						gap: 39px;
					}
				}
				.thumbnail-size {
					display: flex;
					flex-direction: column;
					gap: 16px;
					.thumbnail-types {
						display: flex;
						gap: 39px;
					}
				}
				.deletePermanently {
					display: flex;
					margin: 10px 0px;
					max-width: 390px;
					align-items: center;
					gap: 16px;
					transition: all 0.3s ease;
					button {
						display: flex;
						padding: 15px 35px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						border-radius: 100px;
						background: #ea4f4f;
						overflow: hidden;
						color: #fff;
						text-overflow: ellipsis;
						font-size: 13px;
						font-weight: 500;
						line-height: 16px;
						border: none;
						cursor: pointer;
						outline: none;
						transition: opacity 0.3s ease;
					}

					input {
						width: 100%;
						max-width: 215px;
						border: none;
						outline: none;
						background: transparent;
						height: 46px;
						padding: 12px 20px 12px 16px;
						align-items: center;
						border-radius: 100px;
						border: 1px solid #2f2f2f;
						color: #fff;
					}

					svg {
						cursor: pointer;
					}
				}
			}

			.title {
				color: #fafafa;
				font-size: 14px;
				font-weight: 500;
				line-height: 22px; /* 157.143% */
			}
			.album-cover-container {
				display: flex;
				gap: 28px;
				height: 550px;
				justify-content: center;
				.album-preview {
					display: flex;
					width: 939px;
					height: 453px;
					position: relative;
					align-items: center;
					.laptop-preview {
						display: flex;
						align-items: center;
						flex-direction: column;
						width: 685px;
						height: 404px !important;
						border-radius: 2.846px;
						position: relative;
						.screen {
							width: 445px;
							height: 291px;
							background: #000;
							padding: 16px;
							border-top-left-radius: 16px;
							border-top-right-radius: 16px;
							border-radius: 2.846px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						button {
							position: absolute;
							bottom: 10%;
							right: 45%;
							color: #fff;
							border: none;
							border-radius: 100px;
							display: flex;
							width: 133px;
							height: 39px;
							padding: 12px 24px;
							justify-content: center;
							align-items: center;
							gap: 16px;
							color: #000;
							font-family: Inter;
							font-size: 13px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
					.mobile-preview {
						display: flex;
						padding: 1px;
						position: relative;
						bottom: -94px;
						left: 101px;
						z-index: 100;
						.mobile-preview-container {
							width: 184px;
							height: 352px;
							border-radius: 24px;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.mobile-logo {
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}
				}
				.album-cover-image {
					width: 100%;
					height: 100%;
					position: relative;
					img {
						border-radius: 24px;
						border: 1px solid #eaeaea;
						cursor: pointer;
						overflow: hidden;
					}
				}
			}
			.upload-cover-photo {
				display: flex;
				gap: 26px;
				width: 100%;
				justify-content: center;
				.bt {
					display: flex;
					width: 177px;
					padding: 12px;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					gap: 10px;
					border-radius: 33px;
					background: #e8e8e8;
				}
			}
		}
	}
	.settingsNavContianer {
		display: flex;
		flex-direction: column;
		gap: 16px;
		position: sticky;
		top: 10px;
		li {
			list-style: none;
			color: #979797;
			text-align: right;
			font-size: 14px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -0.28px;
			cursor: pointer;
		}
		.active {
			color: #9747ff;
		}
	}
}

.rearrange-image-container-wrapper {
	display: flex;
	width: 100%;
	// height: 60vh;
	overflow: auto;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	.selected {
		border-color: 1px solid #007bff;
	}
	.rearrange-image-container {
		border: 2px solid transparent;
		transition: all 0.2s;
		border-radius: 4px;
		overflow: hidden;
	}
}

// .rearrange-image-container.selected {
// 	border-color: #007bff;
// }

// .rearrange-image-container:hover {
// 	transform: scale(1.02);
// }

// .rearrange-image-container.dragging {
// 	opacity: 0.5;
// }
// .hideScrollBar {
// 	::-webkit-scrollbar {
// 		display: none;
// 	}
// }
// .focus-picker-img {
// 	img {
// 		background-color: red;
// 	}
// }
.selectedImagesCotainer {
	display: flex;
	justify-content: space-between;
	width: 486px;
	height: 48px;
	padding: 12px 24px;
	border-radius: 100px;
	background: #1d1d1d;
	position: fixed;
	z-index: 5;
	bottom: 0;
	bottom: 20px; // Add some space from the bottom
	left: 50%; // Position the left edge at 50% of the parent
	transform: translateX(-50%);
	.selectedImagesCounter {
		display: flex;
		gap: 11px;

		p {
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			line-height: 22.5px; /* 160.714% */
		}
	}
	.selectedImagesActions {
		display: flex;
		gap: 16px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		.forwardOptions {
			position: absolute;
			top: -75px;
			right: 0;
			display: flex;
			flex-direction: column;
			gap: 8px;
			border-radius: 16px;
			background: #151515;
			width: 200px;
			padding: 12px 16px;
			li {
				color: #e4e5e6;
				font-size: 14px;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: -0.42px;
				text-transform: capitalize;
				list-style: none;
				padding: 8px 0px;
			}
		}
		.pinOptions {
			position: absolute;
			top: -150px;
			right: 0;
			display: flex;
			flex-direction: column;
			gap: 12px;
			border-radius: 16px;
			background: #151515;
			width: 200px;
			height: 130px;
			overflow: scroll;
			.pinSearchContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px;
				width: 100%;
				gap: 8px;
				background: #1f1f1f;
				p {
					color: rgba(228, 229, 230, 0.48);
					font-size: 12px;
					font-weight: 500;
					line-height: 16px; /* 133.333% */
					text-transform: capitalize;
				}
				input {
					width: 100%;
					background: transparent;
					border: none;
					color: white;
				}
			}
			.pinOptionsList {
				display: flex;
				flex-direction: column;
				gap: 3px;
				width: 100%;
				padding: 2px 8px;
				.checkboxLabel {
					display: flex;
					gap: 8px;

					span {
						overflow: hidden;
						color: #e4e5e6;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-family: Inter;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px; /* 133.333% */
						letter-spacing: -0.3px;
					}
				}
			}
		}
		.optionsContainer {
			display: flex;
			flex-direction: column;
			gap: 10px;
			border-radius: 16px;
			background: #151515;
			width: 150px;
			padding: 12px 16px;
			position: absolute;
			top: -200px;
			right: 0;
			li {
				color: #e4e5e6;
				font-size: 14px;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: -0.42px;
				text-transform: capitalize;
				list-style: none;
				padding: 8px 0px;
			}
		}
	}
}
