@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('Manrope-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('Manrope.ttf') format('truetype'), url('Manrope-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('Manrope-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'manrope';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('Manrope-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Brasley';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('Manrope-Bold.ttf') format('truetype'), url('Manrope-ExtraBold.ttf') format('truetype');
}
