.ask-tooltip-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
	width: 220px;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	padding: 6px 0px;

	.title-text {
		width: 100%;
		padding: 4px 8px 4px 12px;
		color: var(--secondary-font, #7a7e85);
		font-family: var(--primary-font-family);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.options {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		max-height: 112px;
		overflow-y: auto;
		.option {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 0px 8px;
			gap: 8px;
			height: 36px;
			cursor: pointer;
			transition: background-color 0.2s ease-out;
			&:hover {
				background-color: var(--card-over-card-hover);
			}

			.title-container {
				display: flex;
				align-items: center;
				gap: 8px;

				.text-container {
					color: var(--primary-font);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}
	}
}

.ask-tooltip-wrapper {
	max-width: unset;
}
