.chatParentWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 20;

	.chatWrapper {
		// overflow: hidden;
		position: relative;
		display: flex;
		align-items: flex-end;
		.voiceContainer {
			position: absolute;
			left: 50%;
			bottom: 0;
			transition: all 0.8s cubic-bezier(0.34, 1, 0.64, 1);
			z-index: 1;
			&.active {
				transform: translate(-50%, 0);
				opacity: 1;
			}
			&.inactive {
				transform: translate(-50%, 200px);
				opacity: 0;
			}
		}
		.chat-box-container {
			transition: all 0.8s cubic-bezier(0.34, 1, 0.64, 1);
			opacity: 1;
			width: 100%;

			&.active {
				transform: translateY(0);
				opacity: 1;
			}
			&.inactive {
				transform: translateY(200px);
				opacity: 0;
			}
			.chatcontainer {
				// width: 100%;
				// max-width: 700px;
				.chatBodyContainer {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.chatInputContainer {
						position: relative;
						display: flex;
						flex-direction: column;
						gap: 10px;
						width: 100%;
						padding: 14px;
						background-color: var(--chat-box);
						border-radius: 16px;
						border: 0.5px solid var(--stroke);
						transition: border 200ms ease-in-out, height 300ms ease-in-out;

						&:hover {
							border: 0.5px solid var(--stroke-hover);
						}

						&:focus-within {
							border: 0.5px solid var(--primary-button);
							box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2) inset,
								0px 0px 15px 0px rgba(121, 236, 201, 0.25) inset,
								0px 0px 12px 0px rgba(121, 236, 201, 0.2);
						}

						.suggestions-container {
							display: flex;
							align-items: center;
							justify-content: center;
							gap: 10px;
							.suggestion-text {
								padding: 8px 12px;
								width: fit-content;
								gap: 6px;
								border-radius: 37px;
								background: var(--card);
								color: var(--primary-font);
								font-family: var(--primary-font-family);
								font-size: 12px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								cursor: pointer;
							}
						}

						.chatInputParentContainer {
							display: flex;
							width: 100%;
							flex-direction: column;
							gap: 12px;
							align-self: center;
							overflow: hidden;
							position: relative;

							&.startPageContainer {
								padding: 12px;
							}

							.recent-file-wrapper {
								position: absolute;
								width: 1px;
								height: 20px;
								bottom: 18px;
								left: 16px;
								background: transparent;
							}
							.chat-input-container {
								display: flex;
								align-items: center;
								gap: 14px;

								.placeholderContainer {
									position: relative;
									width: 100%;
									margin-bottom: 8px;
									top: 1px;
									&.startPagePlaceholderContainer {
										top: -3px;
									}

									.suggestion-container {
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 30px;
										background: transparent;
										padding: 4px 0 4px 8px;
										color: var(--secondary-font);
										font-family: var(--primary-font-family);
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										transition: height 300ms ease-in-out;
									}
									.textAreaWrapper {
										height: 30px;
										transition: height 300ms ease-in-out;
										overflow: hidden;
										.textArea {
											display: block;
											width: 100%;
											height: 100%;
											border: none;
											outline: none;
											background: transparent;
											color: var(--primary-font);
											font-family: var(--primary-font-family);
											font-size: 16px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											resize: none;
											position: relative;
											padding: 4px 0px 4px 8px;
											z-index: 0;
											&::placeholder {
												font-size: 15px;
												color: var(--secondary-font);
												font-weight: 400;
											}
											&.startTextPage {
												margin-top: 0px;
												top: 11px;
											}
										}
									}
								}
								.vertical-line {
									height: 20px;
									width: 1px;
									background: var(--stroke);
								}
							}

							.chatInputParentContainer__options-container {
								width: 100%;
								overflow-y: auto;
								flex-shrink: 0;
								.filters-parent-container {
									display: flex;
									align-items: center;
									gap: 16px;
									height: 100%;
									.close-filters {
										transform: rotate(180deg);
										cursor: pointer;
									}

									.filters-wrapper {
										display: flex;
										align-items: center;
										gap: 12px;
										.filters-container {
											display: flex;
											flex-direction: row;
											align-items: center;
											gap: 4px;
											.search-dropdown {
												.search-dropdown-button {
													display: flex;
													height: 32px;
													padding: 8px 14px;
													align-items: center;
													gap: 6px;
													border-radius: 100px;
													background: var(--card-hover);
													cursor: pointer;
													.selected-options-count {
														color: var(--primary-font);
														font-family: var(--primary-font-family);
														font-size: 13px;
														font-style: normal;
														font-weight: 500;
														line-height: normal;
													}
													.header-title {
														color: var(--primary-font);
														font-family: var(--primary-font-family);
														font-size: 13px;
														font-style: normal;
														font-weight: 500;
														line-height: normal;
														flex-grow: 1;
													}
													.chevron-container {
														transform: rotate(90deg);
														svg {
															path {
																stroke: var(
																	--primary-font
																) !important;
															}
														}
													}
												}
											}
										}
										.reset-filters {
											height: 16px;
											cursor: pointer;
										}
									}
								}
								.buttons-container {
									display: flex;
									justify-content: space-between;
									width: 100%;
									height: 100%;

									.chat-icons-container {
										display: flex;
										gap: 4px;
										align-items: center;
										justify-content: center;

										& > * {
											cursor: pointer;
										}

										.combined-chat-options {
											display: flex;
											gap: 4px;
											border-radius: 6px;
											position: relative;

											z-index: 10;
											overflow: hidden;
											.chat-box-icon-container {
												display: flex;
												justify-content: center;
												align-items: center;

												.plus-icon {
													height: 17px;
												}
												.chat-icon {
													display: flex;
													align-items: center;
													justify-content: center;
													height: 27px;

													.text-wrapper {
														display: flex;
														align-items: center;
														justify-content: center;
														gap: 6px;
														padding: 7px;
														border: 1px solid transparent;
														border-radius: 6px 0 0 6px;
														// height: 27px;
														.icon-text {
															border: none !important;
															padding: 0 !important;
															display: none;
														}

														.bulb-icon {
															height: 20px;
															svg {
																path {
																	stroke: var(--primary-font);
																}
															}
														}
													}
													.deep-research-text-wrapper,
													.goals-text-wrapper,
													.build-text-wrapper,
													.ask-text-wrapper {
														border-radius: 6px;
														&:hover {
															border: 1px solid var(--stroke-hover);
														}
													}
													.icon-arrow-wrapper {
														// width: 0px;
														// height: 100%;
														// transition: width 200ms ease-in-out;
														display: none;
													}
													.icon-arrow-wrapper-active {
														display: block;
													}

													.icon-arrow {
														display: flex;
														align-items: center;
														justify-content: center;
														height: 27px;
														border-radius: 0px 6px 6px 0px;
														position: relative;
														left: -1px;
														border: 1px solid transparent;

														svg {
															width: 12px;
															height: 12px;
														}
													}

													.icon-text {
														height: 100%;
														overflow: hidden;
														text-overflow: ellipsis;
														color: var(--secondary-font);
														font-family: var(--primary-font-family);
														font-size: 12px;
														font-style: normal;
														font-weight: 500;
														line-height: normal;
														padding: 6px 8px;
														box-sizing: border-box;
														border: 1px solid transparent;

														&:hover {
															color: var(--primary-font);
														}
													}
												}
												.transcription-indicator {
													position: relative;
													left: 10px;
													.audio-visualizer {
													}
												}
											}
											.chat-box-icon-container.active {
												display: flex;
												height: 36px;
												justify-content: center;
												align-items: center;
												gap: 6px;
												align-self: stretch;
												border-radius: 8px;
												border: 1px solid var(--stroke, #2c2d2e);
												background: var(--card, #18191b);
												.chat-icon {
													.deep-research-text-wrapper,
													.goals-text-wrapper,
													.build-text-wrapper,
													.ask-text-wrapper {
														border-radius: 6px;
														&:hover {
															border: 1px solid transparent !important;
														}
													}
													.icon-text {
														display: block;
														color: var(--primary-font, #f2f2f3);
														font-family: var(--primary-font-family);
														font-size: 14px;
														font-style: normal;
														font-weight: 500;
														line-height: normal;
													}
												}

												.websearch-icon {
													svg {
														path {
															stroke: var(--primary-button);
														}
													}
												}

												.workspace-search-icon {
													svg {
														path {
															fill: var(--primary-button);
														}
													}
												}
												.text-wrapper {
													padding: 0px 8px !important;
													border: 1px solid transparent;
												}
											}
										}
									}

									.right-container {
										display: flex;
										align-items: center;
										gap: 10px;
										.agent-container {
											display: flex;
											padding: 3px;
											align-items: center;
											align-self: stretch;
											border-radius: 64px;
											background: var(--card-over-card, #202123);

											.agent {
												display: flex;
												padding: 4px 10px;
												justify-content: center;
												align-items: center;
												align-self: stretch;
												border-radius: 100px;
												// background: var(--card, #28292c);

												color: var(--secondary-font, #787e87);
												text-align: center;
												font-family: var(--primary-font-family);
												font-size: 12px;
												font-style: normal;
												font-weight: 500;
												line-height: normal;
												cursor: pointer;
												transition: all 200ms ease-in-out;
												border: 1px solid transparent;
											}

											.agent.active {
												background: var(--primary-button, #f2f2f3);
												border: 1px solid var(--stroke, #404548);
												box-shadow: 3px 0px 7.4px 0px var(--card, #202123);
												color: var(--primary-button-font, #0c0c0d);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.chatbarContainer {
		position: absolute;
		top: 0;
		transform: translateY(calc(-100% - 10px));
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		.scroll-btn-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			.scroll-button {
				transform: rotate(135deg);
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: var(--card);
				border: 1px solid var(--stroke, #333334);
				color: var(--primary-font, #f2f2f3);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				transition: all 0.3s ease;
				z-index: 999;
			}
		}

		.credits-upgrade-container {
			display: flex;
			padding: 16px;
			align-items: center;
			gap: 24px;
			align-self: stretch;
			border-radius: 8px;
			background: var(--card, #18191b);
			width: 100%;

			.left-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				gap: 8px;
				flex: 1 0 0;

				.title-container {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					gap: 8px;

					.coin-icon {
						width: 16px;
						height: 16px;
					}

					.title-text-container {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--primary-font-family);
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}
				}

				.description-container {
					color: var(--secondary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px; /* 153.846% */
				}
			}

			.right-container {
				.upgrade-button {
					display: flex;
					padding: 8px 16px;
					justify-content: center;
					align-items: center;
					gap: 6px;
					border-radius: 100px;
					background: var(--primary-button, #79ecc9);
					cursor: pointer;

					color: var(--background-color, #0c0c0d);
					font-family: var(--primary-font-family);
					font-size: 13px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}
			}
		}

		.recent-files-container {
			overflow-y: auto;
			display: flex;
			flex-direction: row;
			display: flex;
			width: 100%;
			align-items: center;
			gap: 12px;
			.recent-file {
				display: flex;
				padding: 8px 12px;
				align-items: center;
				gap: 6px;
				border-radius: 37px;
				background: var(--popup, #202123);
				white-space: nowrap;
				.file-type-icon {
					display: flex;
					width: 16px;
					height: 16px;
					padding: 2px 2.728px 1px 2px;
					justify-content: center;
					align-items: center;
				}
				.recent-file-name {
					max-width: 300px;
					display: flex;
					.file-title {
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 100%;

						color: var(--primary-font, #f2f2f3);
						text-align: center;
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}
				.close-icon-container {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
				}
			}
		}

		.chat-reply-data {
			display: flex;
			gap: 12px;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			margin-top: 10px;
			padding: 12px 6px;
			border-radius: 12px;
			background-color: var(--card-over-card-hover);

			.reply-text {
				display: -webkit-box;
				-webkit-line-clamp: 3;
				line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-all;
				flex-grow: 1;

				color: var(--secondary-font);
				font-family: var(--primary-font-family);
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			.reply-close-icon {
				cursor: pointer;
				height: 16px;
			}
		}

		.imagePreviewBar {
			display: flex;
			gap: 8px;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
			height: 40px;
			overflow-y: auto;
			padding: 0px 8px;
			cursor: pointer;
			width: 100%;
			margin: auto;
			box-sizing: border-box;

			.previewOfUploadedImage {
				height: 40px;
				width: 40px;
				background-color: var(--primary-font);
				border-radius: 2px;
				position: relative;
				box-sizing: border-box;

				.removeImageIcon {
					position: absolute;
					top: 1px;
					right: 2px;
					background-color: var(--backdrop);
					width: 12px;
					height: 12px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}

				.spinContainerLoaderForPreview {
					display: flex;
					width: 100%;
					height: 100%;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 0;
					left: 0;
					background-color: var(--primary-font);
					border-radius: 12px;
					opacity: 0.5;
				}
			}
		}
	}
}

.upload-file-icon-container {
	display: flex;
	width: 36px;
	height: 36px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	flex-shrink: 0;
	border-radius: 6px;
	&:hover {
		border: 1px solid var(--stroke-hover, #2c2d2e);
	}
	svg {
		flex-shrink: 0;
	}
	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 6px;
	}
}
.start-page-icon {
	border: unset !important;
	padding: 0 2px 0 8px !important;
	svg {
		width: 20px !important;
		height: 20px !important;
	}
}
.llm-model-container {
	display: flex;
	width: 234px;
	height: 290px;
	padding: 12px;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	border-radius: 16px;
	background: var(--card, #26282a);
	box-shadow: 4px 4px 13px 0px rgba(23, 24, 25, 0.4);

	.input-container {
		display: flex;
		padding: 12px 16px;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-radius: 24px;
		background: var(--card-over-card, #2f3336);
		input {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			background: var(--card-over-card, #2f3336);
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}
	}
	.options-container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		overflow-y: auto;

		.option {
			display: flex;
			height: 34px;
			padding: 6px 8px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			border-radius: 8px;
			cursor: pointer;
			&:hover {
				background: var(--card-over-card, #2f3336);
			}
			.option-title {
				color: var(--primary-font, #f2f2f3);
				flex: 1 0 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px; /* 157.143% */
			}
		}

		.option.selected {
			background: var(--card-over-card, #2f3336);
		}
	}
}
.search-dropdown-container {
	display: flex;
	width: 234px;
	height: 211px;
	padding: 12px;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	border-radius: 16px;
	background: var(--card);
	box-shadow: 4px 4px 13px 0px rgba(23, 24, 25, 0.4);

	.input-container {
		display: flex;
		padding: 12px 16px;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-radius: 24px;
		background: var(--card-hover);
		input {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			background: var(--card-hover);
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}
	}
	.options-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		align-self: stretch;
		overflow-y: auto;
		.option {
			display: flex;
			height: 34px;
			padding: 6px 8px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			border-radius: 8px;
			cursor: pointer;
			.option-title {
				flex: 1 0 0;
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 22px; /* 157.143% */
			}
		}
	}
}

.upload-file-container {
	display: flex;
	width: 250px;
	padding: 6px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);

	.horizontal-line {
		width: 100%;
		height: 1px;
		background: var(--stroke);
	}

	.chat-integrations-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		align-self: stretch;

		.integration {
			display: flex;
			height: 36px;
			padding: 0px 16px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			cursor: pointer;

			.integration-icon {
				height: 16px;
				svg {
					width: 18px;
					height: 16px;
				}
			}
			.integration-title {
				flex: 1 0 0;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: break-all;
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}

	.upload-file-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;
		align-self: stretch;

		.upload-file-header {
			display: flex;
			height: 36px;
			width: 100%;
			padding: 0px 16px;
			align-items: center;
			gap: 12px;
			align-self: stretch;
			cursor: pointer;

			&:hover {
				background: var(--card-hover, #2f3336);
			}

			.upload-file-text {
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
	}
}

.recent-file-container {
	display: flex;
	width: 320px;
	padding-bottom: 6px;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);
	background-color: var(--navbar);
	position: relative;
	top: -45px;
	.input-container {
		display: flex;
		padding: 14px;
		align-items: center;
		gap: 8px;
		align-self: stretch;
		border-bottom: 1px solid var(--stroke, #2c2d2e);
		svg {
			path,
			circle {
				stroke: var(--secondary-font);
			}
		}
		input {
			flex: 1 0 0;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			color: var(--secondary-font);
			background-color: transparent;
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}

	.recent-files-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2px;
		align-self: stretch;
		.header {
			display: flex;
			padding: 8px 16px 6px 16px;
			align-items: center;
			gap: 10px;
			align-self: stretch;
			color: var(--secondary-font, #7a7e85);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
		.recent-files {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 2px;
			align-self: stretch;
			width: 100%;
			overflow-y: auto;
			.recent-file {
				display: flex;
				padding: 8px 16px;
				align-items: center;
				gap: 8px;
				align-self: stretch;
				cursor: pointer;
				transition: background 0.2s ease-in-out;

				&:hover {
					background: var(--card-hover, #2f3336);
				}
				.file-type-icon {
					display: flex;
					width: 34px;
					height: 34px;
					padding: 7px;
					justify-content: center;
					align-items: center;
					border-radius: 4px;
					border: 1px solid var(--stroke, #2c2d2e);
					background: var(--popup, #202123);
					box-sizing: border-box;

					svg {
						width: 20px;
						height: 20px;
					}
				}
				.file-name {
					overflow: hidden;
					color: var(--primary-font);
					text-overflow: ellipsis;
					white-space: nowrap;
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					width: 230px;
				}
				.selected-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 6px;
				}
			}
			.recent-file.selected {
				background: var(--card-hover, #2f3336);
			}
		}
	}
}

.search-type-container {
	display: flex;
	padding: 8px 0px;
	width: 280px;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 12px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	.items-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		.item {
			display: flex;
			padding: 8px 16px;
			justify-content: space-between;
			align-items: center;
			align-self: stretch;
			.icon {
				display: flex;
				align-items: center;
				padding-top: 1px;
				margin-right: 8px;
				align-self: flex-start;
				svg {
					width: 20px;
					height: 20px;
				}
			}
			.search-type-text-container {
				display: flex;
				padding: 2px;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				flex-grow: 1;
				gap: 4px;
				.title-text {
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.subtitle-text {
					color: var(--secondary-font, #7a7e85);
					font-family: var(--primary-font-family);
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					width: 160px;
				}
			}
			.toggle-button-container {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.custom-switch .ant-switch-handle::before {
	background-color: var(--secondary-button) !important; /* Default white handle */
}
.custom-switch.ant-switch-checked .ant-switch-handle::before {
	background-color: var(--background-color) !important; /* Default white handle */
}

.preview-image-container {
	.ant-image-preview-wrap {
		z-index: 1020 !important;
	}
}

.chatbox-icon-tooltip-container {
	display: flex;
	padding: 10px;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	border: 1px solid var(--stroke, #2c2d2e);
	background: var(--popup, #202123);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
	color: var(--primary-font, #7a7e85);
	font-family: var(--primary-font-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(8%);
	width: 400px;
	span {
		color: var(--primary-font, #f2f2f3);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	svg {
		margin-top: 2px;
	}
}
.research-tooltip-container {
	svg {
		path {
			fill: var(--primary-button);
		}
	}
}
.goals-tooltip-container {
	width: 100px;
	transform: translateX(120%);
	svg {
		path {
			stroke: var(--primary-button);
		}
	}
}
.build-icon-tooltip-container {
	width: 100px;
	transform: translateX(80%);
	svg {
		path {
			stroke: var(--primary-button);
		}
	}
}

.deep-search-tooltip-container {
	width: 135px;
	transform: translateX(115%);
}

.upload-file-tooltip-btn-container {
	width: 125px;
	left: 36%;
	transform: translateX(225%);
}
.ask-option-tooltip-container {
	width: 100px;
	transform: translateX(220%);
}

.chatbox-tooltip {
	max-width: unset;
}

.search-type-tooltip {
	max-width: unset;
}

.upload-file-tooltip-container {
	max-width: unset;
}

.recent-file-tooltip-container {
	max-width: unset;
}

.click-btn {
	display: flex;
	width: 32px;
	height: 32px;
	padding: 6px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	border-radius: 8px;
	background: var(--primary-button, #79ecc9);
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
		.voice-icon svg {
		width: 17px !important;
		height: 17px !important;
		path {
			stroke: var(--primary-button) !important;
		}
	}
	.voice-wave-icon {
		width: 17px !important;
		height: 17px !important;
		path {
			stroke: var(--background-color) !important;
		}
	}
}

.active {
	opacity: 1;
}
@media screen and (max-width: 700px) {
	.icon {
		.icon-text,
		.icon-arrow {
			display: none !important;
		}
	}
}

// Transcription indicator styles
.textarea-container {
	position: relative;
	width: 100%;

	.textArea {
		&.transcribing {
			border-color: var(--error-color);
			box-shadow: 0px 0px 12px 0px rgba(255, 0, 0, 0.1);
		}
	}

	.transcription-indicator {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 6px 12px;
		border-radius: 8px;
		z-index: 10;

		.audio-visualizer {
			width: 160px;
			height: 32px;
			border-radius: 4px;
		}
	}
}

.click-btn.transcribing {
	background: var(--error-color) !important;
	opacity: 1 !important;

	svg {
		path {
			stroke: white !important;
		}
	}
}

// Speech-to-text button styles
.speech-to-text-btn {
	background: none !important;
	opacity: 0.8;
	transition: all 0.2s ease-in-out;

	&:hover {
		opacity: 1;
		background: var(--stroke) !important;
	}
	svg {
		path {
			stroke: var(--primary-font) !important;
		}
	}

	&.transcribing {
		background: var(--error-color) !important;
		opacity: 1 !important;

		svg {
			path {
				stroke: white !important;
			}
		}
	}
}
