.citation-container {
	cursor: pointer !important;
	margin: 0 0 0 4px;
	padding: 0;
	background-color: transparent;
	display: inline-block;
	border: none;
	vertical-align: middle;

	.citation-wrapper {
		.citation-with-icon {
			display: flex;
			height: 20px;
			padding: 4px 6px;
			align-items: center;
			gap: 6px;
			border-radius: 100px;
			background: var(--card-over-card-hover);
			transition: all 0.2s ease-in-out;

			&:hover {
				background-color: var(--primary-font);
				.citation-text {
					color: var(--background-color);
					opacity: 1;
				}
			}

			.citation-icon {
				width: 10px;
				height: 10px;
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					width: 10px;
					height: 10px;
				}

				.favicon-image {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 100px;
				}

				.company-icon {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--primary-font);
					font-weight: 500;
					font-size: 14px;
					border-radius: 100px;
				}
			}

			.citation-text {
				width: fit-content;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				transition: all 0.2s ease-out;
				color: var(--primary-font);
				opacity: 0.8;
				font-family: var(--chat-primary-font-family);
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.2px;

				&:first-letter {
					text-transform: capitalize;
				}
			}
		}
	}
}

.citation-tooltip-wrapper {
	max-width: unset;
	.ant-tooltip-inner {
		padding: 3px 0 0 0;
	}
	.citation-tooltip-container {
		display: flex;
		width: 350px;
		padding: 13px;
		flex-direction: column;
		gap: 10px;
		border-radius: 12px;
		background: var(--popup);
		cursor: pointer;
		position: relative;

		.tooltip-content {
			flex-grow: 1;
			min-height: 0px;
			max-height: 270px;
			overflow-y: auto;
			flex-shrink: 0;
			color: var(--primary-font);
			font-family: var(--chat-primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px; /* 150% */
			padding-left: 10px;
			border-left: 1px solid var(--stroke-hover);
		}

		.info {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;

			.citation-link-container {
				display: flex;
				align-items: center;
				gap: 8px;
				align-self: stretch;

				.icon {
					width: 16px;
					height: 16px;
					flex-shrink: 0;
					aspect-ratio: 1/1;
					padding: 0;
					display: flex;

					.favicon-image {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 100px;
					}

					.company-icon {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						color: var(--primary-font);
						font-weight: 500;
						font-size: 14px;
						border-radius: 100px;

						svg {
							width: 15px;
							height: 15px;
						}
					}
				}

				.citation-link {
					flex-grow: 1;
					color: var(--primary-font);
					font-family: var(--chat-primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}

			.citation-title {
				color: var(--primary-font);
				line-height: 20px;
				font-weight: 500;
				width: 100%;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				overflow-wrap: break-word;
				text-overflow: ellipsis;
			}
			.citation-description {
				width: 100%;
				color: var(--primary-font);
				line-height: 20px;
				font-weight: 400;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				overflow-wrap: break-word;
				text-overflow: ellipsis;
			}
		}
	}
}
