.citation-tooltip-header {
	padding: 5px 12px !important;
	flex-direction: column !important;
	color: var(--secondary-font) !important;
	font-family: var(--primary-font-family) !important;
	font-size: 10px !important;
	font-style: normal !important;
	font-weight: 500 !important;
	line-height: normal !important;
	border-radius: 100px !important;
	background: var(--card) !important;
	transition: all 0.2s ease-in-out !important;
	cursor: pointer !important;
	&:hover {
		background: var(--card-hover) !important;
		color: var(--primary-font) !important;
	}
	margin-left: 6px !important;
}

.citation-tooltip-wrapper {
	max-width: unset;
	.citation-tooltip-container {
		display: flex;
		width: 312px;
		padding: 24px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		border-radius: 16px;
		background: var(--card);

		.tooltip-content {
			width: 280px;
			height: 270px;
			overflow-y: auto;
			flex-shrink: 0;
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px; /* 150% */
		}

		.info {
			display: flex;
			align-items: center;
			padding: 10px;
			flex-direction: row;
			gap: 10px;
			align-self: stretch;
			border-radius: 10px;
			background: var(--card-over-card);

			.image {
				display: flex;
				width: 24px;
				height: 24px;
				padding: 4px;
				justify-content: center;
				align-items: center;
				color: var(--primary-font);
				border-radius: 4px;
				background: var(--card);
			}

			.citation-link {
				width: 100%;
				color: var(--primary-font);
				font-family: var(--primary-font-family);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}
