.form-model-chat-bar-container {
    transition: inherit;
    transform-origin: left center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: var(--navbar);
    will-change: transform;
    .chat-to-note-link-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 12px 20px;
        gap: 24px;
        background-color: var(--card-over-card-hover);

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--primary-font, #f2f2f3);
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .link-icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            padding: 6px 14px;
            gap: 6px;
            border-radius: 24px;
            background: var(--popup, #202123);
            cursor: pointer;
            transition: 100ms ease-in-out;

            svg {
                path {
                    stroke: var(--primary-font) !important;
                }
            }
        }

        .link-icon-container.active {
            background-color: var(--primary-button);
            svg {
                path {
                    stroke: var(--primary-button-font) !important;
                }
            }
        }
    }

    .chat-box-wrapper {
        margin: 24px 12px;
        width: calc(100% - 24px);
        height: 110px;
        position: relative;
    }
    .chatBodyParentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 24px;
        overflow-y: scroll;
        width: 100%;
        height: calc(100% - 204px);
        transition: 300ms ease-in-out;
        background-color: var(--card);

        .chatContent {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;

            .aiMessageWrapper {
                .text-container {
                    color: var(--secondary-font, #787e87);
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    .char {
                        transition: color 0.2s ease-in-out;
                    }

                    .highlight-char {
                        color: #f2f2f3;
                    }
                }
            }

            .chat-message {
                display: flex;
                // justify-content: flex-end;

                .message-content {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    color: var(--primary-font);
                }
            }
            .ai-message:hover {
                .hover-actions-container {
                    visibility: visible;
                }
            }

            .ai-message {
                .message-content {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    gap: 6px;
                    color: var(--primary-font);
                    border-radius: 100px;
                    font-size: 15px;
                    line-height: 22px;
                    font-size: 15px;
                    border-radius: 100px;
                    padding-top: 0px;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                    }
                }
            }

            .user-message {
                display: flex;
                justify-content: flex-end;
                word-wrap: break-word;
                overflow-wrap: break-word;
                width: 100%;
                word-wrap: break-word;
                overflow-wrap: break-word;
                width: 100%;
                .message-content {
                    max-width: 100%;
                    max-width: 100%;
                    padding: 12px 16px;
                    background-color: var(--popup);
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    border-radius: 24px;
                    line-height: 21px;
                    font-size: 14px;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}
