.browserPlanContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	animation: browserPlanMount 0.3s ease-in-out linear forwards;

	.titleContainer {
		display: flex;
		flex-direction: column;
		gap: 6px;

		.title,
		.header {
			color: var(--primary-font);
			font-family: var(--primary-font-family);
			font-size: 16px;
			font-weight: 500;
			line-height: normal;
			font-style: normal;
		}
		.header {
			font-weight: 600;
		}
	}

	.actionsContainer {
		display: flex;
		flex-direction: column;
		.actionsTitle {
			color: var(--primary-font, #f2f2f3);
			font-family: var(--primary-font-family);
			font-size: 16px;
			font-style: normal;
			font-weight: 450;
			line-height: 27px;
		}

		.actions {
			display: flex;
			flex-direction: column;
			padding-left: 22px;
			margin: 0;

			.action {
				padding-left: 3px;
				color: var(--primary-font, #f2f2f3);
				font-family: var(--primary-font-family);
				font-size: 16px;
				font-style: normal;
				font-weight: 450;
				line-height: 27px;
			}
		}
	}
}

:global {
	@keyframes browserPlanMount {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
