.chatRightBar {
	width: fit-content;
	height: 100%;
	overflow: auto;

	.citationsWrapper {
		width: 400px;
		height: 100%;
		overflow: auto;
	}

	.notesWrapper {
		width: 60vw;
		height: 100%;
		overflow: auto;
	}
}
