.cot-wrapper {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 28px;
	.refined-cot-container,
	.cot-container {
		display: flex;
		flex-direction: column;
		gap: 12px;

		> :last-child {
			.line {
				height: calc(100% - 12px) !important;
			}
		}

		.cot {
			display: flex;
			gap: 8px;

			.logo-container {
				top: 2px;
				position: relative;
				flex-shrink: 0;
				display: flex;
				width: 14px;
				height: 14px;
				padding: 4.5px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				aspect-ratio: 1/1;
				z-index: 2;
				border-radius: 75px;
				// border: 0.75px solid var(--stroke-hover, #333334);

				.indicator {
					width: 7px;
					height: 7px;
					flex-shrink: 0;
					background-color: var(--stroke-hover, #424548);
					border-radius: 50%;
				}
			}
			.content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 5px;
				align-self: stretch;
				position: relative;

				.line {
					height: calc(100% - 6px);
					width: 1px;
					background-color: var(--stroke-hover);
					position: absolute;
					left: -16px;
					top: 18px;
					z-index: 1;
				}

				.cot-plan {
					display: flex;
					flex-direction: column;
					gap: 4px;

					.plan-items {
						padding-left: 20px;
						margin: 0;
						list-style-type: circle;

						> :first-child {
							margin-top: 0 !important;
						}
						> :last-child {
							margin-bottom: 0 !important;
						}

						.plan {
							margin: 2px 0;
							color: var(--secondary-font, #f2f2f3);
							font-family: var(--chat-primary-font-family);
							font-size: 15px;
							font-style: normal;
							font-weight: 500;
							line-height: 20px;
						}
					}

					.plan-title {
						color: var(--primary-font, #f2f2f3);
						font-family: var(--chat-primary-font-family);
						font-size: 15px;
						font-style: normal;
						font-weight: 500;
					}
				}
				.sub-query {
					width: 100%;
					max-width: 550px;
					color: var(--primary-font, #f2f2f3);
					font-family: var(--chat-primary-font-family);
					font-size: 15px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px;

					&::first-letter {
						text-transform: capitalize;
					}
				}

				.sub-query-description {
					width: 100%;
					max-width: 550px;
					color: var(--secondary-font);
					font-family: var(--chat-primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 20px;
				}

				.sub-query-wrapper {
					display: flex;
					flex-direction: column;
					gap: 20px;
					.sub-query-cot {
						display: flex;
						gap: 10px;

						&:last-child {
							.sub-query-content {
								&::after {
									display: none;
								}
							}
						}

						.queries-wrapper {
							display: flex;
							flex-direction: column;
							gap: 4px;
							.tool-container {
								position: relative;
								&::after {
									content: '';
									height: 5px;
									width: 1px;
									background-color: var(--stroke);
									position: absolute;
									left: 10px;
									bottom: -5px;
								}
								.search {
									display: flex;
									justify-content: flex-start;
									align-items: center;
									gap: 4px;
									padding: 2px;

									.svg {
										height: 16px;
										margin-top: -3px;
									}

									.search-text {
										height: fit-content;
										color: var(--secondary-font, #7a7e85);
										font-family: var(--chat-primary-font-family);
										font-size: 13px;
										font-style: normal;
										font-weight: 500;
										height: fit-content;
										line-height: 18px;
									}
								}
							}

							.queries-container {
								display: flex;
								flex-direction: column;
								gap: 6px;
								.query-container {
									display: flex;
									align-items: flex-start;
									gap: 5px;
									align-self: stretch;
									padding-left: 41px;
									position: relative;

									&:last-child {
										.query {
											&::after {
												display: none;
											}
										}
									}
									.query-link {
										padding: 0 6px 10px 10px;
										position: absolute;
										left: 0;
										top: 0;
									}
									.query {
										color: var(--primary-font, #f2f2f3);
										font-family: var(--chat-primary-font-family);
										font-size: 14px;
										font-style: normal;
										font-weight: 500;
										line-height: 24px;
										position: relative;
										top: 7px;

										&::first-letter {
											text-transform: capitalize;
										}

										&::after {
											content: '';
											width: 1px;
											background-color: var(--stroke);
											position: absolute;
											left: -31px;
											top: -1px;
											height: calc(100% + 7px);
										}
									}
								}
							}
						}

						.sources-container {
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 8px;
							padding-top: 16px;
							.source-text {
								display: flex;
								align-items: center;
								gap: 4px;
								color: var(--secondary-font, #7f858f);
								font-family: var(--chat-primary-font-family);
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}

	.refined-cot-wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;
		.refined-cot-text {
			color: var(--primary-button, #f2f2f3);
			font-family: var(--chat-primary-font-family);
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
		}
	}
}

.animate-fade-in {
	animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes animate-background {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0.5;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
