.chat-reply-container {
	display: flex;
	height: 36px;
	// padding: 4px;
	align-items: center;
	gap: 2px;
	border-radius: 8px;
	// border: 1px solid var(--stroke, #2c2d2e);
	// background: var(--card, #18191b);
	position: absolute;

	.ask-btn-container {
		display: flex;
		width: 60px;
		padding: 6px 8px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 6px;
		background: var(--primary-button, #79ecc9);
		cursor: pointer;

		color: var(--background-color, #0c0c0d);
		font-family: var(--primary-font-family);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}
