.sidebarLayout {
	width: fit-content;
	display: flex;
	align-items: flex-start;
	position: fixed;
	gap: 12px;
	top: 0;
	left: 0;
	height: 100dvh;
	background: var(--background-color, #0c0c0d);
	z-index: 900;
	transform: translateX(-256px);
	transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1),
		background 0.3s cubic-bezier(0, 0, 0.2, 1);

	&.active {
		transform: translateX(0);
	}

	.sidebarContainer {
		width: 256px;
		padding: 8px 8px 0 8px;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: auto;

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 2px;
			width: 100%;
			padding: 2px 8px 2px 8px;
			.veLogo {
				display: flex;
				height: 32px;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				cursor: pointer;

				:global(svg) path {
					fill: var(--primary-button);
				}
			}
			.rightContainer {
				display: flex;

				.notificationsIcon {
					padding: 12px;
					display: flex;
					width: 40px;
					height: 40px;
					padding: 12px;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					svg {
						flex-shrink: 0;
					}
				}

				.closeIcon {
					display: flex;
					width: 40px;
					height: 40px;
					padding: 12px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					flex-shrink: 0;
					border-radius: 100px;
					cursor: pointer;
					border: 1px solid transparent;
					&:hover {
						background: var(--background-color, #1b1c1d);
						border: 1px solid var(--stroke);
					}

					:global(svg) {
						flex-shrink: 0;
					}

					:global(svg) path {
						stroke: var(--primary-font);
					}
				}
			}
		}

		.mainContent {
			display: flex;
			flex-direction: column;
			flex: 1 1 0%;
			overflow: auto;
		}

		.footer {
			display: flex;
			padding: 16px 8px;
			gap: 20px;
			align-self: stretch;
			justify-content: space-between;
			cursor: pointer;
			align-items: center;
			.leftContainer {
				display: flex;
				.userInfo {
					width: 100%;
					align-items: flex-start;
					display: flex;
					gap: 10px;
					position: relative;
					align-items: center;

					.workspaceImage {
						border-radius: 50%;
						object-fit: cover;
						position: absolute;
						top: 14px;
						left: 14px;
						width: 14px;
						border: 2px solid var(--popup);
						background-color: #b83910;
					}

					.profileImg {
						width: 24px;
						border-radius: 50%;
						object-fit: cover;
					}

					.nameInitials {
						align-items: center;
						background: var(--primary-button, #79ecc9);
						border-radius: 50%;
						color: var(--primary-font, #f2f2f3);
						display: flex;
						font-family: var(--primary-font-family);
						font-size: 14px;
						font-style: normal;
						font-weight: 600;
						justify-content: center;
						line-height: normal;
						width: 36px;
						height: 36px;
					}

					.userInfoDetails {
						flex: 1;
						display: flex;
						flex-direction: column;
						gap: 2px;

						.nameAndRole {
							display: flex;
							align-items: center;
							gap: 4px;

							.fullName {
								color: var(--primary-font, #f2f2f3);
								font-family: var(--primary-font-family);
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}

							.role {
								color: var(--secondary-font, #94989e);
								font-family: var(--primary-font-family);
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}
						}

						.businessName {
							color: var(--secondary-font, #94989e);
							font-family: var(--primary-font-family);
							font-size: 11px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}
				}
			}

			.rightContainer {
				.creditsLeftContainer {
					svg {
						width: 18px;
						height: 18px;
					}
				}

				.logoutButton {
					width: fit-content;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					padding: 8px;
					border-radius: 8px;
					background: transparent;
					transition: background 0.3s ease-in-out;
					color: var(--error, #c03744);
					font-family: var(--primary-font-family);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					&:hover {
						background: rgba(192, 55, 68, 0.2);
					}
				}
			}
		}
	}
}
.sidebarOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: var(--backdrop);
	z-index: 899;
	cursor: pointer;
}
.sidebarHoverElement {
	position: fixed;
	width: 36px;
	height: 100dvh;
	top: 0;
	left: 0;
	z-index: 899;
}

.sidebarCloseState {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s cubic-bezier(0.25, 0.5, 0.25, 1),
		transform 0.3s cubic-bezier(0, 0, 0.2, 1);
	position: fixed;
	top: 10px;
	left: 8px;
	z-index: 900;
	transform: translateX(256px);

	&.active {
		opacity: 1;
		pointer-events: auto;
		transform: translateX(0);
	}

	.btn {
		display: flex;
		width: 40px;
		height: 40px;
		padding: 12px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		border-radius: 100px;
		border: 1px solid transparent;
		&:hover {
			background-color: var(--background-color);
			border: 1px solid var(--stroke);
		}
	}

	.closeSidebar {
		transform: rotate(180deg);
		:global(svg) {
			flex-shrink: 0;
		}

		:global(svg) path {
			stroke: var(--primary-font);
		}
	}
}

.notificationsTooltip {
	max-width: unset;

	:global(.notificationsContainer) {
		top: 0;
	}
}

@media (max-width: 768px) {
	.sidebarHoverElement {
		display: none;
	}
}
